<html>    <head>        <title>Projects information</title>        <meta charset="UTF-8">        <meta name="viewport" content="width=device-width, initial-scale=1.0">        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">    </head>    <body><h2> <a href = "../../../index.html"> Projects </a> >> <a href = "../nubbles.html"> nubbles</a> >>00dcc173aaf6324e68342031f8a1ae3f28ad493b</h2>
        <div id="demo">
            <div class="table-responsive-vertical shadow-z-1">
                <table id="table" class="table table-hover table-mc-light-blue">
                    <thead>
                        <tr>
                            <th>Chunk</th>
                        </tr>
                    </thead>

                </table>
        <div>
<div class="table-responsive-vertical shadow-z-1" style="width: 80%; float: left; position: relative;">
                <!-- Table starts here -->
                <table id="tableConflict" class="table table-hover table-mc-light-blue">
                    <thead>
                        <tr>
                            <th>Conflicting content</th>
                            
                        </tr>
                    </thead>
                    <tbody>

                        <tr>
                            <td data-title="ConflictingContent"><pre>		});
		northSchedule.add(emailButton);
		
<<<<<<< HEAD
//	    // Factors
//		// TODO need to refresh menu when ??
//		factorsWindow = new FactorsWindow();
//		final SimpleComboBox<String> factors = new SimpleComboBox<String>();
//		final HashMap<String, Integer> facChoices = new HashMap<String, Integer>();
//		factors.setForceSelection(true);
//		JSONRequest.get("/sessions/options"
//			      , new HashMap<String, Object>() {{
//			    	  put("mode", "session_handles");
//			        }}
//			      , new JSONCallbackAdapter() {
//			@Override
//			public void onSuccess(JSONObject json) {
//				JSONArray sessions = json.get("session handles").isArray();
//				JSONArray ids = json.get("ids").isArray();
//				for (int i = 0; i< ids.size(); i += 1) {
//					String key = sessions.get(i).toString().replace('"', ' ').trim();
//					facChoices.put(key, (int)(ids.get(i).isNumber().doubleValue()));
//					factors.add(key);
//				}
//			}
//    	});
//		factors.setToolTip("Display a session's score factors.");
//	    	}
//							}
//						});
//		factors.setFieldLabel("Factors");
//		factors.setEditable(false);
//	    factors.addListener(Events.Select, new Listener<BaseEvent>() {
//	    	public void handleEvent(BaseEvent be) {
//	    		String label = factors.getSimpleValue();
//	    		Integer index = facChoices.get(label);
//	    		factorsWindow.setHeading(label + " (" + timezone + ")");
//	    		HashMap<String, Object> keys = new HashMap<String, Object>();
//	    		keys.put("id", index);
//	    		keys.put("tz", timezone);
//	    		String startStr = DateTimeFormat.getFormat("yyyy-MM-dd 00:00:00").format(startVacancyDateTime);
//	    		keys.put("start", startStr);
//	    		keys.put("duration", 24*60*numCalendarDays);
//				String msg = "Generating scheduling factors for " + label;
//				final MessageBox box = MessageBox.wait("Getting factors", msg, "Be Patient ...");
//				JSONRequest.get("/factors", keys,
//						new JSONCallbackAdapter() {
//							public void onSuccess(JSONObject json) {
//								box.close();
//								factorsWindow.update(json);
//	    });
//		northSchedule.add(factors);
=======
		// publishes all periods currently displayed (state moved from pending to scheduled)
		Button publishButton = new Button("Publish");
		publishButton.setToolTip("Publishs all the currently visible Periods: state is moved from Pending (P) to Scheduled (S) and become visible to Observer.");
		publishButton.addSelectionListener(new SelectionListener<ButtonEvent>() {
			@Override
			public void componentSelected(ButtonEvent be) {
				// make the JSON request for the periods so we can make appointments
				// we need the same url in a different format
	    		HashMap<String, Object> keys = new HashMap<String, Object>();
	    		String startStr = DateTimeFormat.getFormat("yyyy-MM-dd").format(startCalendarDay) + " 00:00:00";
	    		keys.put("start", startStr);
	    		keys.put("duration", numCalendarDays);
	    		keys.put("tz", timezone);	    		
				//final MessageBox box = MessageBox.confirm("Publish Pending Periods", "r u sure?", l);
				JSONRequest.post("/periods/publish", keys,
						new JSONCallbackAdapter() {
							public void onSuccess(JSONObject json) {
								System.out.println("/schedule/publish onSuccess");
								updateCalendar();
							}
						});
			}
		});
		northSchedule.add(publishButton);
		
		// deletes all pending periods currently displayed (state moved from pending to deleted)
		Button deletePendingBtn = new Button("Delete Pending");
		deletePendingBtn.setToolTip("Deletes all the currently visible Periods in the Pending (P) state.");
		deletePendingBtn.addSelectionListener(new SelectionListener<ButtonEvent>() {
			@Override
			public void componentSelected(ButtonEvent be) {
				// make the JSON request for the periods so we can make appointments
				// we need the same url in a different format
	    		HashMap<String, Object> keys = new HashMap<String, Object>();
	    		String startStr = DateTimeFormat.getFormat("yyyy-MM-dd").format(startCalendarDay) + " 00:00:00";
	    		keys.put("start", startStr);
	    		keys.put("duration", numCalendarDays);
	    		keys.put("tz", timezone);	    		
				//final MessageBox box = MessageBox.confirm("Publish Pending Periods", "r u sure?", l);
				JSONRequest.post("/periods/delete_pending", keys,
						new JSONCallbackAdapter() {
							public void onSuccess(JSONObject json) {
								System.out.println("/schedule/delete_pending onSuccess");
								updateCalendar();
							}
						});
			}
		});
		northSchedule.add(deletePendingBtn);		
>>>>>>> da2861657fc3f8849d217ac4d8eab57cc0639eee
		
		// 4 nominee controls:
		final FormPanel northNominee = new FormPanel();</pre></td>
                        </tr>

                    </tbody>
                </table>

                <table id="tableSolution" class="table table-hover table-mc-light-blue">
                    <thead>
                        <tr>
                            <th>Solution content</th>
                            
                        </tr>
                    </thead>
                    <tbody>

<tr>
                            <td data-title="SolutionContent"><pre>		});
		northSchedule.add(emailButton);
		
		// publishes all periods currently displayed (state moved from pending to scheduled)
		Button publishButton = new Button("Publish");
		publishButton.setToolTip("Publishs all the currently visible Periods: state is moved from Pending (P) to Scheduled (S) and become visible to Observer.");
		publishButton.addSelectionListener(new SelectionListener<ButtonEvent>() {
			@Override
			public void componentSelected(ButtonEvent be) {
				// make the JSON request for the periods so we can make appointments
				// we need the same url in a different format
	    		HashMap<String, Object> keys = new HashMap<String, Object>();
	    		String startStr = DateTimeFormat.getFormat("yyyy-MM-dd").format(startCalendarDay) + " 00:00:00";
	    		keys.put("start", startStr);
	    		keys.put("duration", numCalendarDays);
	    		keys.put("tz", timezone);	    		
				//final MessageBox box = MessageBox.confirm("Publish Pending Periods", "r u sure?", l);
				JSONRequest.post("/periods/publish", keys,
						new JSONCallbackAdapter() {
							public void onSuccess(JSONObject json) {
//		// TODO need to refresh menu when ??
//		factorsWindow = new FactorsWindow();
								System.out.println("/schedule/publish onSuccess");
								updateCalendar();
							}
						});
			}
		});
		northSchedule.add(publishButton);
		
		// deletes all pending periods currently displayed (state moved from pending to deleted)
		Button deletePendingBtn = new Button("Delete Pending");
		deletePendingBtn.setToolTip("Deletes all the currently visible Periods in the Pending (P) state.");
		deletePendingBtn.addSelectionListener(new SelectionListener<ButtonEvent>() {
			@Override
			public void componentSelected(ButtonEvent be) {
				// make the JSON request for the periods so we can make appointments
				// we need the same url in a different format
	    		HashMap<String, Object> keys = new HashMap<String, Object>();
	    		String startStr = DateTimeFormat.getFormat("yyyy-MM-dd").format(startCalendarDay) + " 00:00:00";
	    		keys.put("start", startStr);
	    		keys.put("duration", numCalendarDays);
	    		keys.put("tz", timezone);	    		
				//final MessageBox box = MessageBox.confirm("Publish Pending Periods", "r u sure?", l);
				JSONRequest.post("/periods/delete_pending", keys,
						new JSONCallbackAdapter() {
							public void onSuccess(JSONObject json) {
								System.out.println("/schedule/delete_pending onSuccess");
								updateCalendar();
							}
						});
			}
		});
		northSchedule.add(deletePendingBtn);		
		
//	    // Factors
//		final SimpleComboBox<String> factors = new SimpleComboBox<String>();
//		final HashMap<String, Integer> facChoices = new HashMap<String, Integer>();
//		factors.setForceSelection(true);
//		JSONRequest.get("/sessions/options"
//			      , new HashMap<String, Object>() {{
//			    	  put("mode", "session_handles");
//			        }}
//			      , new JSONCallbackAdapter() {
//			@Override
//			public void onSuccess(JSONObject json) {
//				JSONArray sessions = json.get("session handles").isArray();
//				JSONArray ids = json.get("ids").isArray();
//				for (int i = 0; i< ids.size(); i += 1) {
//					String key = sessions.get(i).toString().replace('"', ' ').trim();
//					facChoices.put(key, (int)(ids.get(i).isNumber().doubleValue()));
//					factors.add(key);
//				}
//			}
//    	});
//		factors.setToolTip("Display a session's score factors.");
//		factors.setFieldLabel("Factors");
//		factors.setEditable(false);
//	    factors.addListener(Events.Select, new Listener<BaseEvent>() {
//	    	public void handleEvent(BaseEvent be) {
//	    		String label = factors.getSimpleValue();
//	    		Integer index = facChoices.get(label);
//	    		factorsWindow.setHeading(label + " (" + timezone + ")");
//	    		HashMap<String, Object> keys = new HashMap<String, Object>();
//	    		keys.put("id", index);
//	    		keys.put("tz", timezone);
//	    		String startStr = DateTimeFormat.getFormat("yyyy-MM-dd 00:00:00").format(startVacancyDateTime);
//	    		keys.put("start", startStr);
//	    		keys.put("duration", 24*60*numCalendarDays);
//				String msg = "Generating scheduling factors for " + label;
//				final MessageBox box = MessageBox.wait("Getting factors", msg, "Be Patient ...");
//				JSONRequest.get("/factors", keys,
//						new JSONCallbackAdapter() {
//							public void onSuccess(JSONObject json) {
//								box.close();
//								factorsWindow.update(json);
//							}
//						});
//	    	}
//	    });
//		northSchedule.add(factors);
		
		// 4 nominee controls:
		final FormPanel northNominee = new FormPanel();</pre></td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
<div class="table-responsive-vertical shadow-z-1" style="width: 17.5%; float: right; position: relative;">
        
            <table id="tableFileName" class="table table-hover table-mc-light-blue">
                <thead>
                    <tr>
                        <th>File</th>                            
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td data-title="FileName">Schedule.java</td>
                    </tr>
                </tbody>
            </table>
            <table id="tableDeveloperDecision" class="table table-hover table-mc-light-blue">
                <thead>
                    <tr>
                        <th>Developer's decision</th>                            
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td data-title="DeveloperDecision">Concatenation</td>
                    </tr>
                </tbody>
            </table>

            <table id="tableKindConflict" class="table table-hover table-mc-light-blue">
                <thead>
                    <tr>
                        <th>Kind of conflict</th>                            
                    </tr>
                </thead>
                <tbody>

                    <tr>
                        <td data-title="KindConflict">Comment</td>
                    </tr>

                    <tr>
                        <td data-title="KindConflict"> Method invocation</td>
                    </tr>

                    <tr>
                        <td data-title="KindConflict"> Variable</td>
                    </tr>

                </tbody>
            </table>
        </div>
            </div>
        </div>
        
        <!-- Última versão JavaScript compilada e minificada -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" ></script>
        <script type="text/javascript" src="script.js"></script>
    </body>
</html>