<html>    <head>        <title>Projects information</title>        <meta charset="UTF-8">        <meta name="viewport" content="width=device-width, initial-scale=1.0">        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">    </head>    <body><h2> <a href = "../../../index.html"> Projects </a> >> <a href = "../Haven-and-Hearth-client-modified-by-Ender.html"> Haven-and-Hearth-client-modified-by-Ender</a> >>96c1dc19f8cd470cc69bd037ad5ea13e76853199</h2>
        <div id="demo">
            <div class="table-responsive-vertical shadow-z-1">
                <table id="table" class="table table-hover table-mc-light-blue">
                    <thead>
                        <tr>
                            <th>Chunk</th>
                        </tr>
                    </thead>

                </table>
        <div>
<div class="table-responsive-vertical shadow-z-1" style="width: 80%; float: left; position: relative;">
                <!-- Table starts here -->
                <table id="tableConflict" class="table table-hover table-mc-light-blue">
                    <thead>
                        <tr>
                            <th>Conflicting content</th>
                            
                        </tr>
                    </thead>
                    <tbody>

                        <tr>
                            <td data-title="ConflictingContent"><pre>	}
                
	public Text renderwrap(String text, Color c, int width) {
<<<<<<< HEAD
	    if(wfnd == null)
		wfnd = new RichText.Foundry(font, defcol);
	    text = RichText.Parser.quote(text);
	    if(c != null)
		text = String.format("$col[%i,%i,%i,%i]{%s}", c.getRed(), c.getGreen(), c.getBlue(), c.getAlpha(), text);
	    return(wfnd.render(text, width));
=======
	    Text t = new Text(text);
	    int y = 0;
	    int[] sl = findspaces(text);
	    int s = 0, e = 0, i = 0;
	    java.util.List<String> lines = new LinkedList<String>();
	    while(s < text.length()) {
		do {
		    int te;
		    if(i < sl.length)
			te = sl[i];
		    else
			te = text.length();
		    Coord b = strsize(text.substring(s, te));
		    if(b.x > width) {
			break;
		    } else {
			e = te;
			i++;
		    }
		    if((te < text.length()) && (text.charAt(te) == '\n')) {
			e = te;
			break;
		    }
		} while(i <= sl.length);
		if(e < s)
		    return(Text.render("Text rendering failure", Color.RED));
		String line = text.substring(s, e);
		lines.add(line);
		Coord b = strsize(line);
		y += b.y;
		s = e + 1;
	    }
	    t.img = TexI.mkbuf(new Coord(width, y));
	    Graphics g = t.img.createGraphics();
	    if(aa)
		Utils.AA(g);
	    g.setFont(font);
	    g.setColor(c);
	    t.m = g.getFontMetrics();
	    y = 0;
	    for(String line : lines) {
		g.drawString(line, 0, y + t.m.getAscent());
		Coord b = strsize(line);
		y += b.y;
	    }
	    g.dispose();
	    return(t);
>>>>>>> 8bf28eff41f80adf624173e88bb0865b2a9a297a
	}
                
	public Text renderwrap(String text, int width) {</pre></td>
                        </tr>

                    </tbody>
                </table>

                <table id="tableSolution" class="table table-hover table-mc-light-blue">
                    <thead>
                        <tr>
                            <th>Solution content</th>
                            
                        </tr>
                    </thead>
                    <tbody>

<tr>
                            <td data-title="SolutionContent"><pre>	}
                
	public Text renderwrap(String text, Color c, int width) {
	    if(wfnd == null)
		wfnd = new RichText.Foundry(font, defcol);
	    text = RichText.Parser.quote(text);
	    if(c != null)
		text = String.format("$col[%i,%i,%i,%i]{%s}", c.getRed(), c.getGreen(), c.getBlue(), c.getAlpha(), text);
	    return(wfnd.render(text, width));
	}
                
	public Text renderwrap(String text, int width) {</pre></td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
<div class="table-responsive-vertical shadow-z-1" style="width: 17.5%; float: right; position: relative;">
        
            <table id="tableFileName" class="table table-hover table-mc-light-blue">
                <thead>
                    <tr>
                        <th>File</th>                            
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td data-title="FileName">Text.java</td>
                    </tr>
                </tbody>
            </table>
            <table id="tableDeveloperDecision" class="table table-hover table-mc-light-blue">
                <thead>
                    <tr>
                        <th>Developer's decision</th>                            
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td data-title="DeveloperDecision">Version 1</td>
                    </tr>
                </tbody>
            </table>

            <table id="tableKindConflict" class="table table-hover table-mc-light-blue">
                <thead>
                    <tr>
                        <th>Kind of conflict</th>                            
                    </tr>
                </thead>
                <tbody>

                    <tr>
                        <td data-title="KindConflict">Attribute</td>
                    </tr>

                    <tr>
                        <td data-title="KindConflict"> For statement</td>
                    </tr>

                    <tr>
                        <td data-title="KindConflict"> If statement</td>
                    </tr>

                    <tr>
                        <td data-title="KindConflict"> Method invocation</td>
                    </tr>

                    <tr>
                        <td data-title="KindConflict"> Return statement</td>
                    </tr>

                    <tr>
                        <td data-title="KindConflict"> Variable</td>
                    </tr>

                    <tr>
                        <td data-title="KindConflict"> While statement</td>
                    </tr>

                </tbody>
            </table>
        </div>
            </div>
        </div>
        
        <!-- Última versão JavaScript compilada e minificada -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" ></script>
        <script type="text/javascript" src="script.js"></script>
    </body>
</html>