<html>    <head>        <title>Projects information</title>        <meta charset="UTF-8">        <meta name="viewport" content="width=device-width, initial-scale=1.0">        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">    </head>    <body><h2> <a href = "../../../index.html"> Projects </a> >> <a href = "../teamcity-local-cloud.html"> teamcity-local-cloud</a> >>30ccbe400980188e86d70adb8b69ab8dad37134c</h2>
        <div id="demo">
            <div class="table-responsive-vertical shadow-z-1">
                <table id="table" class="table table-hover table-mc-light-blue">
                    <thead>
                        <tr>
                            <th>Chunk</th>
                        </tr>
                    </thead>

                </table>
        <div>
<div class="table-responsive-vertical shadow-z-1" style="width: 80%; float: left; position: relative;">
                <!-- Table starts here -->
                <table id="tableConflict" class="table table-hover table-mc-light-blue">
                    <thead>
                        <tr>
                            <th>Conflicting content</th>
                            
                        </tr>
                    </thead>
                    <tbody>

                        <tr>
                            <td data-title="ConflictingContent"><pre>  public void start(@NotNull final CloudInstanceUserData data) {
    myStatus = InstanceStatus.STARTING;

<<<<<<< HEAD
    myAsync.submit(ExceptionUtil.catchAll("start local cloud: " + this, new StartAgentCommand(data)));
=======
    try {

      copyAgentToDestFolder();
      updateAgentPermissions();
      updateAgentProperties(data);

      doStart();
      myStatus = InstanceStatus.RUNNING;
    } catch (final Exception e) {
      processError(e);
    }
  }

  private void updateAgentProperties(@NotNull final CloudInstanceUserData data) throws IOException {
    File inConfigFile = new File(new File(myBaseDir, "conf"), "buildAgent.properties"), outConfigFile = inConfigFile;
    if (!inConfigFile.isFile()) {
      inConfigFile = new File(new File(myBaseDir, "conf"), "buildAgent.dist.properties");
      if (!inConfigFile.isFile()) {
        inConfigFile = null;
      }
    }
    final Properties config = PropertiesUtil.loadProperties(inConfigFile);

    config.put("serverUrl", data.getServerAddress());
    config.put("workDir", "../work");
    config.put("tempDir", "../temp");
    config.put("systemDir", "../system");

    //agent name and auth-token must be patched only once
    if (!myIsConfigPatched.getAndSet(true)) {
      config.put("name", data.getAgentName());
      config.put("authorizationToken", data.getAuthToken());
    }
    for (final Map.Entry<String, String> param : data.getCustomAgentConfigurationParameters().entrySet()) {
      config.put(param.getKey(), param.getValue());
    }
    config.put(IMAGE_ID_PARAM_NAME, getImageId());
    config.put(INSTANCE_ID_PARAM_NAME, myId);
    PropertiesUtil.storeProperties(config, outConfigFile, null);
  }

  private void copyAgentToDestFolder() throws IOException {
    //do not re-extract agent
    if (!myIsAgentExtracted.compareAndSet(false, true)) return;

    final File agentHomeDir = myImage.getAgentHomeDir();
    FileUtil.copyDir(agentHomeDir, myBaseDir, new FileFilter() {
      private final Set<String> ourDirsToNotToCopy = new HashSet<String>() {{
        Collections.addAll(this, "work", "temp", "system", "contrib");
      }};

      public boolean accept(@NotNull final File file) {
        return !file.isDirectory() || !file.getParentFile().equals(agentHomeDir) || !ourDirsToNotToCopy.contains(file.getName());
      }
    });
>>>>>>> dcad4d39b283cd3dc7bd548e17212b7d2bd19711
  }

  private void updateAgentPermissions() {</pre></td>
                        </tr>

                    </tbody>
                </table>

                <table id="tableSolution" class="table table-hover table-mc-light-blue">
                    <thead>
                        <tr>
                            <th>Solution content</th>
                            
                        </tr>
                    </thead>
                    <tbody>

<tr>
                            <td data-title="SolutionContent"><pre>  public void start(@NotNull final CloudInstanceUserData data) {
    myStatus = InstanceStatus.STARTING;

    myAsync.submit(ExceptionUtil.catchAll("start local cloud: " + this, new StartAgentCommand(data)));
  }

  public void restart() {
    waitForStatus(InstanceStatus.RUNNING);
    myStatus = InstanceStatus.RESTARTING;
    try {
      doStop();
      Thread.sleep(3000);
      doStart();
    } catch (final Exception e) {
      processError(e);
    }
  }

  public void terminate() {
    myStatus = InstanceStatus.STOPPING;
    try {
      doStop();
      myStatus = InstanceStatus.STOPPED;
      cleanupStoppedInstance();
    } catch (final Exception e) {
      processError(e);
    }
  }

  protected abstract void cleanupStoppedInstance();

  private void waitForStatus(@NotNull final InstanceStatus status) {
    new WaitFor(STATUS_WAITING_TIMEOUT) {
      @Override
      protected boolean condition() {
        return myStatus == status;
      }
    };
  }

  private void processError(@NotNull final Exception e) {
    final String message = e.getMessage();
    LOG.error(message, e);
    myErrorInfo = new CloudErrorInfo(message, message, e);
    myStatus = InstanceStatus.ERROR;
  }

  private void doStart() throws Exception {
    exec("start");
  }

  private void doStop() throws Exception {
    exec("stop", "force");
  }

  private void exec(@NotNull final String... params) throws Exception {
    final GeneralCommandLine cmd = new GeneralCommandLine();
    final File workDir = new File(myBaseDir, "bin");
    cmd.setWorkDirectory(workDir.getAbsolutePath());
    final Map<String, String> env = new HashMap<String, String>(System.getenv());
    //fix Java
    env.put("JAVA_HOME", System.getProperty("java.home"));

    if (SystemInfo.isWindows) {
      cmd.setExePath("cmd.exe");
      cmd.addParameter("/c");
      cmd.addParameter(new File(workDir, "agent.bat").getAbsolutePath());
    } else {
      cmd.setExePath("/bin/sh");
      cmd.addParameter(new File(workDir, "agent.sh").getAbsolutePath());
    }
    cmd.addParameters(params);

    LOG.info("Starting agent: " + cmd.getCommandLineString());
    ExecResult execResult = SimpleCommandLineProcessRunner.runCommand(cmd, null);
    LOG.info("Execution finished: " + execResult.getExitCode());
    LOG.info(execResult.getStdout());
    LOG.info(execResult.getStderr());
  }

  private class StartAgentCommand implements Runnable {
    private final CloudInstanceUserData myData;

    public StartAgentCommand(@NotNull final CloudInstanceUserData data) {
      myData = data;
    }

    private void copyAgentToDestFolder() throws IOException {
      //do not re-extract agent
      if (myIsAgentExtracted.getAndSet(true)) return;

      final File agentHomeDir = myImage.getAgentHomeDir();
      FileUtil.copyDir(agentHomeDir, myBaseDir, new FileFilter() {
        private final Set<String> ourDirsToNotToCopy = new HashSet<String>() {{
          Collections.addAll(this, "work", "temp", "system", "contrib");
        }};

        public boolean accept(@NotNull final File file) {
          return !file.isDirectory() || !file.getParentFile().equals(agentHomeDir) || !ourDirsToNotToCopy.contains(file.getName());
        }
      });
    }

    private void updateAgentProperties(@NotNull final CloudInstanceUserData data) throws IOException {
      File inConfigFile = new File(new File(myBaseDir, "conf"), "buildAgent.properties"), outConfigFile = inConfigFile;
      if (!inConfigFile.isFile()) {
        inConfigFile = new File(new File(myBaseDir, "conf"), "buildAgent.dist.properties");
        if (!inConfigFile.isFile()) {
          inConfigFile = null;
        }
      }
      final Properties config = PropertiesUtil.loadProperties(inConfigFile);

      config.put("serverUrl", data.getServerAddress());
      config.put("workDir", "../work");
      config.put("tempDir", "../temp");
      config.put("systemDir", "../system");

      //agent name and auth-token must be patched only once
      if (!myIsConfigPatched.getAndSet(true)) {
        config.put("name", data.getAgentName());
        config.put("authorizationToken", data.getAuthToken());
      }
      for (final Map.Entry<String, String> param : data.getCustomAgentConfigurationParameters().entrySet()) {
        config.put(param.getKey(), param.getValue());
      }
      config.put(IMAGE_ID_PARAM_NAME, getImageId());
      config.put(INSTANCE_ID_PARAM_NAME, myId);
      PropertiesUtil.storeProperties(config, outConfigFile, null);
    }

    private void updateAgentPermissions() {
      if (SystemInfo.isWindows) return;

      for (String dir : new String[]{"bin", "launcher/bin"}) {
        final File basePath = new File(myImage.getAgentHomeDir(), dir);
        final File[] files = basePath.listFiles(new FilenameFilter() {
          @Override
          public boolean accept(File dir, String name) {
            return name.endsWith(".sh");
          }
        });

        if (files == null) {
          LOG.warn("Failed to list files under " + basePath);
          continue;
        }

        for (File file : files) {
          try {
            FileUtil.setExectuableAttribute(file.getAbsolutePath(), true);
          } catch (IOException e) {
            LOG.warn("Failed to set writable permission for " + file + ". " + e.getMessage());
          }
        }
      }
    }

    @Override
    public void run() {
      try {

        if (myImage.isEternalStarting()) return;

        copyAgentToDestFolder();
        updateAgentPermissions();
        updateAgentProperties(myData);

        doStart();
        myStatus = InstanceStatus.RUNNING;
      } catch (final Exception e) {
        processError(e);
      }
    }
  }
}</pre></td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
<div class="table-responsive-vertical shadow-z-1" style="width: 17.5%; float: right; position: relative;">
        
            <table id="tableFileName" class="table table-hover table-mc-light-blue">
                <thead>
                    <tr>
                        <th>File</th>                            
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td data-title="FileName">LocalCloudInstance.java</td>
                    </tr>
                </tbody>
            </table>
            <table id="tableDeveloperDecision" class="table table-hover table-mc-light-blue">
                <thead>
                    <tr>
                        <th>Developer's decision</th>                            
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td data-title="DeveloperDecision">Manual</td>
                    </tr>
                </tbody>
            </table>

            <table id="tableKindConflict" class="table table-hover table-mc-light-blue">
                <thead>
                    <tr>
                        <th>Kind of conflict</th>                            
                    </tr>
                </thead>
                <tbody>

                    <tr>
                        <td data-title="KindConflict">Comment</td>
                    </tr>

                    <tr>
                        <td data-title="KindConflict"> If statement</td>
                    </tr>

                    <tr>
                        <td data-title="KindConflict"> Method declaration</td>
                    </tr>

                    <tr>
                        <td data-title="KindConflict"> Method invocation</td>
                    </tr>

                    <tr>
                        <td data-title="KindConflict"> Method signature</td>
                    </tr>

                    <tr>
                        <td data-title="KindConflict"> Try statement</td>
                    </tr>

                    <tr>
                        <td data-title="KindConflict"> Variable</td>
                    </tr>

                </tbody>
            </table>
        </div>
            </div>
        </div>
        
        <!-- Última versão JavaScript compilada e minificada -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" ></script>
        <script type="text/javascript" src="script.js"></script>
    </body>
</html>