<html>    <head>        <title>Projects information</title>        <meta charset="UTF-8">        <meta name="viewport" content="width=device-width, initial-scale=1.0">        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">    </head>    <body><h2> <a href = "../../../index.html"> Projects </a> >> <a href = "../elasticsearch.html"> elasticsearch</a> >>79329ddb7709691c1627614f6ed46f48c8f74d83</h2>
        <div id="demo">
            <div class="table-responsive-vertical shadow-z-1">
                <table id="table" class="table table-hover table-mc-light-blue">
                    <thead>
                        <tr>
                            <th>Chunk</th>
                        </tr>
                    </thead>

                </table>
        <div>
<div class="table-responsive-vertical shadow-z-1" style="width: 80%; float: left; position: relative;">
                <!-- Table starts here -->
                <table id="tableConflict" class="table table-hover table-mc-light-blue">
                    <thead>
                        <tr>
                            <th>Conflicting content</th>
                            
                        </tr>
                    </thead>
                    <tbody>

                        <tr>
                            <td data-title="ConflictingContent"><pre>        createIndexAndMappingAndSettings(Settings.EMPTY, completionMappingBuilder);
    }

<<<<<<< HEAD
=======
    private void createData(boolean optimize) throws IOException, InterruptedException, ExecutionException {
        String[][] input = {{"Foo Fighters"}, {"Generator", "Foo Fighters Generator"}, {"Learn to Fly", "Foo Fighters Learn to Fly"}, {"The Prodigy"}, {"Firestarter", "The Prodigy Firestarter"}, {"Turbonegro"}, {"Get it on", "Turbonegro Get it on"}};
        String[] surface = {"Foo Fighters", "Generator - Foo Fighters", "Learn to Fly - Foo Fighters", "The Prodigy", "Firestarter - The Prodigy", "Turbonegro", "Get it on - Turbonegro"};
        int[] weight = {10, 9, 8, 12, 11, 6, 7};
        IndexRequestBuilder[] builders = new IndexRequestBuilder[input.length];
        for (int i = 0; i < builders.length; i++) {
            builders[i] = client().prepareIndex(INDEX, TYPE, "" + i)
                    .setSource(jsonBuilder()
                            .startObject().startObject(FIELD)
                            .startArray("input").value(input[i]).endArray()
                            .field("output", surface[i])
                            .startObject("payload").field("id", i).endObject()
                            .field("weight", 1) // WE FORCEFULLY INDEX A BOGUS WEIGHT
                            .endObject()
                            .endObject()
                    );
        }
        indexRandom(false, builders);

        for (int i = 0; i < builders.length; i++) { // add them again to make sure we deduplicate on the surface form
            builders[i] = client().prepareIndex(INDEX, TYPE, "n" + i)
                    .setSource(jsonBuilder()
                            .startObject().startObject(FIELD)
                            .startArray("input").value(input[i]).endArray()
                            .field("output", surface[i])
                            .startObject("payload").field("id", i).endObject()
                            .field("weight", weight[i])
                            .endObject()
                            .endObject()
                    );
        }
        indexRandom(false, builders);

        client().admin().indices().prepareRefresh(INDEX).execute().actionGet();
        if (optimize) {
            // make sure merging works just fine
            client().admin().indices().prepareFlush(INDEX).execute().actionGet();
            client().admin().indices().prepareForceMerge(INDEX).setMaxNumSegments(randomIntBetween(1, 5)).get();
        }
    }

>>>>>>> 0788fff197056b7301460b215a73813c5ab3abe5
    @Test // see #3555
    public void testPrunedSegments() throws IOException {
        createIndexAndMappingAndSettings(settingsBuilder().put(SETTING_NUMBER_OF_SHARDS, 1).put(SETTING_NUMBER_OF_REPLICAS, 0).build(), completionMappingBuilder);</pre></td>
                        </tr>

                    </tbody>
                </table>

                <table id="tableSolution" class="table table-hover table-mc-light-blue">
                    <thead>
                        <tr>
                            <th>Solution content</th>
                            
                        </tr>
                    </thead>
                    <tbody>

<tr>
                            <td data-title="SolutionContent"><pre>        createIndexAndMappingAndSettings(Settings.EMPTY, completionMappingBuilder);
    }

    @Test // see #3555
    public void testPrunedSegments() throws IOException {
        createIndexAndMappingAndSettings(settingsBuilder().put(SETTING_NUMBER_OF_SHARDS, 1).put(SETTING_NUMBER_OF_REPLICAS, 0).build(), completionMappingBuilder);</pre></td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
<div class="table-responsive-vertical shadow-z-1" style="width: 17.5%; float: right; position: relative;">
        
            <table id="tableFileName" class="table table-hover table-mc-light-blue">
                <thead>
                    <tr>
                        <th>File</th>                            
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td data-title="FileName">CompletionSuggestSearchIT.java</td>
                    </tr>
                </tbody>
            </table>
            <table id="tableDeveloperDecision" class="table table-hover table-mc-light-blue">
                <thead>
                    <tr>
                        <th>Developer's decision</th>                            
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td data-title="DeveloperDecision">Version 1</td>
                    </tr>
                </tbody>
            </table>

            <table id="tableKindConflict" class="table table-hover table-mc-light-blue">
                <thead>
                    <tr>
                        <th>Kind of conflict</th>                            
                    </tr>
                </thead>
                <tbody>

                    <tr>
                        <td data-title="KindConflict">Method declaration</td>
                    </tr>

                </tbody>
            </table>
        </div>
            </div>
        </div>
        
        <!-- Última versão JavaScript compilada e minificada -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" ></script>
        <script type="text/javascript" src="script.js"></script>
    </body>
</html>