<html>    <head>        <title>Projects information</title>        <meta charset="UTF-8">        <meta name="viewport" content="width=device-width, initial-scale=1.0">        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">    </head>    <body><h2> <a href = "../../../index.html"> Projects </a> >> <a href = "../zk.html"> zk</a> >>56d0f44232ddccdfb4dc075fc9e1d07ef9905bc5</h2>
        <div id="demo">
            <div class="table-responsive-vertical shadow-z-1">
                <table id="table" class="table table-hover table-mc-light-blue">
                    <thead>
                        <tr>
                            <th>Chunk</th>
                        </tr>
                    </thead>

                </table>
        <div>
<div class="table-responsive-vertical shadow-z-1" style="width: 80%; float: left; position: relative;">
                <!-- Table starts here -->
                <table id="tableConflict" class="table table-hover table-mc-light-blue">
                    <thead>
                        <tr>
                            <th>Conflicting content</th>
                            
                        </tr>
                    </thead>
                    <tbody>

                        <tr>
                            <td data-title="ConflictingContent"><pre><<<<<<< HEAD
/* RepeatableInputStream.java

 Purpose:
 
 Description:
 
 History:
 Mar 12, 2008 12:03:53 PM , Created by jumperchen

 Copyright (C) 2008 Potix Corporation. All Rights Reserved.

 {{IS_RIGHT
 This program is distributed under LGPL Version 3.0 in the hope that
 it will be useful, but WITHOUT ANY WARRANTY.
 }}IS_RIGHT
 */
package org.zkoss.io;

import java.io.BufferedInputStream;
import java.io.BufferedOutputStream;
import java.io.ByteArrayInputStream;
import java.io.ByteArrayOutputStream;
import java.io.File;
import java.io.FileInputStream;
import java.io.FileOutputStream;
import java.io.IOException;
import java.io.InputStream;
import java.io.OutputStream;
import java.io.FileNotFoundException;
import java.net.URL;

import org.zkoss.lang.Library;
import org.zkoss.util.logging.Log;

/**
 * {@link RepeatableInputStream} adds functionality to another input stream,
 * the ability to read repeatedly.
 * By repeatable-read we meaen, after {@link #close}, the next invocation of
 * {@link #read} will re-open the input stream.
 *
 * <p>{@link RepeatableInputStream} actually creates a temporary space
 * to buffer the content, so it can be re-opened again after closed.
 * Notice that the temporary space (aka., the buffered input stream)
 * is never closed until garbage-collected.
 *
 * <p>If the content size of the given input stream is smaller than
 * the value specified in the system property called
 * "org.zkoss.io.memoryLimitSize", the content will be buffered in
 * the memory. If the size exceeds, the content will be buffered in
 * a temporary file. By default, it is 512KB.
 * Note: the maximal value is {@link Integer#MAX_VALUE}
 *
 * <p>If the content size of the given input stream is larger than
 * the value specified in the system property called
 * "org.zkoss.io.bufferLimitSize", the content won't be buffered,
 * and it means the read is not repeatable. By default, it is 20MB.
 * Note: the maximal value is {@link Integer#MAX_VALUE}
 * 
 * @author jumperchen
 * @author tomyeh
 * @since 3.0.4
 */
public class RepeatableInputStream extends InputStream implements Repeatable {
	private static final Log log = Log.lookup(RepeatableInputStream.class);

	/*package*/ static final String BUFFER_LIMIT_SIZE = "org.zkoss.io.bufferLimitSize";
	/*package*/ static final String MEMORY_LIMIT_SIZE = "org.zkoss.io.memoryLimitSize";

	private InputStream _org;
	private OutputStream _out;
	private InputStream _in;
	private File _f;
	/** The content size. It is meaningful only if !_nobuf.
	 * Note: int is enough (since long makes no sense for buffering)
	 */
	private int _cntsz;
	private final int _bufmaxsz, _memmaxsz;
	private boolean _nobuf;

	private RepeatableInputStream(InputStream is) {
		_org = is;
		_bufmaxsz = Library.getIntProperty(BUFFER_LIMIT_SIZE, 20 * 1024 * 1024);
		_memmaxsz = Library.getIntProperty(MEMORY_LIMIT_SIZE, 512 * 1024);
	}

	/**
	 * Returns an input stream that can be read repeatedly, or null if the
	 * given input stream is null.
	 * Note: the returned input stream encapsulates the given input stream, rd
	 * (aka., the buffered input stream) to adds the functionality to
	 * re-opens the input stream once {@link #close} is called.
	 *
	 * <p>By repeatable-read we meaen, after {@link #close}, the next
	 * invocation of {@link #read} will re-open the input stream.
	 *
	 * <p>Use this method instead of instantiating {@link RepeatableInputStream}
	 * with the constructor.
	 *
	 * @see #getInstance(File)
	 */
	public static InputStream getInstance(InputStream is) {
		if (is instanceof ByteArrayInputStream)
			return new ResetableInputStream(is);
		else if (is != null && !(is instanceof Repeatable))
			return new RepeatableInputStream(is);
		return is;
	}
	/**
	 * Returns an input stream of a file that can be read repeatedly.
	 * Note: it assumes the file is binary (rather than text).
	 *
	 * <p>By repeatable-read we meaen, after {@link #close}, the next
	 * invocation of {@link #read} will re-open the input stream.
	 *
	 * <p>Note: it is effecient since we don't have to buffer the
	 * content of the file to make it repeatable-read.
	 *
	 * @exception IllegalArgumentException if file is null.
	 * @exception FileNotFoundException if file not found
	 * @see #getInstance(InputStream)
 	 * @see #getInstance(String)
	 */
	public static InputStream getInstance(File file)
	throws FileNotFoundException {
		if (file == null)
			throw new IllegalArgumentException("null");
		if (!file.exists())
			throw new FileNotFoundException(file.toString());
		return new RepeatableFileInputStream(file);
	}
	/**
	 * Returns an input stream of a file that can be read repeatedly.
	 * Note: it assumes the file is binary (rather than text).
	 *
	 * <p>By repeatable-read we meaen, after {@link #close}, the next
	 * invocation of {@link #read} will re-open the input stream.
	 *
	 * <p>Note: it is effecient since we don't have to buffer the
	 * content of the file to make it repeatable-read.
	 *
	 * @exception IllegalArgumentException if file is null.
	 * @see #getInstance(InputStream)
	 * @see #getInstance(File)
	 */
	public static InputStream getInstance(String filename)
	throws FileNotFoundException {
		return getInstance(new File(filename));
	}
	/**
	 * Returns an input stream of the resource of the given URL
	 * that can be read repeatedly.
	 * Note: it assumes the resource is binary (rather than text).
	 *
	 * <p>By repeatable-read we meaen, after {@link #close}, the next
	 * invocation of {@link #read} will re-open the input stream.
	 *
	 * <p>Note: it is effecient since we don't have to buffer the
	 * content of the resource to make it repeatable-read.
	 *
	 * @exception IllegalArgumentException if url is null.
	 * @see #getInstance(InputStream)
 	 * @see #getInstance(String)
	 */
	public static InputStream getInstance(URL url) {
		if (url == null)
			throw new IllegalArgumentException("null");
		return new RepeatableURLInputStream(url);
	}

	private OutputStream getOutputStream() throws IOException {
		if (_out == null)
			return _nobuf ? null: (_out = new ByteArrayOutputStream());
				//it is possible _membufsz <= 0, but OK to use memory first

		if (_cntsz >= _bufmaxsz) { //too large to buffer
			disableBuffering();
			return null;
		}

		if (_f == null && _cntsz >= _memmaxsz) { //memory to file
			try {
				final File f =
					new File(System.getProperty("java.io.tmpdir"), "zk");
				if (!f.isDirectory())
					f.mkdir();
				_f = File.createTempFile("zk.io", ".zk.io", f);
				final byte[] bs = ((ByteArrayOutputStream)_out).toByteArray();
				_out = new BufferedOutputStream(new FileOutputStream(_f));
				_out.write(bs);
			} catch (Throwable ex) {
				log.warning("Ingored: failed to buffer to a file, "+_f+"\nCause: "+ex.getMessage());
				disableBuffering();
			}
		}
		return _out;
	}
	private void disableBuffering() {
		_nobuf = true;
		if (_out != null) {
			try {
				_out.close();
			} catch (Throwable ex) { //ignore
			}
			_out = null;
		}
		if (_f != null) {
			try {
				_f.delete();
			} catch (Throwable ex) { //ignore
			}
			_f = null;
		}
	}

	public int read() throws IOException {
		if (_org != null) {
			final int b = _org.read();
			if (!_nobuf)
				if (b >= 0) {
					final OutputStream out = getOutputStream();
					if (out != null) out.write(b);
					++_cntsz;
				}
			return b;
		} else {
			if (_in == null)
				_in = new BufferedInputStream(new FileInputStream(_f)); //_f must be non-null

			return _in.read();
		}
	}

	/** Closes the current access, and the next call of {@link #close}
	 * re-opens the buffered input stream.
	 */
	public void close() throws IOException {
		_cntsz = 0;
		if (_org != null) {
			_org.close();

			if (_out != null) {
				try {
					_out.close();
				} catch (Throwable ex) {
					log.warning("Ignored: failed to close the buffer.\nCause: "+ex.getMessage());
					disableBuffering();
					return;
				}
				if (_f == null)
					_in = new ByteArrayInputStream(
						((ByteArrayOutputStream)_out).toByteArray());
					//we don't initilize _in if _f is not null
					//to reduce memory use (after all, read might not be called)
				_out = null;
				_org = null;
			}
		} else if (_in != null) {
			if (_f != null) {
				_in.close();
				_in = null;
			} else {
				_in.reset();
			}
		}
	}

	//Object//
	protected void finalize() throws Throwable {
		disableBuffering();
		if (_org != null)
			_org.close();
		if (_in != null) {
			_in.close();
			_in = null;
		}
		super.finalize();
	}
}
/*package*/ class ResetableInputStream extends InputStream
implements Repeatable {
	private final InputStream _org;
	ResetableInputStream(InputStream bais) {
		_org = bais;
	}

	public int read() throws IOException {
		return _org.read();
	}
	/** Closes the current access, and the next call of {@link #read}
	 * re-opens the buffered input stream.
	 */
	public void close() throws IOException {
		_org.reset();
	}

	//Object//
	protected void finalize() throws Throwable {
		_org.close();
		super.finalize();
	}
}
/*package*/ class RepeatableFileInputStream extends InputStream
implements Repeatable {
	private final File _file;
	private InputStream _in;

	RepeatableFileInputStream(File file) {
		_file = file;
	}

	public int read() throws IOException {
		if (_in == null)
			_in = new BufferedInputStream(new FileInputStream(_file));
		return _in.read();
	}
	/** Closes the current access, and the next call of {@link #read}
	 * re-opens the buffered input stream.
	 */
	public void close() throws IOException {
		if (_in != null) {
			_in.close();
			_in = null;
		}
	}

	//Object//
	protected void finalize() throws Throwable {
		close();
		super.finalize();
	}
}
/*package*/ class RepeatableURLInputStream extends InputStream
implements Repeatable {
	private final URL _url;
	private InputStream _in;

	RepeatableURLInputStream(URL url) {
		_url = url;
	}

	public int read() throws IOException {
		if (_in == null) {
			_in = _url.openStream();
			if (_in == null) throw new FileNotFoundException(_url.toExternalForm());
			_in = new BufferedInputStream(_in);
		}
		return _in.read();
	}
	/** Closes the current access, and the next call of {@link #read}
	 * re-opens the buffered input stream.
	 */
	public void close() throws IOException {
		if (_in != null) {
			_in.close();
			_in = null;
		}
	}

	//Object//
	protected void finalize() throws Throwable {
		close();
		super.finalize();
	}
}
=======
/* RepeatableInputStream.java

 {{IS_NOTE
 Purpose:
 
 Description:
 
 History:
 Mar 12, 2008 12:03:53 PM , Created by jumperchen
 }}IS_NOTE

 Copyright (C) 2008 Potix Corporation. All Rights Reserved.

 {{IS_RIGHT
 This program is distributed under GPL Version 3.0 in the hope that
 it will be useful, but WITHOUT ANY WARRANTY.
 }}IS_RIGHT
 */
package org.zkoss.io;

import java.io.BufferedInputStream;
import java.io.BufferedOutputStream;
import java.io.ByteArrayInputStream;
import java.io.ByteArrayOutputStream;
import java.io.File;
import java.io.FileInputStream;
import java.io.FileOutputStream;
import java.io.IOException;
import java.io.InputStream;
import java.io.OutputStream;
import java.io.FileNotFoundException;
import java.net.URL;

import org.zkoss.lang.Library;
import org.zkoss.util.logging.Log;

/**
 * {@link RepeatableInputStream} adds functionality to another input stream,
 * the ability to read repeatedly.
 * By repeatable-read we meaen, after {@link #close}, the next invocation of
 * {@link #read} will re-open the input stream.
 *
 * <p>{@link RepeatableInputStream} actually creates a temporary space
 * to buffer the content, so it can be re-opened again after closed.
 * Notice that the temporary space (aka., the buffered input stream)
 * is never closed until garbage-collected.
 *
 * <p>If the content size of the given input stream is smaller than
 * the value specified in the system property called
 * "org.zkoss.io.memoryLimitSize", the content will be buffered in
 * the memory. If the size exceeds, the content will be buffered in
 * a temporary file. By default, it is 512KB.
 * Note: the maximal value is {@link Integer#MAX_VALUE}
 *
 * <p>If the content size of the given input stream is larger than
 * the value specified in the system property called
 * "org.zkoss.io.bufferLimitSize", the content won't be buffered,
 * and it means the read is not repeatable. By default, it is 20MB.
 * Note: the maximal value is {@link Integer#MAX_VALUE}
 * 
 * @author jumperchen
 * @author tomyeh
 * @since 3.0.4
 */
public class RepeatableInputStream extends InputStream implements Repeatable {
	private static final Log log = Log.lookup(RepeatableInputStream.class);

	/*package*/ static final String BUFFER_LIMIT_SIZE = "org.zkoss.io.bufferLimitSize";
	/*package*/ static final String MEMORY_LIMIT_SIZE = "org.zkoss.io.memoryLimitSize";

	private InputStream _org;
	private OutputStream _out;
	private InputStream _in;
	private File _f;
	/** The content size. It is meaningful only if !_nobuf.
	 * Note: int is enough (since long makes no sense for buffering)
	 */
	private int _cntsz;
	private final int _bufmaxsz, _memmaxsz;
	private boolean _nobuf;

	private RepeatableInputStream(InputStream is) {
		_org = is;
		_bufmaxsz = Library.getIntProperty(BUFFER_LIMIT_SIZE, 20 * 1024 * 1024);
		_memmaxsz = Library.getIntProperty(MEMORY_LIMIT_SIZE, 512 * 1024);
	}

	/**
	 * Returns an input stream that can be read repeatedly, or null if the
	 * given input stream is null.
	 * Note: the returned input stream encapsulates the given input stream, rd
	 * (aka., the buffered input stream) to adds the functionality to
	 * re-opens the input stream once {@link #close} is called.
	 *
	 * <p>By repeatable-read we meaen, after {@link #close}, the next
	 * invocation of {@link #read} will re-open the input stream.
	 *
	 * <p>Use this method instead of instantiating {@link RepeatableInputStream}
	 * with the constructor.
	 *
	 * @see #getInstance(File)
	 */
	public static InputStream getInstance(InputStream is) {
		if (is instanceof ByteArrayInputStream)
			return new ResetableInputStream(is);
		else if (is != null && !(is instanceof Repeatable))
			return new RepeatableInputStream(is);
		return is;
	}
	/**
	 * Returns an input stream of a file that can be read repeatedly.
	 * Note: it assumes the file is binary (rather than text).
	 *
	 * <p>By repeatable-read we meaen, after {@link #close}, the next
	 * invocation of {@link #read} will re-open the input stream.
	 *
	 * <p>Note: it is effecient since we don't have to buffer the
	 * content of the file to make it repeatable-read.
	 *
	 * @exception IllegalArgumentException if file is null.
	 * @exception FileNotFoundException if file not found
	 * @see #getInstance(InputStream)
 	 * @see #getInstance(String)
	 */
	public static InputStream getInstance(File file)
	throws FileNotFoundException {
		if (file == null)
			throw new IllegalArgumentException("null");
		if (!file.exists())
			throw new FileNotFoundException(file.toString());
		return new RepeatableFileInputStream(file);
	}
	/**
	 * Returns an input stream of a file that can be read repeatedly.
	 * Note: it assumes the file is binary (rather than text).
	 *
	 * <p>By repeatable-read we meaen, after {@link #close}, the next
	 * invocation of {@link #read} will re-open the input stream.
	 *
	 * <p>Note: it is effecient since we don't have to buffer the
	 * content of the file to make it repeatable-read.
	 *
	 * @exception IllegalArgumentException if file is null.
	 * @see #getInstance(InputStream)
	 * @see #getInstance(File)
	 */
	public static InputStream getInstance(String filename)
	throws FileNotFoundException {
		return getInstance(new File(filename));
	}
	/**
	 * Returns an input stream of the resource of the given URL
	 * that can be read repeatedly.
	 * Note: it assumes the resource is binary (rather than text).
	 *
	 * <p>By repeatable-read we meaen, after {@link #close}, the next
	 * invocation of {@link #read} will re-open the input stream.
	 *
	 * <p>Note: it is effecient since we don't have to buffer the
	 * content of the resource to make it repeatable-read.
	 *
	 * @exception IllegalArgumentException if url is null.
	 * @see #getInstance(InputStream)
 	 * @see #getInstance(String)
	 */
	public static InputStream getInstance(URL url) {
		if (url == null)
			throw new IllegalArgumentException("null");
		return new RepeatableURLInputStream(url);
	}

	private OutputStream getOutputStream() throws IOException {
		if (_out == null)
			return _nobuf ? null: (_out = new ByteArrayOutputStream());
				//it is possible _membufsz <= 0, but OK to use memory first

		if (_cntsz >= _bufmaxsz) { //too large to buffer
			disableBuffering();
			return null;
		}

		if (_f == null && _cntsz >= _memmaxsz) { //memory to file
			try {
				final File f =
					new File(System.getProperty("java.io.tmpdir"), "zk");
				if (!f.isDirectory())
					f.mkdir();
				_f = File.createTempFile("zk.io", ".zk.io", f);
				final byte[] bs = ((ByteArrayOutputStream)_out).toByteArray();
				_out = new BufferedOutputStream(new FileOutputStream(_f));
				_out.write(bs);
			} catch (Throwable ex) {
				log.warning("Ingored: failed to buffer to a file, "+_f+"\nCause: "+ex.getMessage());
				disableBuffering();
			}
		}
		return _out;
	}
	private void disableBuffering() {
		_nobuf = true;
		if (_out != null) {
			try {
				_out.close();
			} catch (Throwable ex) { //ignore
			}
			_out = null;
		}
		if (_f != null) {
			try {
				_f.delete();
			} catch (Throwable ex) { //ignore
			}
			_f = null;
		}
	}

	public int read() throws IOException {
		if (_org != null) {
			final int b = _org.read();
			if (!_nobuf)
				if (b >= 0) {
					final OutputStream out = getOutputStream();
					if (out != null) out.write(b);
					++_cntsz;
				}
			return b;
		} else {
			if (_in == null)
				_in = new BufferedInputStream(new FileInputStream(_f)); //_f must be non-null

			return _in.read();
		}
	}

	/** Closes the current access, and the next call of {@link #close}
	 * re-opens the buffered input stream.
	 */
	public void close() throws IOException {
		_cntsz = 0;
		if (_org != null) {
			_org.close();

			if (_out != null) {
				try {
					_out.close();
				} catch (Throwable ex) {
					log.warning("Ignored: failed to close the buffer.\nCause: "+ex.getMessage());
					disableBuffering();
					return;
				}
				if (_f == null)
					_in = new ByteArrayInputStream(
						((ByteArrayOutputStream)_out).toByteArray());
					//we don't initilize _in if _f is not null
					//to reduce memory use (after all, read might not be called)
				_out = null;
				_org = null;
			}
		} else if (_in != null) {
			if (_f != null) {
				_in.close();
				_in = null;
			} else {
				_in.reset();
			}
		}
	}

	//Object//
	protected void finalize() throws Throwable {
		disableBuffering();
		if (_org != null)
			_org.close();
		if (_in != null) {
			_in.close();
			_in = null;
		}
		super.finalize();
	}
}
/*package*/ class ResetableInputStream extends InputStream
implements Repeatable {
	private final InputStream _org;
	ResetableInputStream(InputStream bais) {
		_org = bais;
	}

	public int read() throws IOException {
		return _org.read();
	}
	/** Closes the current access, and the next call of {@link #read}
	 * re-opens the buffered input stream.
	 */
	public void close() throws IOException {
		_org.reset();
	}

	//Object//
	protected void finalize() throws Throwable {
		_org.close();
		super.finalize();
	}
}
/*package*/ class RepeatableFileInputStream extends InputStream
implements Repeatable {
	private final File _file;
	private InputStream _in;

	RepeatableFileInputStream(File file) {
		_file = file;
	}

	public int read() throws IOException {
		if (_in == null)
			_in = new BufferedInputStream(new FileInputStream(_file));
		return _in.read();
	}
	/** Closes the current access, and the next call of {@link #read}
	 * re-opens the buffered input stream.
	 */
	public void close() throws IOException {
		if (_in != null) {
			_in.close();
			_in = null;
		}
	}

	//Object//
	protected void finalize() throws Throwable {
		close();
		super.finalize();
	}
}
/*package*/ class RepeatableURLInputStream extends InputStream
implements Repeatable {
	private final URL _url;
	private InputStream _in;

	RepeatableURLInputStream(URL url) {
		_url = url;
	}

	public int read() throws IOException {
		if (_in == null) {
			_in = _url.openStream();
			if (_in == null) throw new FileNotFoundException(_url.toExternalForm());
			_in = new BufferedInputStream(_in);
		}
		return _in.read();
	}
	/** Closes the current access, and the next call of {@link #read}
	 * re-opens the buffered input stream.
	 */
	public void close() throws IOException {
		if (_in != null) {
			_in.close();
			_in = null;
		}
	}

	//Object//
	protected void finalize() throws Throwable {
		close();
		super.finalize();
	}
}
>>>>>>> 248f8eca2b2875504f1b07e87b45773a40deb56f</pre></td>
                        </tr>

                    </tbody>
                </table>

                <table id="tableSolution" class="table table-hover table-mc-light-blue">
                    <thead>
                        <tr>
                            <th>Solution content</th>
                            
                        </tr>
                    </thead>
                    <tbody>

<tr>
                            <td data-title="SolutionContent"><pre>/* RepeatableInputStream.java

 Purpose:
 
 Description:
 
 History:
 Mar 12, 2008 12:03:53 PM , Created by jumperchen

 Copyright (C) 2008 Potix Corporation. All Rights Reserved.

 {{IS_RIGHT
 This program is distributed under LGPL Version 3.0 in the hope that
 it will be useful, but WITHOUT ANY WARRANTY.
 }}IS_RIGHT
 */
package org.zkoss.io;

import java.io.BufferedInputStream;
import java.io.BufferedOutputStream;
import java.io.ByteArrayInputStream;
import java.io.ByteArrayOutputStream;
import java.io.File;
import java.io.FileInputStream;
import java.io.FileOutputStream;
import java.io.IOException;
import java.io.InputStream;
import java.io.OutputStream;
import java.io.FileNotFoundException;
import java.net.URL;

import org.zkoss.lang.Library;
import org.zkoss.util.logging.Log;

/**
 * {@link RepeatableInputStream} adds functionality to another input stream,
 * the ability to read repeatedly.
 * By repeatable-read we meaen, after {@link #close}, the next invocation of
 * {@link #read} will re-open the input stream.
 *
 * <p>{@link RepeatableInputStream} actually creates a temporary space
 * to buffer the content, so it can be re-opened again after closed.
 * Notice that the temporary space (aka., the buffered input stream)
 * is never closed until garbage-collected.
 *
 * <p>If the content size of the given input stream is smaller than
 * the value specified in the system property called
 * "org.zkoss.io.memoryLimitSize", the content will be buffered in
 * the memory. If the size exceeds, the content will be buffered in
 * a temporary file. By default, it is 512KB.
 * Note: the maximal value is {@link Integer#MAX_VALUE}
 *
 * <p>If the content size of the given input stream is larger than
 * the value specified in the system property called
 * "org.zkoss.io.bufferLimitSize", the content won't be buffered,
 * and it means the read is not repeatable. By default, it is 20MB.
 * Note: the maximal value is {@link Integer#MAX_VALUE}
 * 
 * @author jumperchen
 * @author tomyeh
 * @since 3.0.4
 */
public class RepeatableInputStream extends InputStream implements Repeatable {
	private static final Log log = Log.lookup(RepeatableInputStream.class);

	/*package*/ static final String BUFFER_LIMIT_SIZE = "org.zkoss.io.bufferLimitSize";
	/*package*/ static final String MEMORY_LIMIT_SIZE = "org.zkoss.io.memoryLimitSize";

	private InputStream _org;
	private OutputStream _out;
	private InputStream _in;
	private File _f;
	/** The content size. It is meaningful only if !_nobuf.
	 * Note: int is enough (since long makes no sense for buffering)
	 */
	private int _cntsz;
	private final int _bufmaxsz, _memmaxsz;
	private boolean _nobuf;

	private RepeatableInputStream(InputStream is) {
		_org = is;
		_bufmaxsz = Library.getIntProperty(BUFFER_LIMIT_SIZE, 20 * 1024 * 1024);
		_memmaxsz = Library.getIntProperty(MEMORY_LIMIT_SIZE, 512 * 1024);
	}

	/**
	 * Returns an input stream that can be read repeatedly, or null if the
	 * given input stream is null.
	 * Note: the returned input stream encapsulates the given input stream, rd
	 * (aka., the buffered input stream) to adds the functionality to
	 * re-opens the input stream once {@link #close} is called.
	 *
	 * <p>By repeatable-read we meaen, after {@link #close}, the next
	 * invocation of {@link #read} will re-open the input stream.
	 *
	 * <p>Use this method instead of instantiating {@link RepeatableInputStream}
	 * with the constructor.
	 *
	 * @see #getInstance(File)
	 */
	public static InputStream getInstance(InputStream is) {
		if (is instanceof ByteArrayInputStream)
			return new ResetableInputStream(is);
		else if (is != null && !(is instanceof Repeatable))
			return new RepeatableInputStream(is);
		return is;
	}
	/**
	 * Returns an input stream of a file that can be read repeatedly.
	 * Note: it assumes the file is binary (rather than text).
	 *
	 * <p>By repeatable-read we meaen, after {@link #close}, the next
	 * invocation of {@link #read} will re-open the input stream.
	 *
	 * <p>Note: it is effecient since we don't have to buffer the
	 * content of the file to make it repeatable-read.
	 *
	 * @exception IllegalArgumentException if file is null.
	 * @exception FileNotFoundException if file not found
	 * @see #getInstance(InputStream)
 	 * @see #getInstance(String)
	 */
	public static InputStream getInstance(File file)
	throws FileNotFoundException {
		if (file == null)
			throw new IllegalArgumentException("null");
		if (!file.exists())
			throw new FileNotFoundException(file.toString());
		return new RepeatableFileInputStream(file);
	}
	/**
	 * Returns an input stream of a file that can be read repeatedly.
	 * Note: it assumes the file is binary (rather than text).
	 *
	 * <p>By repeatable-read we meaen, after {@link #close}, the next
	 * invocation of {@link #read} will re-open the input stream.
	 *
	 * <p>Note: it is effecient since we don't have to buffer the
	 * content of the file to make it repeatable-read.
	 *
	 * @exception IllegalArgumentException if file is null.
	 * @see #getInstance(InputStream)
	 * @see #getInstance(File)
	 */
	public static InputStream getInstance(String filename)
	throws FileNotFoundException {
		return getInstance(new File(filename));
	}
	/**
	 * Returns an input stream of the resource of the given URL
	 * that can be read repeatedly.
	 * Note: it assumes the resource is binary (rather than text).
	 *
	 * <p>By repeatable-read we meaen, after {@link #close}, the next
	 * invocation of {@link #read} will re-open the input stream.
	 *
	 * <p>Note: it is effecient since we don't have to buffer the
	 * content of the resource to make it repeatable-read.
	 *
	 * @exception IllegalArgumentException if url is null.
	 * @see #getInstance(InputStream)
 	 * @see #getInstance(String)
	 */
	public static InputStream getInstance(URL url) {
		if (url == null)
			throw new IllegalArgumentException("null");
		return new RepeatableURLInputStream(url);
	}

	private OutputStream getOutputStream() throws IOException {
		if (_out == null)
			return _nobuf ? null: (_out = new ByteArrayOutputStream());
				//it is possible _membufsz <= 0, but OK to use memory first

		if (_cntsz >= _bufmaxsz) { //too large to buffer
			disableBuffering();
			return null;
		}

		if (_f == null && _cntsz >= _memmaxsz) { //memory to file
			try {
				final File f =
					new File(System.getProperty("java.io.tmpdir"), "zk");
				if (!f.isDirectory())
					f.mkdir();
				_f = File.createTempFile("zk.io", ".zk.io", f);
				final byte[] bs = ((ByteArrayOutputStream)_out).toByteArray();
				_out = new BufferedOutputStream(new FileOutputStream(_f));
				_out.write(bs);
			} catch (Throwable ex) {
				log.warning("Ingored: failed to buffer to a file, "+_f+"\nCause: "+ex.getMessage());
				disableBuffering();
			}
		}
		return _out;
	}
	private void disableBuffering() {
		_nobuf = true;
		if (_out != null) {
			try {
				_out.close();
			} catch (Throwable ex) { //ignore
			}
			_out = null;
		}
		if (_f != null) {
			try {
				_f.delete();
			} catch (Throwable ex) { //ignore
			}
			_f = null;
		}
	}

	public int read() throws IOException {
		if (_org != null) {
			final int b = _org.read();
			if (!_nobuf)
				if (b >= 0) {
					final OutputStream out = getOutputStream();
					if (out != null) out.write(b);
					++_cntsz;
				}
			return b;
		} else {
			if (_in == null)
				_in = new BufferedInputStream(new FileInputStream(_f)); //_f must be non-null

			return _in.read();
		}
	}

	/** Closes the current access, and the next call of {@link #close}
	 * re-opens the buffered input stream.
	 */
	public void close() throws IOException {
		_cntsz = 0;
		if (_org != null) {
			_org.close();

			if (_out != null) {
				try {
					_out.close();
				} catch (Throwable ex) {
					log.warning("Ignored: failed to close the buffer.\nCause: "+ex.getMessage());
					disableBuffering();
					return;
				}
				if (_f == null)
					_in = new ByteArrayInputStream(
						((ByteArrayOutputStream)_out).toByteArray());
					//we don't initilize _in if _f is not null
					//to reduce memory use (after all, read might not be called)
				_out = null;
				_org = null;
			}
		} else if (_in != null) {
			if (_f != null) {
				_in.close();
				_in = null;
			} else {
				_in.reset();
			}
		}
	}

	//Object//
	protected void finalize() throws Throwable {
		disableBuffering();
		if (_org != null)
			_org.close();
		if (_in != null) {
			_in.close();
			_in = null;
		}
		super.finalize();
	}
}
/*package*/ class ResetableInputStream extends InputStream
implements Repeatable {
	private final InputStream _org;
	ResetableInputStream(InputStream bais) {
		_org = bais;
	}

	public int read() throws IOException {
		return _org.read();
	}
	/** Closes the current access, and the next call of {@link #read}
	 * re-opens the buffered input stream.
	 */
	public void close() throws IOException {
		_org.reset();
	}

	//Object//
	protected void finalize() throws Throwable {
		_org.close();
		super.finalize();
	}
}
/*package*/ class RepeatableFileInputStream extends InputStream
implements Repeatable {
	private final File _file;
	private InputStream _in;

	RepeatableFileInputStream(File file) {
		_file = file;
	}

	public int read() throws IOException {
		if (_in == null)
			_in = new BufferedInputStream(new FileInputStream(_file));
		return _in.read();
	}
	/** Closes the current access, and the next call of {@link #read}
	 * re-opens the buffered input stream.
	 */
	public void close() throws IOException {
		if (_in != null) {
			_in.close();
			_in = null;
		}
	}

	//Object//
	protected void finalize() throws Throwable {
		close();
		super.finalize();
	}
}
/*package*/ class RepeatableURLInputStream extends InputStream
implements Repeatable {
	private final URL _url;
	private InputStream _in;

	RepeatableURLInputStream(URL url) {
		_url = url;
	}

	public int read() throws IOException {
		if (_in == null) {
			_in = _url.openStream();
			if (_in == null) throw new FileNotFoundException(_url.toExternalForm());
			_in = new BufferedInputStream(_in);
		}
		return _in.read();
	}
	/** Closes the current access, and the next call of {@link #read}
	 * re-opens the buffered input stream.
	 */
	public void close() throws IOException {
		if (_in != null) {
			_in.close();
			_in = null;
		}
	}

	//Object//
	protected void finalize() throws Throwable {
		close();
		super.finalize();
	}
}</pre></td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
<div class="table-responsive-vertical shadow-z-1" style="width: 17.5%; float: right; position: relative;">
        
            <table id="tableFileName" class="table table-hover table-mc-light-blue">
                <thead>
                    <tr>
                        <th>File</th>                            
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td data-title="FileName">RepeatableInputStream.java</td>
                    </tr>
                </tbody>
            </table>
            <table id="tableDeveloperDecision" class="table table-hover table-mc-light-blue">
                <thead>
                    <tr>
                        <th>Developer's decision</th>                            
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td data-title="DeveloperDecision">Version 1</td>
                    </tr>
                </tbody>
            </table>

            <table id="tableKindConflict" class="table table-hover table-mc-light-blue">
                <thead>
                    <tr>
                        <th>Kind of conflict</th>                            
                    </tr>
                </thead>
                <tbody>

                    <tr>
                        <td data-title="KindConflict">Class declaration</td>
                    </tr>

                    <tr>
                        <td data-title="KindConflict"> Comment</td>
                    </tr>

                    <tr>
                        <td data-title="KindConflict"> Import</td>
                    </tr>

                    <tr>
                        <td data-title="KindConflict"> Package declaration</td>
                    </tr>

                </tbody>
            </table>
        </div>
            <div class="table-responsive-vertical shadow-z-1">
                <table id="table" class="table table-hover table-mc-light-blue">
                    <thead>
                        <tr>
                            <th>Chunk</th>
                        </tr>
                    </thead>

                </table>
        <div>
<div class="table-responsive-vertical shadow-z-1" style="width: 80%; float: left; position: relative;">
                <!-- Table starts here -->
                <table id="tableConflict" class="table table-hover table-mc-light-blue">
                    <thead>
                        <tr>
                            <th>Conflicting content</th>
                            
                        </tr>
                    </thead>
                    <tbody>

                        <tr>
                            <td data-title="ConflictingContent"><pre>	}

	public void sessionDidActivate(Page page) {
<<<<<<< HEAD
=======
		sessDidActivate(page, true);
	}
	public void sessDidActivate(Page page, boolean pageLevelIdSpace) {
>>>>>>> 248f8eca2b2875504f1b07e87b45773a40deb56f
		_page = page;

		didActivate(_attrs.getAttributes().values());</pre></td>
                        </tr>

                    </tbody>
                </table>

                <table id="tableSolution" class="table table-hover table-mc-light-blue">
                    <thead>
                        <tr>
                            <th>Solution content</th>
                            
                        </tr>
                    </thead>
                    <tbody>

<tr>
                            <td data-title="SolutionContent"><pre>	}

	public void sessionDidActivate(Page page) {
		_page = page;

		didActivate(_attrs.getAttributes().values());</pre></td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
<div class="table-responsive-vertical shadow-z-1" style="width: 17.5%; float: right; position: relative;">
        
            <table id="tableFileName" class="table table-hover table-mc-light-blue">
                <thead>
                    <tr>
                        <th>File</th>                            
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td data-title="FileName">AbstractComponent.java</td>
                    </tr>
                </tbody>
            </table>
            <table id="tableDeveloperDecision" class="table table-hover table-mc-light-blue">
                <thead>
                    <tr>
                        <th>Developer's decision</th>                            
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td data-title="DeveloperDecision">Version 1</td>
                    </tr>
                </tbody>
            </table>

            <table id="tableKindConflict" class="table table-hover table-mc-light-blue">
                <thead>
                    <tr>
                        <th>Kind of conflict</th>                            
                    </tr>
                </thead>
                <tbody>

                    <tr>
                        <td data-title="KindConflict">Method invocation</td>
                    </tr>

                    <tr>
                        <td data-title="KindConflict"> Method signature</td>
                    </tr>

                </tbody>
            </table>
        </div>
            <div class="table-responsive-vertical shadow-z-1">
                <table id="table" class="table table-hover table-mc-light-blue">
                    <thead>
                        <tr>
                            <th>Chunk</th>
                        </tr>
                    </thead>

                </table>
        <div>
<div class="table-responsive-vertical shadow-z-1" style="width: 80%; float: left; position: relative;">
                <!-- Table starts here -->
                <table id="tableConflict" class="table table-hover table-mc-light-blue">
                    <thead>
                        <tr>
                            <th>Conflicting content</th>
                            
                        </tr>
                    </thead>
                    <tbody>

                        <tr>
                            <td data-title="ConflictingContent"><pre>				didActivate((Collection)it.next());

		if (this instanceof IdSpace) {
<<<<<<< HEAD
		//backward compatible (we store variables in attributes)
			for (Iterator it = _attrs.getAttributes().values().iterator();
=======
			didActivate(_spaceInfo.attrs.values());

			//Note: we need only to fix the first-level spaceInfo.
			//Others are handled by readObject
			if (pageLevelIdSpace) {
				pageLevelIdSpace = false;
				_spaceInfo.ns.setParent(page.getNamespace());
			}

			//Invoke NamespaceActivationListener after all loaded
			for (Iterator it = _spaceInfo.ns.getVariableNames().iterator();
>>>>>>> 248f8eca2b2875504f1b07e87b45773a40deb56f
			it.hasNext();) {
				final Object val = it.next();
				if (val instanceof NamespaceActivationListener) //backward compatible</pre></td>
                        </tr>

                    </tbody>
                </table>

                <table id="tableSolution" class="table table-hover table-mc-light-blue">
                    <thead>
                        <tr>
                            <th>Solution content</th>
                            
                        </tr>
                    </thead>
                    <tbody>

<tr>
                            <td data-title="SolutionContent"><pre>				didActivate((Collection)it.next());

		if (this instanceof IdSpace) {
		//backward compatible (we store variables in attributes)
			for (Iterator it = _attrs.getAttributes().values().iterator();
			it.hasNext();) {
				final Object val = it.next();
				if (val instanceof NamespaceActivationListener) //backward compatible</pre></td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
<div class="table-responsive-vertical shadow-z-1" style="width: 17.5%; float: right; position: relative;">
        
            <table id="tableFileName" class="table table-hover table-mc-light-blue">
                <thead>
                    <tr>
                        <th>File</th>                            
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td data-title="FileName">AbstractComponent.java</td>
                    </tr>
                </tbody>
            </table>
            <table id="tableDeveloperDecision" class="table table-hover table-mc-light-blue">
                <thead>
                    <tr>
                        <th>Developer's decision</th>                            
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td data-title="DeveloperDecision">Version 1</td>
                    </tr>
                </tbody>
            </table>

            <table id="tableKindConflict" class="table table-hover table-mc-light-blue">
                <thead>
                    <tr>
                        <th>Kind of conflict</th>                            
                    </tr>
                </thead>
                <tbody>

                    <tr>
                        <td data-title="KindConflict">Comment</td>
                    </tr>

                    <tr>
                        <td data-title="KindConflict"> For statement</td>
                    </tr>

                    <tr>
                        <td data-title="KindConflict"> If statement</td>
                    </tr>

                    <tr>
                        <td data-title="KindConflict"> Method invocation</td>
                    </tr>

                </tbody>
            </table>
        </div>
            <div class="table-responsive-vertical shadow-z-1">
                <table id="table" class="table table-hover table-mc-light-blue">
                    <thead>
                        <tr>
                            <th>Chunk</th>
                        </tr>
                    </thead>

                </table>
        <div>
<div class="table-responsive-vertical shadow-z-1" style="width: 80%; float: left; position: relative;">
                <!-- Table starts here -->
                <table id="tableConflict" class="table table-hover table-mc-light-blue">
                    <thead>
                        <tr>
                            <th>Conflicting content</th>
                            
                        </tr>
                    </thead>
                    <tbody>

                        <tr>
                            <td data-title="ConflictingContent"><pre>		}

		for (AbstractComponent p = _first; p != null; p = p._next)
<<<<<<< HEAD
			p.sessionDidActivate(page); //recursive
=======
			p.sessDidActivate(page, pageLevelIdSpace); //recursive
>>>>>>> 248f8eca2b2875504f1b07e87b45773a40deb56f
	}

	private void willPassivate(Collection c) {</pre></td>
                        </tr>

                    </tbody>
                </table>

                <table id="tableSolution" class="table table-hover table-mc-light-blue">
                    <thead>
                        <tr>
                            <th>Solution content</th>
                            
                        </tr>
                    </thead>
                    <tbody>

<tr>
                            <td data-title="SolutionContent"><pre>		}

		for (AbstractComponent p = _first; p != null; p = p._next)
			p.sessionDidActivate(page); //recursive
	}
	private void willPassivate(Collection c) {</pre></td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
<div class="table-responsive-vertical shadow-z-1" style="width: 17.5%; float: right; position: relative;">
        
            <table id="tableFileName" class="table table-hover table-mc-light-blue">
                <thead>
                    <tr>
                        <th>File</th>                            
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td data-title="FileName">AbstractComponent.java</td>
                    </tr>
                </tbody>
            </table>
            <table id="tableDeveloperDecision" class="table table-hover table-mc-light-blue">
                <thead>
                    <tr>
                        <th>Developer's decision</th>                            
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td data-title="DeveloperDecision">Version 1</td>
                    </tr>
                </tbody>
            </table>

            <table id="tableKindConflict" class="table table-hover table-mc-light-blue">
                <thead>
                    <tr>
                        <th>Kind of conflict</th>                            
                    </tr>
                </thead>
                <tbody>

                    <tr>
                        <td data-title="KindConflict">Comment</td>
                    </tr>

                    <tr>
                        <td data-title="KindConflict"> Method invocation</td>
                    </tr>

                </tbody>
            </table>
        </div>
            <div class="table-responsive-vertical shadow-z-1">
                <table id="table" class="table table-hover table-mc-light-blue">
                    <thead>
                        <tr>
                            <th>Chunk</th>
                        </tr>
                    </thead>

                </table>
        <div>
<div class="table-responsive-vertical shadow-z-1" style="width: 80%; float: left; position: relative;">
                <!-- Table starts here -->
                <table id="tableConflict" class="table table-hover table-mc-light-blue">
                    <thead>
                        <tr>
                            <th>Conflicting content</th>
                            
                        </tr>
                    </thead>
                    <tbody>

                        <tr>
                            <td data-title="ConflictingContent"><pre>	private Font _xAxisFont; //chart's x axis font
	private Font _yAxisTickFont; //chart's y axis tick number font
	private Font _yAxisFont; //chart's y axis font
<<<<<<< HEAD

=======
	
>>>>>>> 248f8eca2b2875504f1b07e87b45773a40deb56f
	public Chart() {
		init();
		setWidth("500px");</pre></td>
                        </tr>

                    </tbody>
                </table>

                <table id="tableSolution" class="table table-hover table-mc-light-blue">
                    <thead>
                        <tr>
                            <th>Solution content</th>
                            
                        </tr>
                    </thead>
                    <tbody>

<tr>
                            <td data-title="SolutionContent"><pre>	private Font _xAxisFont; //chart's x axis font
	private Font _yAxisTickFont; //chart's y axis tick number font
	private Font _yAxisFont; //chart's y axis font

	public Chart() {
		init();
		setWidth("500px");</pre></td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
<div class="table-responsive-vertical shadow-z-1" style="width: 17.5%; float: right; position: relative;">
        
            <table id="tableFileName" class="table table-hover table-mc-light-blue">
                <thead>
                    <tr>
                        <th>File</th>                            
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td data-title="FileName">Chart.java</td>
                    </tr>
                </tbody>
            </table>
            <table id="tableDeveloperDecision" class="table table-hover table-mc-light-blue">
                <thead>
                    <tr>
                        <th>Developer's decision</th>                            
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td data-title="DeveloperDecision">Version 1</td>
                    </tr>
                </tbody>
            </table>

            <table id="tableKindConflict" class="table table-hover table-mc-light-blue">
                <thead>
                    <tr>
                        <th>Kind of conflict</th>                            
                    </tr>
                </thead>
                <tbody>

                    <tr>
                        <td data-title="KindConflict">Blank</td>
                    </tr>

                </tbody>
            </table>
        </div>
            <div class="table-responsive-vertical shadow-z-1">
                <table id="table" class="table table-hover table-mc-light-blue">
                    <thead>
                        <tr>
                            <th>Chunk</th>
                        </tr>
                    </thead>

                </table>
        <div>
<div class="table-responsive-vertical shadow-z-1" style="width: 80%; float: left; position: relative;">
                <!-- Table starts here -->
                <table id="tableConflict" class="table table-hover table-mc-light-blue">
                    <thead>
                        <tr>
                            <th>Conflicting content</th>
                            
                        </tr>
                    </thead>
                    <tbody>

                        <tr>
                            <td data-title="ConflictingContent"><pre>								size = prev[1] - leng + 1;
							prev[1] = leng;
							_groupsInfo.add(idx, new int[]{index, size, size > 1 && prev[2] > index ? prev[2] : -1});
<<<<<<< HEAD
							if (size > 1 && prev[2] > index) prev[2] = -1; // reset listgroupfoot
=======
						if (size > 1 && prev[2] > index) prev[2] = -1; // reset listgroupfoot
>>>>>>> 248f8eca2b2875504f1b07e87b45773a40deb56f
						} else if (next != null) {
							_groupsInfo.add(idx, new int[]{lg.getIndex(), next[0] - lg.getIndex(), -1});
						} </pre></td>
                        </tr>

                    </tbody>
                </table>

                <table id="tableSolution" class="table table-hover table-mc-light-blue">
                    <thead>
                        <tr>
                            <th>Solution content</th>
                            
                        </tr>
                    </thead>
                    <tbody>

<tr>
                            <td data-title="SolutionContent"><pre>								size = prev[1] - leng + 1;
							prev[1] = leng;
							_groupsInfo.add(idx, new int[]{index, size, size > 1 && prev[2] > index ? prev[2] : -1});
							if (size > 1 && prev[2] > index) prev[2] = -1; // reset listgroupfoot
						} else if (next != null) {
							_groupsInfo.add(idx, new int[]{lg.getIndex(), next[0] - lg.getIndex(), -1});
						} </pre></td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
<div class="table-responsive-vertical shadow-z-1" style="width: 17.5%; float: right; position: relative;">
        
            <table id="tableFileName" class="table table-hover table-mc-light-blue">
                <thead>
                    <tr>
                        <th>File</th>                            
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td data-title="FileName">Listbox.java</td>
                    </tr>
                </tbody>
            </table>
            <table id="tableDeveloperDecision" class="table table-hover table-mc-light-blue">
                <thead>
                    <tr>
                        <th>Developer's decision</th>                            
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td data-title="DeveloperDecision">Version 1</td>
                    </tr>
                </tbody>
            </table>

            <table id="tableKindConflict" class="table table-hover table-mc-light-blue">
                <thead>
                    <tr>
                        <th>Kind of conflict</th>                            
                    </tr>
                </thead>
                <tbody>

                    <tr>
                        <td data-title="KindConflict">Comment</td>
                    </tr>

                    <tr>
                        <td data-title="KindConflict"> If statement</td>
                    </tr>

                </tbody>
            </table>
        </div>
            <div class="table-responsive-vertical shadow-z-1">
                <table id="table" class="table table-hover table-mc-light-blue">
                    <thead>
                        <tr>
                            <th>Chunk</th>
                        </tr>
                    </thead>

                </table>
        <div>
<div class="table-responsive-vertical shadow-z-1" style="width: 80%; float: left; position: relative;">
                <!-- Table starts here -->
                <table id="tableConflict" class="table table-hover table-mc-light-blue">
                    <thead>
                        <tr>
                            <th>Conflicting content</th>
                            
                        </tr>
                    </thead>
                    <tbody>

                        <tr>
                            <td data-title="ConflictingContent"><pre>					final int[] g = getGroupsInfoAt(index);
					if (g != null) {
						g[1]++;
<<<<<<< HEAD
						if (g[2] != -1 && (g[2] >= index || newItem instanceof Listgroupfoot)) g[2]++;
=======
						if (g[2] != -1 && g[2] > index) g[2]++;
>>>>>>> 248f8eca2b2875504f1b07e87b45773a40deb56f
					}
				}
				afterInsert(newChild);</pre></td>
                        </tr>

                    </tbody>
                </table>

                <table id="tableSolution" class="table table-hover table-mc-light-blue">
                    <thead>
                        <tr>
                            <th>Solution content</th>
                            
                        </tr>
                    </thead>
                    <tbody>

<tr>
                            <td data-title="SolutionContent"><pre>					final int[] g = getGroupsInfoAt(index);
					if (g != null) {
						g[1]++;
						if (g[2] != -1 && (g[2] >= index || newItem instanceof Listgroupfoot)) g[2]++;
					}
				}
				afterInsert(newChild);</pre></td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
<div class="table-responsive-vertical shadow-z-1" style="width: 17.5%; float: right; position: relative;">
        
            <table id="tableFileName" class="table table-hover table-mc-light-blue">
                <thead>
                    <tr>
                        <th>File</th>                            
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td data-title="FileName">Listbox.java</td>
                    </tr>
                </tbody>
            </table>
            <table id="tableDeveloperDecision" class="table table-hover table-mc-light-blue">
                <thead>
                    <tr>
                        <th>Developer's decision</th>                            
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td data-title="DeveloperDecision">Version 1</td>
                    </tr>
                </tbody>
            </table>

            <table id="tableKindConflict" class="table table-hover table-mc-light-blue">
                <thead>
                    <tr>
                        <th>Kind of conflict</th>                            
                    </tr>
                </thead>
                <tbody>

                    <tr>
                        <td data-title="KindConflict">If statement</td>
                    </tr>

                </tbody>
            </table>
        </div>
            <div class="table-responsive-vertical shadow-z-1">
                <table id="table" class="table table-hover table-mc-light-blue">
                    <thead>
                        <tr>
                            <th>Chunk</th>
                        </tr>
                    </thead>

                </table>
        <div>
<div class="table-responsive-vertical shadow-z-1" style="width: 80%; float: left; position: relative;">
                <!-- Table starts here -->
                <table id="tableConflict" class="table table-hover table-mc-light-blue">
                    <thead>
                        <tr>
                            <th>Conflicting content</th>
                            
                        </tr>
                    </thead>
                    <tbody>

                        <tr>
                            <td data-title="ConflictingContent"><pre>		return super.setVisible(visible);
	}

<<<<<<< HEAD
	protected void smartUpdate(String name, Object value) { //make it accessible in this package
		super.smartUpdate(name, value);
	}
	protected void smartUpdate(String name, boolean value) { //make it accessible in this package
		super.smartUpdate(name, value);
	}
	
	public String getMold() {
		return getParent() != null ? "select".equals(getParent().getMold()) ?
				"select" : super.getMold(): super.getMold();
	}

	protected void renderProperties(org.zkoss.zk.ui.sys.ContentRenderer renderer)
	throws java.io.IOException {
		super.renderProperties(renderer);

		render(renderer, "selected", isSelected());
		render(renderer, "disabled", isDisabled());
		render(renderer, "_loaded", _loaded);
		if (!isCheckable())
			renderer.render("checkable", false);
	}
	
=======
	public void smartUpdate(String attr, String value) {
		Listbox box = getListbox();
		if (isVisible() || box == null || !box.inSelectMold())
			super.smartUpdate(attr, value);
	}
	public void smartUpdate(String attr, boolean value) {
		Listbox box = getListbox();
		if (isVisible() || box == null || !box.inSelectMold())
			super.smartUpdate(attr, value);
	}
	public void smartUpdate(String attr, int value) {
		Listbox box = getListbox();
		if (isVisible() || box == null || !box.inSelectMold())
			super.smartUpdate(attr, value);
	}
>>>>>>> 248f8eca2b2875504f1b07e87b45773a40deb56f
	//-- Component --//
	public void beforeParentChanged(Component parent) {
		if (parent != null && !(parent instanceof Listbox))</pre></td>
                        </tr>

                    </tbody>
                </table>

                <table id="tableSolution" class="table table-hover table-mc-light-blue">
                    <thead>
                        <tr>
                            <th>Solution content</th>
                            
                        </tr>
                    </thead>
                    <tbody>

<tr>
                            <td data-title="SolutionContent"><pre>		return super.setVisible(visible);
	}

	protected void smartUpdate(String name, Object value) { //make it accessible in this package
		Listbox box = getListbox();
		if (isVisible() || box == null || !box.inSelectMold())
			super.smartUpdate(name, value);
	}
	protected void smartUpdate(String name, boolean value) { //make it accessible in this package
		Listbox box = getListbox();
		if (isVisible() || box == null || !box.inSelectMold())
			super.smartUpdate(name, value);
	}
	protected void smartUpdate(String name, int value) {
		Listbox box = getListbox();
		if (isVisible() || box == null || !box.inSelectMold())
			super.smartUpdate(name, value);
	}
	
	public String getMold() {
		return getParent() != null ? "select".equals(getParent().getMold()) ?
				"select" : super.getMold(): super.getMold();
	}

	protected void renderProperties(org.zkoss.zk.ui.sys.ContentRenderer renderer)
	throws java.io.IOException {
		super.renderProperties(renderer);

		render(renderer, "selected", isSelected());
		render(renderer, "disabled", isDisabled());
		render(renderer, "_loaded", _loaded);
		if (!isCheckable())
			renderer.render("checkable", false);
	}
	
	//-- Component --//
	public void beforeParentChanged(Component parent) {
		if (parent != null && !(parent instanceof Listbox))</pre></td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
<div class="table-responsive-vertical shadow-z-1" style="width: 17.5%; float: right; position: relative;">
        
            <table id="tableFileName" class="table table-hover table-mc-light-blue">
                <thead>
                    <tr>
                        <th>File</th>                            
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td data-title="FileName">Listitem.java</td>
                    </tr>
                </tbody>
            </table>
            <table id="tableDeveloperDecision" class="table table-hover table-mc-light-blue">
                <thead>
                    <tr>
                        <th>Developer's decision</th>                            
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td data-title="DeveloperDecision">Manual</td>
                    </tr>
                </tbody>
            </table>

            <table id="tableKindConflict" class="table table-hover table-mc-light-blue">
                <thead>
                    <tr>
                        <th>Kind of conflict</th>                            
                    </tr>
                </thead>
                <tbody>

                    <tr>
                        <td data-title="KindConflict">Method declaration</td>
                    </tr>

                </tbody>
            </table>
        </div>
            <div class="table-responsive-vertical shadow-z-1">
                <table id="table" class="table table-hover table-mc-light-blue">
                    <thead>
                        <tr>
                            <th>Chunk</th>
                        </tr>
                    </thead>

                </table>
        <div>
<div class="table-responsive-vertical shadow-z-1" style="width: 80%; float: left; position: relative;">
                <!-- Table starts here -->
                <table id="tableConflict" class="table table-hover table-mc-light-blue">
                    <thead>
                        <tr>
                            <th>Conflicting content</th>
                            
                        </tr>
                    </thead>
                    <tbody>

                        <tr>
                            <td data-title="ConflictingContent"><pre>				final int[] g = getGroupsInfoAt(index);
				if (g != null) {
					g[1]++;
<<<<<<< HEAD
					if (g[2] != -1 && (g[2] >= index || newItem instanceof Groupfoot)) g[2]++;
=======
					if (g[2] != -1 && g[2] > index) g[2]++;
>>>>>>> 248f8eca2b2875504f1b07e87b45773a40deb56f
				}
				
			}</pre></td>
                        </tr>

                    </tbody>
                </table>

                <table id="tableSolution" class="table table-hover table-mc-light-blue">
                    <thead>
                        <tr>
                            <th>Solution content</th>
                            
                        </tr>
                    </thead>
                    <tbody>

<tr>
                            <td data-title="SolutionContent"><pre>				final int[] g = getGroupsInfoAt(index);
				if (g != null) {
					g[1]++;
					if (g[2] != -1 && (g[2] >= index || newItem instanceof Groupfoot)) g[2]++;
				}
				
			}</pre></td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
<div class="table-responsive-vertical shadow-z-1" style="width: 17.5%; float: right; position: relative;">
        
            <table id="tableFileName" class="table table-hover table-mc-light-blue">
                <thead>
                    <tr>
                        <th>File</th>                            
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td data-title="FileName">Rows.java</td>
                    </tr>
                </tbody>
            </table>
            <table id="tableDeveloperDecision" class="table table-hover table-mc-light-blue">
                <thead>
                    <tr>
                        <th>Developer's decision</th>                            
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td data-title="DeveloperDecision">Version 1</td>
                    </tr>
                </tbody>
            </table>

            <table id="tableKindConflict" class="table table-hover table-mc-light-blue">
                <thead>
                    <tr>
                        <th>Kind of conflict</th>                            
                    </tr>
                </thead>
                <tbody>

                    <tr>
                        <td data-title="KindConflict">If statement</td>
                    </tr>

                </tbody>
            </table>
        </div>
            <div class="table-responsive-vertical shadow-z-1">
                <table id="table" class="table table-hover table-mc-light-blue">
                    <thead>
                        <tr>
                            <th>Chunk</th>
                        </tr>
                    </thead>

                </table>
        <div>
<div class="table-responsive-vertical shadow-z-1" style="width: 80%; float: left; position: relative;">
                <!-- Table starts here -->
                <table id="tableConflict" class="table table-hover table-mc-light-blue">
                    <thead>
                        <tr>
                            <th>Conflicting content</th>
                            
                        </tr>
                    </thead>
                    <tbody>

                        <tr>
                            <td data-title="ConflictingContent"><pre>		}
		super.setDraggable(draggable);
	}
<<<<<<< HEAD
=======
	protected String getRealStyle() {
		final String style = super.getRealStyle() + (isVisible() && isMinimized() ? "display:none;" : "");
		return _mode != EMBEDDED ? 
			(isVisible() ? "position:absolute;visibility:hidden;" : "position:absolute;") + style: style;
			//If no absolute, Opera ignores left and top
			//
			//If not embedded we always generate visibility:hidden to have
			//better visual effect (the client will turn it on in zkWnd.init)
	}
	
	public String getOuterAttrs() {
		final StringBuffer sb =
			new StringBuffer(64).append(super.getOuterAttrs());
		appendAsapAttr(sb, Events.ON_MOVE);
		appendAsapAttr(sb, Events.ON_SIZE);
		appendAsapAttr(sb, Events.ON_Z_INDEX);
		appendAsapAttr(sb, Events.ON_OPEN);
		appendAsapAttr(sb, Events.ON_MAXIMIZE);
		
		if (inModal() || inHighlighted()) HTMLs.appendAttribute(sb, "z." + Events.ON_MINIMIZE, true);
		else appendAsapAttr(sb, Events.ON_MINIMIZE);
		
		//no need to generate ON_CLOSE since it is always sent (as ASAP)

		final String clkattrs = getAllOnClickAttrs();
		if (clkattrs != null) sb.append(clkattrs);
			//though widget.js handles onclick (if 3d), it is useful
			//to support onClick for groupbox
		String aos = getDefaultActionOnShow();
		if (aos == null)
			aos = getDesktop().getWebApp().getConfiguration()
					.getPreference("org.zkoss.zul.Window.defaultActionOnShow", null);
		if (aos != null)
			HTMLs.appendAttribute(sb, "z.aos", aos.length() == 0 ?  "z_none" : aos);
		if (_closable)
			sb.append(" z.closable=\"true\"");
		if (_sizable)
			sb.append(" z.sizable=\"true\"");
		if (!_shadow)
			sb.append(" z.shadow=\"false\"");

		if (_mode != EMBEDDED) {
			if (_pos != null)
				HTMLs.appendAttribute(sb, "z.pos", _pos);
			HTMLs.appendAttribute(sb, "z.mode", getMode());
			HTMLs.appendAttribute(sb, "z.visible", isVisible());
		}

		if (_maximizable)
			sb.append(" z.maximizable=\"true\"");
		if (_minimizable)
			sb.append(" z.minimizable=\"true\"");
		if (_maximized)
			sb.append(" z.maximized=\"true\"");
		if (_minimized)
			sb.append(" z.minimized=\"true\"");

		HTMLs.appendAttribute(sb, "z.minheight", getMinheight());
		HTMLs.appendAttribute(sb, "z.minwidth", getMinwidth());
		return sb.toString();
	}
>>>>>>> 248f8eca2b2875504f1b07e87b45773a40deb56f

	//Cloneable//
	public Object clone() {</pre></td>
                        </tr>

                    </tbody>
                </table>

                <table id="tableSolution" class="table table-hover table-mc-light-blue">
                    <thead>
                        <tr>
                            <th>Solution content</th>
                            
                        </tr>
                    </thead>
                    <tbody>

<tr>
                            <td data-title="SolutionContent"><pre>		}
		super.setDraggable(draggable);
	}

	//Cloneable//
	public Object clone() {</pre></td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
<div class="table-responsive-vertical shadow-z-1" style="width: 17.5%; float: right; position: relative;">
        
            <table id="tableFileName" class="table table-hover table-mc-light-blue">
                <thead>
                    <tr>
                        <th>File</th>                            
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td data-title="FileName">Window.java</td>
                    </tr>
                </tbody>
            </table>
            <table id="tableDeveloperDecision" class="table table-hover table-mc-light-blue">
                <thead>
                    <tr>
                        <th>Developer's decision</th>                            
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td data-title="DeveloperDecision">Version 1</td>
                    </tr>
                </tbody>
            </table>

            <table id="tableKindConflict" class="table table-hover table-mc-light-blue">
                <thead>
                    <tr>
                        <th>Kind of conflict</th>                            
                    </tr>
                </thead>
                <tbody>

                    <tr>
                        <td data-title="KindConflict">Method declaration</td>
                    </tr>

                </tbody>
            </table>
        </div>
            </div>
        </div>
        
        <!-- Última versão JavaScript compilada e minificada -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" ></script>
        <script type="text/javascript" src="script.js"></script>
    </body>
</html>