<html>    <head>        <title>Projects information</title>        <meta charset="UTF-8">        <meta name="viewport" content="width=device-width, initial-scale=1.0">        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">    </head>    <body><h2> <a href = "../../../index.html"> Projects </a> >> <a href = "../Reshaka.Ru.html"> Reshaka.Ru</a> >>af2ec4b4a8350b26e135a7799dab22e8c5ba9e81</h2>
        <div id="demo">
            <div class="table-responsive-vertical shadow-z-1">
                <table id="table" class="table table-hover table-mc-light-blue">
                    <thead>
                        <tr>
                            <th>Chunk</th>
                        </tr>
                    </thead>

                </table>
        <div>
<div class="table-responsive-vertical shadow-z-1" style="width: 80%; float: left; position: relative;">
                <!-- Table starts here -->
                <table id="tableConflict" class="table table-hover table-mc-light-blue">
                    <thead>
                        <tr>
                            <th>Conflicting content</th>
                            
                        </tr>
                    </thead>
                    <tbody>

                        <tr>
                            <td data-title="ConflictingContent"><pre>        }
        
        // do check if it is a solution to closed order
<<<<<<< HEAD
        q = em.createQuery("SELECT o FROM Order o WHERE o.solutionId = :solutionId and o.status in :statuses", Order.class);
        q.setParameter("solutionId", a.getId());
        q.setParameter("statuses", new ArrayList(){{
            add(Order.CLOSED_OFFLINE_ORDER_STATUS);
            add(Order.FULL_PAYED_OFFLINE_ORDER_STATUS);
=======
        q = em.createQuery("SELECT o FROM Order o WHERE o.solutionId = :solutionId and o.status in (:statuses)", Order.class);
        q.setParameter("solutionId", a.getId());
        q.setParameter("statuses", new ArrayList(){{
            add(Order.CLOSED_OFFLINE_ORDER_STATUS);
>>>>>>> 888a0b55458fffe708a4c4c01db55b7577ddc09a
            add(Order.EXPIRED_OFFLINE_ORDER_STATUS);
            add(Order.EXPIRED_ONLINE_ORDER_STATUS);
        }});</pre></td>
                        </tr>

                    </tbody>
                </table>

                <table id="tableSolution" class="table table-hover table-mc-light-blue">
                    <thead>
                        <tr>
                            <th>Solution content</th>
                            
                        </tr>
                    </thead>
                    <tbody>

<tr>
                            <td data-title="SolutionContent"><pre>        }
        
        // do check if it is a solution to closed order
        q = em.createQuery("SELECT o FROM Order o WHERE o.solutionId = :solutionId and o.status in :statuses", Order.class);
        q.setParameter("solutionId", a.getId());
        q.setParameter("statuses", new ArrayList(){{
            add(Order.CLOSED_OFFLINE_ORDER_STATUS);
            add(Order.FULL_PAYED_OFFLINE_ORDER_STATUS);
            add(Order.EXPIRED_OFFLINE_ORDER_STATUS);
            add(Order.EXPIRED_ONLINE_ORDER_STATUS);
        }});</pre></td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
<div class="table-responsive-vertical shadow-z-1" style="width: 17.5%; float: right; position: relative;">
        
            <table id="tableFileName" class="table table-hover table-mc-light-blue">
                <thead>
                    <tr>
                        <th>File</th>                            
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td data-title="FileName">AttachmentManager.java</td>
                    </tr>
                </tbody>
            </table>
            <table id="tableDeveloperDecision" class="table table-hover table-mc-light-blue">
                <thead>
                    <tr>
                        <th>Developer's decision</th>                            
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td data-title="DeveloperDecision">Version 1</td>
                    </tr>
                </tbody>
            </table>

            <table id="tableKindConflict" class="table table-hover table-mc-light-blue">
                <thead>
                    <tr>
                        <th>Kind of conflict</th>                            
                    </tr>
                </thead>
                <tbody>

                    <tr>
                        <td data-title="KindConflict">Method invocation</td>
                    </tr>

                    <tr>
                        <td data-title="KindConflict"> Variable</td>
                    </tr>

                </tbody>
            </table>
        </div>
            </div>
        </div>
        
        <!-- Última versão JavaScript compilada e minificada -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" ></script>
        <script type="text/javascript" src="script.js"></script>
    </body>
</html>