<html>    <head>        <title>Projects information</title>        <meta charset="UTF-8">        <meta name="viewport" content="width=device-width, initial-scale=1.0">        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">    </head>    <body><h2> <a href = "../../../index.html"> Projects </a> >> <a href = "../BF3-Battlelog.html"> BF3-Battlelog</a> >>61638934635c33bbbe70eebfc5b9c499ce692444</h2>
        <div id="demo">
            <div class="table-responsive-vertical shadow-z-1">
                <table id="table" class="table table-hover table-mc-light-blue">
                    <thead>
                        <tr>
                            <th>Chunk</th>
                        </tr>
                    </thead>

                </table>
        <div>
<div class="table-responsive-vertical shadow-z-1" style="width: 80%; float: left; position: relative;">
                <!-- Table starts here -->
                <table id="tableConflict" class="table table-hover table-mc-light-blue">
                    <thead>
                        <tr>
                            <th>Conflicting content</th>
                            
                        </tr>
                    </thead>
                    <tbody>

                        <tr>
                            <td data-title="ConflictingContent"><pre>        MENU_INTENTS = menuOptions();

        // Add the OnClickListeners
<<<<<<< HEAD
        final OnClickListener onClickListener = new OnClickListener() {

            @Override
            public void onClick(View v) {

                startActivity(MENU_INTENTS.get(v.getId()));

            }
        };

        for (int key : MENU_INTENTS.keySet()) {

            view.findViewById(key).setOnClickListener(onClickListener);

        }
=======
        for (int key : MENU_INTENTS.keySet()) {
            view.findViewById(key).setOnClickListener(new OnClickListener() {

                @Override
                public void onClick(View v) {
                    startActivity(MENU_INTENTS.get(v.getId()));

                }
            });
        }
    }

    private void dataFromSharedPreferences() {
        persona = SessionKeeper.getProfileData().getPersonaArray();
        selectedPosition = sharedPreferences.getInt(Constants.SP_BL_PERSONA_CURRENT_POS, 0);
    }

    private Map<Integer, Intent> menuOptions(){
        return new HashMap<Integer, Intent>(){{
            put(R.id.button_unlocks,
                    new Intent(context, UnlockActivity.class).putExtra("profile",
                            SessionKeeper.getProfileData()));
            put(R.id.button_weapon,
                    new Intent(context, WeaponListActivity.class).putExtra("profile",
                            SessionKeeper.getProfileData()));
            put(R.id.button_assignments,
                    new Intent(context, AssignmentActivity.class).putExtra("profile",
                            SessionKeeper.getProfileData()));
            put(R.id.button_self,
                    new Intent(context, ProfileActivity.class).putExtra("profile",
                            SessionKeeper.getProfileData()));
            put(R.id.button_settings,
                    new Intent(context, ProfileSettingsActivity.class));
        }};

    }

    @Override
    public void onDialogListSelection() {
        dataFromSharedPreferences();
        setupActiveSoldierContent();
>>>>>>> ad900fdcde1bc27497fb4bca964c29f55f93731b
    }

    @Override</pre></td>
                        </tr>

                    </tbody>
                </table>

                <table id="tableSolution" class="table table-hover table-mc-light-blue">
                    <thead>
                        <tr>
                            <th>Solution content</th>
                            
                        </tr>
                    </thead>
                    <tbody>

<tr>
                            <td data-title="SolutionContent"><pre>        dataFromSharedPreferences();
        setupActiveSoldierContent();
    }

    @Override
        MENU_INTENTS = menuOptions();

        // Add the OnClickListeners
        for (int key : MENU_INTENTS.keySet()) {
            view.findViewById(key).setOnClickListener(new OnClickListener() {

                @Override
                public void onClick(View v) {
                    startActivity(MENU_INTENTS.get(v.getId()));

                }
            });
        }
    }

    private void dataFromSharedPreferences() {
        persona = SessionKeeper.getProfileData().getPersonaArray();
        selectedPosition = sharedPreferences.getInt(Constants.SP_BL_PERSONA_CURRENT_POS, 0);
    }

    private Map<Integer, Intent> menuOptions(){
        return new HashMap<Integer, Intent>(){{
            put(R.id.button_unlocks,
                    new Intent(context, UnlockActivity.class).putExtra("profile",
                            SessionKeeper.getProfileData()));
            put(R.id.button_weapon,
                    new Intent(context, WeaponListActivity.class).putExtra("profile",
                            SessionKeeper.getProfileData()));
            put(R.id.button_assignments,
                    new Intent(context, AssignmentActivity.class).putExtra("profile",
                            SessionKeeper.getProfileData()));
            put(R.id.button_self,
                    new Intent(context, ProfileActivity.class).putExtra("profile",
                            SessionKeeper.getProfileData()));
            put(R.id.button_settings,
                    new Intent(context, ProfileSettingsActivity.class));
        }};

    }

    @Override
    public void onDialogListSelection() {</pre></td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
<div class="table-responsive-vertical shadow-z-1" style="width: 17.5%; float: right; position: relative;">
        
            <table id="tableFileName" class="table table-hover table-mc-light-blue">
                <thead>
                    <tr>
                        <th>File</th>                            
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td data-title="FileName">MenuProfileFragment.java</td>
                    </tr>
                </tbody>
            </table>
            <table id="tableDeveloperDecision" class="table table-hover table-mc-light-blue">
                <thead>
                    <tr>
                        <th>Developer's decision</th>                            
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td data-title="DeveloperDecision">Version 2</td>
                    </tr>
                </tbody>
            </table>

            <table id="tableKindConflict" class="table table-hover table-mc-light-blue">
                <thead>
                    <tr>
                        <th>Kind of conflict</th>                            
                    </tr>
                </thead>
                <tbody>

                    <tr>
                        <td data-title="KindConflict">Annotation</td>
                    </tr>

                    <tr>
                        <td data-title="KindConflict"> For statement</td>
                    </tr>

                    <tr>
                        <td data-title="KindConflict"> Method declaration</td>
                    </tr>

                    <tr>
                        <td data-title="KindConflict"> Method invocation</td>
                    </tr>

                    <tr>
                        <td data-title="KindConflict"> Method signature</td>
                    </tr>

                    <tr>
                        <td data-title="KindConflict"> Variable</td>
                    </tr>

                </tbody>
            </table>
        </div>
            <div class="table-responsive-vertical shadow-z-1">
                <table id="table" class="table table-hover table-mc-light-blue">
                    <thead>
                        <tr>
                            <th>Chunk</th>
                        </tr>
                    </thead>

                </table>
        <div>
<div class="table-responsive-vertical shadow-z-1" style="width: 80%; float: left; position: relative;">
                <!-- Table starts here -->
                <table id="tableConflict" class="table table-hover table-mc-light-blue">
                    <thead>
                        <tr>
                            <th>Conflicting content</th>
                            
                        </tr>
                    </thead>
                    <tbody>

                        <tr>
                            <td data-title="ConflictingContent"><pre><<<<<<< HEAD

package com.ninetwozero.battlelog.activity.profile.soldier;

import static com.ninetwozero.battlelog.misc.Constants.SP_BL_PERSONA_CURRENT_ID;
import static com.ninetwozero.battlelog.misc.Constants.SP_BL_PERSONA_CURRENT_POS;

import java.util.Map;

import android.app.AlertDialog;
import android.app.Dialog;
=======
>>>>>>> ad900fdcde1bc27497fb4bca964c29f55f93731b
import android.content.Context;
import android.content.Intent;
import android.content.SharedPreferences;</pre></td>
                        </tr>

                    </tbody>
                </table>

                <table id="tableSolution" class="table table-hover table-mc-light-blue">
                    <thead>
                        <tr>
                            <th>Solution content</th>
                            
                        </tr>
                    </thead>
                    <tbody>

<tr>
                            <td data-title="SolutionContent"><pre>
package com.ninetwozero.battlelog.activity.profile.soldier;

import static com.ninetwozero.battlelog.misc.Constants.SP_BL_PERSONA_CURRENT_ID;
import static com.ninetwozero.battlelog.misc.Constants.SP_BL_PERSONA_CURRENT_POS;

import java.util.Map;

import android.app.AlertDialog;
import android.app.Dialog;
import android.content.Context;
import android.content.Intent;
import android.content.SharedPreferences;</pre></td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
<div class="table-responsive-vertical shadow-z-1" style="width: 17.5%; float: right; position: relative;">
        
            <table id="tableFileName" class="table table-hover table-mc-light-blue">
                <thead>
                    <tr>
                        <th>File</th>                            
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td data-title="FileName">ProfileStatsFragment.java</td>
                    </tr>
                </tbody>
            </table>
            <table id="tableDeveloperDecision" class="table table-hover table-mc-light-blue">
                <thead>
                    <tr>
                        <th>Developer's decision</th>                            
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td data-title="DeveloperDecision">Version 1</td>
                    </tr>
                </tbody>
            </table>

            <table id="tableKindConflict" class="table table-hover table-mc-light-blue">
                <thead>
                    <tr>
                        <th>Kind of conflict</th>                            
                    </tr>
                </thead>
                <tbody>

                    <tr>
                        <td data-title="KindConflict">Import</td>
                    </tr>

                </tbody>
            </table>
        </div>
            <div class="table-responsive-vertical shadow-z-1">
                <table id="table" class="table table-hover table-mc-light-blue">
                    <thead>
                        <tr>
                            <th>Chunk</th>
                        </tr>
                    </thead>

                </table>
        <div>
<div class="table-responsive-vertical shadow-z-1" style="width: 80%; float: left; position: relative;">
                <!-- Table starts here -->
                <table id="tableConflict" class="table table-hover table-mc-light-blue">
                    <thead>
                        <tr>
                            <th>Conflicting content</th>
                            
                        </tr>
                    </thead>
                    <tbody>

                        <tr>
                            <td data-title="ConflictingContent"><pre>    private long selectedPersona;
    private int selectedPosition;
    private boolean comparing;
<<<<<<< HEAD
=======
    private String[] personaNames;
    private long[] personaIds;
    private final String DIALOG = "dialog";
    private TextView personaName, rankTitle, rankId, currentLevelPoints, nextLevelPoints, pointsToMake,
            assaultScore, engineerScore, supportScore, reconScore, vehiclesScore, combatScore, awardsScore,
            unlocksScore, totalScore, numberOfKills, numberOfAssists, vehiclesDestroyed, vehiclesDestroyedAssists,
            heals, revives, repairs, resupplies, deaths, kdRatio, numberOfWins, numberOfLosses, wnRatio,
            accuracy, killStreak, longestHeadshot, skill, timePlayed, scorePerMinute;
>>>>>>> ad900fdcde1bc27497fb4bca964c29f55f93731b

    @Override
    public View onCreateView(LayoutInflater layoutInflater, ViewGroup container,</pre></td>
                        </tr>

                    </tbody>
                </table>

                <table id="tableSolution" class="table table-hover table-mc-light-blue">
                    <thead>
                        <tr>
                            <th>Solution content</th>
                            
                        </tr>
                    </thead>
                    <tbody>

<tr>
                            <td data-title="SolutionContent"><pre>    private long selectedPersona;
    private int selectedPosition;
    private boolean comparing;

    private String[] personaNames;
    private long[] personaIds;
    private final String DIALOG = "dialog";
    private TextView personaName, rankTitle, rankId, currentLevelPoints, nextLevelPoints,
            pointsToMake,
            assaultScore, engineerScore, supportScore, reconScore, vehiclesScore, combatScore,
            awardsScore,
            unlocksScore, totalScore, numberOfKills, numberOfAssists, vehiclesDestroyed,
            vehiclesDestroyedAssists,
            heals, revives, repairs, resupplies, deaths, kdRatio, numberOfWins, numberOfLosses,
            wnRatio,
            accuracy, killStreak, longestHeadshot, skill, timePlayed, scorePerMinute;

    @Override
    public View onCreateView(LayoutInflater layoutInflater, ViewGroup container,</pre></td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
<div class="table-responsive-vertical shadow-z-1" style="width: 17.5%; float: right; position: relative;">
        
            <table id="tableFileName" class="table table-hover table-mc-light-blue">
                <thead>
                    <tr>
                        <th>File</th>                            
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td data-title="FileName">ProfileStatsFragment.java</td>
                    </tr>
                </tbody>
            </table>
            <table id="tableDeveloperDecision" class="table table-hover table-mc-light-blue">
                <thead>
                    <tr>
                        <th>Developer's decision</th>                            
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td data-title="DeveloperDecision">Version 2</td>
                    </tr>
                </tbody>
            </table>

            <table id="tableKindConflict" class="table table-hover table-mc-light-blue">
                <thead>
                    <tr>
                        <th>Kind of conflict</th>                            
                    </tr>
                </thead>
                <tbody>

                    <tr>
                        <td data-title="KindConflict">Attribute</td>
                    </tr>

                </tbody>
            </table>
        </div>
            <div class="table-responsive-vertical shadow-z-1">
                <table id="table" class="table table-hover table-mc-light-blue">
                    <thead>
                        <tr>
                            <th>Chunk</th>
                        </tr>
                    </thead>

                </table>
        <div>
<div class="table-responsive-vertical shadow-z-1" style="width: 80%; float: left; position: relative;">
                <!-- Table starts here -->
                <table id="tableConflict" class="table table-hover table-mc-light-blue">
                    <thead>
                        <tr>
                            <th>Conflicting content</th>
                            
                        </tr>
                    </thead>
                    <tbody>

                        <tr>
                            <td data-title="ConflictingContent"><pre>        Log.e("ProfileStatsFragment", "I AM BACK ! ! !");
    }

<<<<<<< HEAD
    public void showPersona(PersonaStats pd, boolean toggle) {

        // Is pd null?
        if (pd == null) {

            return;
        }
=======
    public void findViews() {
>>>>>>> ad900fdcde1bc27497fb4bca964c29f55f93731b

        // Let's find it
        View view = getView();</pre></td>
                        </tr>

                    </tbody>
                </table>

                <table id="tableSolution" class="table table-hover table-mc-light-blue">
                    <thead>
                        <tr>
                            <th>Solution content</th>
                            
                        </tr>
                    </thead>
                    <tbody>

<tr>
                            <td data-title="SolutionContent"><pre>        Log.e("ProfileStatsFragment", "I AM BACK ! ! !");
    }

    public void findViews() {

        // Let's find it
        View view = getView();</pre></td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
<div class="table-responsive-vertical shadow-z-1" style="width: 17.5%; float: right; position: relative;">
        
            <table id="tableFileName" class="table table-hover table-mc-light-blue">
                <thead>
                    <tr>
                        <th>File</th>                            
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td data-title="FileName">ProfileStatsFragment.java</td>
                    </tr>
                </tbody>
            </table>
            <table id="tableDeveloperDecision" class="table table-hover table-mc-light-blue">
                <thead>
                    <tr>
                        <th>Developer's decision</th>                            
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td data-title="DeveloperDecision">Version 2</td>
                    </tr>
                </tbody>
            </table>

            <table id="tableKindConflict" class="table table-hover table-mc-light-blue">
                <thead>
                    <tr>
                        <th>Kind of conflict</th>                            
                    </tr>
                </thead>
                <tbody>

                    <tr>
                        <td data-title="KindConflict">Comment</td>
                    </tr>

                    <tr>
                        <td data-title="KindConflict"> If statement</td>
                    </tr>

                    <tr>
                        <td data-title="KindConflict"> Method signature</td>
                    </tr>

                </tbody>
            </table>
        </div>
            <div class="table-responsive-vertical shadow-z-1">
                <table id="table" class="table table-hover table-mc-light-blue">
                    <thead>
                        <tr>
                            <th>Chunk</th>
                        </tr>
                    </thead>

                </table>
        <div>
<div class="table-responsive-vertical shadow-z-1" style="width: 80%; float: left; position: relative;">
                <!-- Table starts here -->
                <table id="tableConflict" class="table table-hover table-mc-light-blue">
                    <thead>
                        <tr>
                            <th>Conflicting content</th>
                            
                        </tr>
                    </thead>
                    <tbody>

                        <tr>
                            <td data-title="ConflictingContent"><pre>        }

        // Persona & rank
<<<<<<< HEAD
        ((TextView) view.findViewById(R.id.string_persona)).setText(pd
                .getPersonaName());
        ((TextView) view.findViewById(R.id.string_rank_title)).setText(pd
                .getRankTitle());
        ((TextView) view.findViewById(R.id.string_rank_short)).setText(String.valueOf(pd
                .getRankId()));

        // Progress
        progressBar.setMax((int) pd.getPointsNeededToLvlUp());
        progressBar.setProgress((int) pd.getPointsProgressLvl());
        ((TextView) view.findViewById(R.id.string_progress_curr)).setText(String.valueOf(pd
                .getPointsProgressLvl()));
        ((TextView) view.findViewById(R.id.string_progress_max)).setText(String.valueOf(pd
                .getPointsNeededToLvlUp()));
        ((TextView) view.findViewById(R.id.string_progress_left)).setText(String.valueOf(pd
                .getPointsLeft()));

        // Score
        ((TextView) view.findViewById(R.id.string_score_assault)).setText(String.valueOf(pd
                .getScoreAssault()));
        ((TextView) view.findViewById(R.id.string_score_engineer)).setText(String.valueOf(pd
                .getScoreEngineer()));
        ((TextView) view.findViewById(R.id.string_score_support)).setText(String.valueOf(pd
                .getScoreSupport()));
        ((TextView) view.findViewById(R.id.string_score_recon)).setText(String.valueOf(pd
                .getScoreRecon()));
        ((TextView) view.findViewById(R.id.string_score_vehicles)).setText(String.valueOf(pd
                .getScoreVehicles()));
        ((TextView) view.findViewById(R.id.string_score_combat)).setText(String.valueOf(pd
                .getScoreCombat()));
        ((TextView) view.findViewById(R.id.string_score_award)).setText(String.valueOf(pd
                .getScoreAwards()));
        ((TextView) view.findViewById(R.id.string_score_unlock)).setText(String.valueOf(pd
                .getScoreUnlocks()));
        ((TextView) view.findViewById(R.id.string_score_total)).setText(String.valueOf(pd
                .getScoreTotal()));

        // Stats
        ((TextView) view.findViewById(R.id.string_stats_kills)).setText(String.valueOf(pd
                .getNumKills()));
        ((TextView) view.findViewById(R.id.string_stats_assists)).setText(String.valueOf(pd
                .getNumAssists()));
        ((TextView) view.findViewById(R.id.string_stats_vkills)).setText(String.valueOf(pd
                .getNumVehicles()));
        ((TextView) view.findViewById(R.id.string_stats_vassists)).setText(String.valueOf(pd
                .getNumVehicleAssists()));
        ((TextView) view.findViewById(R.id.string_stats_heals)).setText(String.valueOf(pd
                .getNumHeals()));
        ((TextView) view.findViewById(R.id.string_stats_revives)).setText(String.valueOf(pd
                .getNumRevives()));
        ((TextView) view.findViewById(R.id.string_stats_repairs)).setText(String.valueOf(pd
                .getNumRepairs()));
        ((TextView) view.findViewById(R.id.string_stats_resupplies)).setText(String.valueOf(pd
                .getNumResupplies()));
        ((TextView) view.findViewById(R.id.string_stats_deaths)).setText(String.valueOf(pd
                .getNumDeaths()));
        ((TextView) view.findViewById(R.id.string_stats_kdr)).setText(String.valueOf(pd
                .getKDRatio()));
        ((TextView) view.findViewById(R.id.string_stats_wins)).setText(String.valueOf(pd
                .getNumWins()));
        ((TextView) view.findViewById(R.id.string_stats_losses)).setText(String.valueOf(pd
                .getNumLosses()));
        ((TextView) view.findViewById(R.id.string_stats_wlr)).setText(String.valueOf(pd
                .getWLRatio()));
        ((TextView) view.findViewById(R.id.string_stats_accuracy)).setText(pd
                .getAccuracy() + "%");
        ((TextView) view.findViewById(R.id.string_stats_lks)).setText(String.valueOf(pd
                .getLongestKS()));
        ((TextView) view.findViewById(R.id.string_stats_lhs)).setText(pd
                .getLongestHS() + " m");
        ((TextView) view.findViewById(R.id.string_stats_skill)).setText(String.valueOf(pd
                .getSkill()));
        ((TextView) view.findViewById(R.id.string_stats_time)).setText(pd
                .getTimePlayedString());
        ((TextView) view.findViewById(R.id.string_stats_spm)).setText(String.valueOf(pd
                .getScorePerMinute()));
=======
        personaName = (TextView) view.findViewById(R.id.string_persona);
        rankTitle = (TextView) view.findViewById(R.id.string_rank_title);
        rankId = (TextView) view.findViewById(R.id.string_rank_short);

        // Progress
        currentLevelPoints = (TextView) view.findViewById(R.id.string_progress_curr);
        nextLevelPoints = (TextView) view.findViewById(R.id.string_progress_max);
        pointsToMake = (TextView) view.findViewById(R.id.string_progress_left);

        // Score
        assaultScore = (TextView) view.findViewById(R.id.string_score_assault);
        engineerScore = (TextView) view.findViewById(R.id.string_score_engineer);
        supportScore = (TextView) view.findViewById(R.id.string_score_support);
        reconScore = (TextView) view.findViewById(R.id.string_score_recon);
        vehiclesScore = (TextView) view.findViewById(R.id.string_score_vehicles);
        combatScore = (TextView) view.findViewById(R.id.string_score_combat);
        awardsScore = (TextView) view.findViewById(R.id.string_score_award);
        unlocksScore = (TextView) view.findViewById(R.id.string_score_unlock);
        totalScore = (TextView) view.findViewById(R.id.string_score_total);

        // Stats
        numberOfKills = (TextView) view.findViewById(R.id.string_stats_kills);
        numberOfAssists = (TextView) view.findViewById(R.id.string_stats_assists);
        vehiclesDestroyed = (TextView) view.findViewById(R.id.string_stats_vkills);
        vehiclesDestroyedAssists = (TextView) view.findViewById(R.id.string_stats_vassists);
        heals = (TextView) view.findViewById(R.id.string_stats_heals);
        revives = (TextView) view.findViewById(R.id.string_stats_revives);
        repairs = (TextView) view.findViewById(R.id.string_stats_repairs);
        resupplies = (TextView) view.findViewById(R.id.string_stats_resupplies);
        deaths = (TextView) view.findViewById(R.id.string_stats_deaths);
        kdRatio = (TextView) view.findViewById(R.id.string_stats_kdr);
        numberOfWins = (TextView) view.findViewById(R.id.string_stats_wins);
        numberOfLosses = (TextView) view.findViewById(R.id.string_stats_losses);
        wnRatio = (TextView) view.findViewById(R.id.string_stats_wlr);
        accuracy = (TextView) view.findViewById(R.id.string_stats_accuracy);
        killStreak = (TextView) view.findViewById(R.id.string_stats_lks);
        longestHeadshot = (TextView) view.findViewById(R.id.string_stats_lhs);
        skill = (TextView) view.findViewById(R.id.string_stats_skill);
        timePlayed = (TextView) view.findViewById(R.id.string_stats_time);
        scorePerMinute = (TextView) view.findViewById(R.id.string_stats_spm);
>>>>>>> ad900fdcde1bc27497fb4bca964c29f55f93731b

        // Are we going to compare?
        /*if (comparing) {</pre></td>
                        </tr>

                    </tbody>
                </table>

                <table id="tableSolution" class="table table-hover table-mc-light-blue">
                    <thead>
                        <tr>
                            <th>Solution content</th>
                            
                        </tr>
                    </thead>
                    <tbody>

<tr>
                            <td data-title="SolutionContent"><pre>        }

        // Persona & rank
        personaName = (TextView) view.findViewById(R.id.string_persona);
        rankTitle = (TextView) view.findViewById(R.id.string_rank_title);
        rankId = (TextView) view.findViewById(R.id.string_rank_short);

        // Progress
        currentLevelPoints = (TextView) view.findViewById(R.id.string_progress_curr);
        nextLevelPoints = (TextView) view.findViewById(R.id.string_progress_max);
        pointsToMake = (TextView) view.findViewById(R.id.string_progress_left);

        // Score
        assaultScore = (TextView) view.findViewById(R.id.string_score_assault);
        engineerScore = (TextView) view.findViewById(R.id.string_score_engineer);
        supportScore = (TextView) view.findViewById(R.id.string_score_support);
        reconScore = (TextView) view.findViewById(R.id.string_score_recon);
        vehiclesScore = (TextView) view.findViewById(R.id.string_score_vehicles);
        combatScore = (TextView) view.findViewById(R.id.string_score_combat);
        awardsScore = (TextView) view.findViewById(R.id.string_score_award);
        unlocksScore = (TextView) view.findViewById(R.id.string_score_unlock);
        totalScore = (TextView) view.findViewById(R.id.string_score_total);

        // Stats
        numberOfKills = (TextView) view.findViewById(R.id.string_stats_kills);
        numberOfAssists = (TextView) view.findViewById(R.id.string_stats_assists);
        vehiclesDestroyed = (TextView) view.findViewById(R.id.string_stats_vkills);
        vehiclesDestroyedAssists = (TextView) view.findViewById(R.id.string_stats_vassists);
        heals = (TextView) view.findViewById(R.id.string_stats_heals);
        revives = (TextView) view.findViewById(R.id.string_stats_revives);
        repairs = (TextView) view.findViewById(R.id.string_stats_repairs);
        resupplies = (TextView) view.findViewById(R.id.string_stats_resupplies);
        deaths = (TextView) view.findViewById(R.id.string_stats_deaths);
        kdRatio = (TextView) view.findViewById(R.id.string_stats_kdr);
        numberOfWins = (TextView) view.findViewById(R.id.string_stats_wins);
        numberOfLosses = (TextView) view.findViewById(R.id.string_stats_losses);
        wnRatio = (TextView) view.findViewById(R.id.string_stats_wlr);
        accuracy = (TextView) view.findViewById(R.id.string_stats_accuracy);
        killStreak = (TextView) view.findViewById(R.id.string_stats_lks);
        longestHeadshot = (TextView) view.findViewById(R.id.string_stats_lhs);
        skill = (TextView) view.findViewById(R.id.string_stats_skill);
        timePlayed = (TextView) view.findViewById(R.id.string_stats_time);
        scorePerMinute = (TextView) view.findViewById(R.id.string_stats_spm);

        // Are we going to compare?</pre></td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
<div class="table-responsive-vertical shadow-z-1" style="width: 17.5%; float: right; position: relative;">
        
            <table id="tableFileName" class="table table-hover table-mc-light-blue">
                <thead>
                    <tr>
                        <th>File</th>                            
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td data-title="FileName">ProfileStatsFragment.java</td>
                    </tr>
                </tbody>
            </table>
            <table id="tableDeveloperDecision" class="table table-hover table-mc-light-blue">
                <thead>
                    <tr>
                        <th>Developer's decision</th>                            
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td data-title="DeveloperDecision">Version 2</td>
                    </tr>
                </tbody>
            </table>

            <table id="tableKindConflict" class="table table-hover table-mc-light-blue">
                <thead>
                    <tr>
                        <th>Kind of conflict</th>                            
                    </tr>
                </thead>
                <tbody>

                    <tr>
                        <td data-title="KindConflict">Attribute</td>
                    </tr>

                    <tr>
                        <td data-title="KindConflict"> Cast expression</td>
                    </tr>

                    <tr>
                        <td data-title="KindConflict"> Comment</td>
                    </tr>

                    <tr>
                        <td data-title="KindConflict"> Method invocation</td>
                    </tr>

                </tbody>
            </table>
        </div>
            <div class="table-responsive-vertical shadow-z-1">
                <table id="table" class="table table-hover table-mc-light-blue">
                    <thead>
                        <tr>
                            <th>Chunk</th>
                        </tr>
                    </thead>

                </table>
        <div>
<div class="table-responsive-vertical shadow-z-1" style="width: 80%; float: left; position: relative;">
                <!-- Table starts here -->
                <table id="tableConflict" class="table table-hover table-mc-light-blue">
                    <thead>
                        <tr>
                            <th>Conflicting content</th>
                            
                        </tr>
                    </thead>
                    <tbody>

                        <tr>
                            <td data-title="ConflictingContent"><pre>
            } else {

<<<<<<< HEAD
                Toast.makeText(context, R.string.general_no_data,
                        Toast.LENGTH_SHORT).show();
=======
                populateStats(personaStats.get(selectedPersona));
>>>>>>> ad900fdcde1bc27497fb4bca964c29f55f93731b

            }
</pre></td>
                        </tr>

                    </tbody>
                </table>

                <table id="tableSolution" class="table table-hover table-mc-light-blue">
                    <thead>
                        <tr>
                            <th>Solution content</th>
                            
                        </tr>
                    </thead>
                    <tbody>

<tr>
                            <td data-title="SolutionContent"><pre>            } else {

                Toast.makeText(context, R.string.general_no_data,
                        Toast.LENGTH_SHORT).show();

            }</pre></td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
<div class="table-responsive-vertical shadow-z-1" style="width: 17.5%; float: right; position: relative;">
        
            <table id="tableFileName" class="table table-hover table-mc-light-blue">
                <thead>
                    <tr>
                        <th>File</th>                            
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td data-title="FileName">ProfileStatsFragment.java</td>
                    </tr>
                </tbody>
            </table>
            <table id="tableDeveloperDecision" class="table table-hover table-mc-light-blue">
                <thead>
                    <tr>
                        <th>Developer's decision</th>                            
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td data-title="DeveloperDecision">Version 1</td>
                    </tr>
                </tbody>
            </table>

            <table id="tableKindConflict" class="table table-hover table-mc-light-blue">
                <thead>
                    <tr>
                        <th>Kind of conflict</th>                            
                    </tr>
                </thead>
                <tbody>

                    <tr>
                        <td data-title="KindConflict">Method invocation</td>
                    </tr>

                </tbody>
            </table>
        </div>
            <div class="table-responsive-vertical shadow-z-1">
                <table id="table" class="table table-hover table-mc-light-blue">
                    <thead>
                        <tr>
                            <th>Chunk</th>
                        </tr>
                    </thead>

                </table>
        <div>
<div class="table-responsive-vertical shadow-z-1" style="width: 80%; float: left; position: relative;">
                <!-- Table starts here -->
                <table id="tableConflict" class="table table-hover table-mc-light-blue">
                    <thead>
                        <tr>
                            <th>Conflicting content</th>
                            
                        </tr>
                    </thead>
                    <tbody>

                        <tr>
                            <td data-title="ConflictingContent"><pre>    public void setComparing(boolean c) {
        comparing = c;
    }
<<<<<<< HEAD

    public Dialog generateDialogPersonaList(final long[] personaId, final String[] persona) {

        // Attributes
        final AlertDialog.Builder builder = new AlertDialog.Builder(context);

        // Set the title and the view
        builder.setTitle(R.string.info_dialog_soldierselect);

        builder.setSingleChoiceItems(

                persona, -1, new DialogInterface.OnClickListener() {

                    public void onClick(DialogInterface dialog, int item) {

                        if (personaId[item] != selectedPersona) {

                            // Update it

                            selectedPersona = personaId[item];

                            // Load the new!
                            showPersona(personaStats.get(selectedPersona), true);

                            // Store selectedPersonaPos
                            selectedPosition = item;

                            // Let's update SP
                            updateSharedPreference();

                        }

                        dialog.dismiss();

                    }

                }

                );

        // CREATE
        return builder.create();

    }

    private void updateSharedPreference() {

        // Is this someone else than the logged in user?
        if (SessionKeeper.getProfileData().getId() != profileData.getId()) {

            return;
        }
        
        // Update the sharedPreferences
        SharedPreferences.Editor editor = sharedPreferences.edit();
        editor.putLong(SP_BL_PERSONA_CURRENT_ID, selectedPersona);
        editor.putInt(SP_BL_PERSONA_CURRENT_POS, selectedPosition);
        editor.commit();

    }

=======
>>>>>>> ad900fdcde1bc27497fb4bca964c29f55f93731b
}</pre></td>
                        </tr>

                    </tbody>
                </table>

                <table id="tableSolution" class="table table-hover table-mc-light-blue">
                    <thead>
                        <tr>
                            <th>Solution content</th>
                            
                        </tr>
                    </thead>
                    <tbody>

<tr>
                            <td data-title="SolutionContent"><pre>    public void setComparing(boolean c) {
        comparing = c;
    }

}</pre></td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
<div class="table-responsive-vertical shadow-z-1" style="width: 17.5%; float: right; position: relative;">
        
            <table id="tableFileName" class="table table-hover table-mc-light-blue">
                <thead>
                    <tr>
                        <th>File</th>                            
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td data-title="FileName">ProfileStatsFragment.java</td>
                    </tr>
                </tbody>
            </table>
            <table id="tableDeveloperDecision" class="table table-hover table-mc-light-blue">
                <thead>
                    <tr>
                        <th>Developer's decision</th>                            
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td data-title="DeveloperDecision">Version 2</td>
                    </tr>
                </tbody>
            </table>

            <table id="tableKindConflict" class="table table-hover table-mc-light-blue">
                <thead>
                    <tr>
                        <th>Kind of conflict</th>                            
                    </tr>
                </thead>
                <tbody>

                    <tr>
                        <td data-title="KindConflict">Method declaration</td>
                    </tr>

                </tbody>
            </table>
        </div>
            <div class="table-responsive-vertical shadow-z-1">
                <table id="table" class="table table-hover table-mc-light-blue">
                    <thead>
                        <tr>
                            <th>Chunk</th>
                        </tr>
                    </thead>

                </table>
        <div>
<div class="table-responsive-vertical shadow-z-1" style="width: 80%; float: left; position: relative;">
                <!-- Table starts here -->
                <table id="tableConflict" class="table table-hover table-mc-light-blue">
                    <thead>
                        <tr>
                            <th>Conflicting content</th>
                            
                        </tr>
                    </thead>
                    <tbody>

                        <tr>
                            <td data-title="ConflictingContent"><pre>import java.util.List;

import com.ninetwozero.battlelog.R;
import com.ninetwozero.battlelog.datatype.PersonaData;

<<<<<<< HEAD:src/com/ninetwozero/battlelog/dialog/ProfilePersonaListDialog.java
public final class ProfilePersonaListDialog extends DialogFragment implements
        DialogInterface.OnClickListener {

    // Attributes
    private ProfileData mProfileData;
    private long[] mPersonaId;
    private String[] mPersonaName;
=======
import java.util.ArrayList;
import static com.ninetwozero.battlelog.misc.Constants.SP_BL_PERSONA_CURRENT_ID;
import static com.ninetwozero.battlelog.misc.Constants.SP_BL_PERSONA_CURRENT_POS;

public class ListDialogFragment extends DialogFragment implements DialogInterface.OnClickListener {

    private PersonaData[] personaData;
    private long[] personaId;
    private String[] personaName;
    private final String TAG;
>>>>>>> ad900fdcde1bc27497fb4bca964c29f55f93731b:src/com/ninetwozero/battlelog/dialog/ListDialogFragment.java

    public static ListDialogFragment newInstance(PersonaData[] personaData, String tag) {
        ListDialogFragment dialog = new ListDialogFragment(personaData, tag);</pre></td>
                        </tr>

                    </tbody>
                </table>

                <table id="tableSolution" class="table table-hover table-mc-light-blue">
                    <thead>
                        <tr>
                            <th>Solution content</th>
                            
                        </tr>
                    </thead>
                    <tbody>

<tr>
                            <td data-title="SolutionContent"><pre>import com.ninetwozero.battlelog.R;
import com.ninetwozero.battlelog.datatype.PersonaData;

import java.util.ArrayList;
import java.util.List;

import static com.ninetwozero.battlelog.misc.Constants.SP_BL_PERSONA_CURRENT_ID;
import static com.ninetwozero.battlelog.misc.Constants.SP_BL_PERSONA_CURRENT_POS;

public class ListDialogFragment extends DialogFragment implements DialogInterface.OnClickListener {

    private PersonaData[] mPersonaData;
    private long[] mPersonaId;
    private String[] mPersonaName;
    private final String TAG;

    public static ListDialogFragment newInstance(PersonaData[] personaData, String tag) {
        ListDialogFragment dialog = new ListDialogFragment(personaData, tag);</pre></td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
<div class="table-responsive-vertical shadow-z-1" style="width: 17.5%; float: right; position: relative;">
        
            <table id="tableFileName" class="table table-hover table-mc-light-blue">
                <thead>
                    <tr>
                        <th>File</th>                            
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td data-title="FileName">ListDialogFragment.java</td>
                    </tr>
                </tbody>
            </table>
            <table id="tableDeveloperDecision" class="table table-hover table-mc-light-blue">
                <thead>
                    <tr>
                        <th>Developer's decision</th>                            
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td data-title="DeveloperDecision">Manual</td>
                    </tr>
                </tbody>
            </table>

            <table id="tableKindConflict" class="table table-hover table-mc-light-blue">
                <thead>
                    <tr>
                        <th>Kind of conflict</th>                            
                    </tr>
                </thead>
                <tbody>

                    <tr>
                        <td data-title="KindConflict">Attribute</td>
                    </tr>

                    <tr>
                        <td data-title="KindConflict"> Class signature</td>
                    </tr>

                    <tr>
                        <td data-title="KindConflict"> Comment</td>
                    </tr>

                    <tr>
                        <td data-title="KindConflict"> Import</td>
                    </tr>

                </tbody>
            </table>
        </div>
            <div class="table-responsive-vertical shadow-z-1">
                <table id="table" class="table table-hover table-mc-light-blue">
                    <thead>
                        <tr>
                            <th>Chunk</th>
                        </tr>
                    </thead>

                </table>
        <div>
<div class="table-responsive-vertical shadow-z-1" style="width: 80%; float: left; position: relative;">
                <!-- Table starts here -->
                <table id="tableConflict" class="table table-hover table-mc-light-blue">
                    <thead>
                        <tr>
                            <th>Conflicting content</th>
                            
                        </tr>
                    </thead>
                    <tbody>

                        <tr>
                            <td data-title="ConflictingContent"><pre>    }
        return dialog;

<<<<<<< HEAD:src/com/ninetwozero/battlelog/dialog/ProfilePersonaListDialog.java
    private ProfilePersonaListDialog(ProfileData profileData) {
        this.mProfileData = profileData;
=======
    private ListDialogFragment(PersonaData[] personaData, String tag) {
        this.personaData = personaData.clone();
        this.TAG = tag;
>>>>>>> ad900fdcde1bc27497fb4bca964c29f55f93731b:src/com/ninetwozero/battlelog/dialog/ListDialogFragment.java
    }

    @Override</pre></td>
                        </tr>

                    </tbody>
                </table>

                <table id="tableSolution" class="table table-hover table-mc-light-blue">
                    <thead>
                        <tr>
                            <th>Solution content</th>
                            
                        </tr>
                    </thead>
                    <tbody>

<tr>
                            <td data-title="SolutionContent"><pre>        return dialog;
    }

    private ListDialogFragment(PersonaData[] personaData, String tag) {
        this.mPersonaData = personaData.clone();
        this.TAG = tag;
    }

    @Override</pre></td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
<div class="table-responsive-vertical shadow-z-1" style="width: 17.5%; float: right; position: relative;">
        
            <table id="tableFileName" class="table table-hover table-mc-light-blue">
                <thead>
                    <tr>
                        <th>File</th>                            
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td data-title="FileName">ListDialogFragment.java</td>
                    </tr>
                </tbody>
            </table>
            <table id="tableDeveloperDecision" class="table table-hover table-mc-light-blue">
                <thead>
                    <tr>
                        <th>Developer's decision</th>                            
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td data-title="DeveloperDecision">Manual</td>
                    </tr>
                </tbody>
            </table>

            <table id="tableKindConflict" class="table table-hover table-mc-light-blue">
                <thead>
                    <tr>
                        <th>Kind of conflict</th>                            
                    </tr>
                </thead>
                <tbody>

                    <tr>
                        <td data-title="KindConflict">Attribute</td>
                    </tr>

                    <tr>
                        <td data-title="KindConflict"> Method invocation</td>
                    </tr>

                    <tr>
                        <td data-title="KindConflict"> Method signature</td>
                    </tr>

                    <tr>
                        <td data-title="KindConflict"> Variable</td>
                    </tr>

                </tbody>
            </table>
        </div>
            <div class="table-responsive-vertical shadow-z-1">
                <table id="table" class="table table-hover table-mc-light-blue">
                    <thead>
                        <tr>
                            <th>Chunk</th>
                        </tr>
                    </thead>

                </table>
        <div>
<div class="table-responsive-vertical shadow-z-1" style="width: 80%; float: left; position: relative;">
                <!-- Table starts here -->
                <table id="tableConflict" class="table table-hover table-mc-light-blue">
                    <thead>
                        <tr>
                            <th>Conflicting content</th>
                            
                        </tr>
                    </thead>
                    <tbody>

                        <tr>
                            <td data-title="ConflictingContent"><pre>        mPersonaId = personaId().clone();
        mPersonaName = personaName().clone();
        builder.setNegativeButton("Cancel", this);
<<<<<<< HEAD:src/com/ninetwozero/battlelog/dialog/ProfilePersonaListDialog.java
        builder.setSingleChoiceItems(

                mPersonaName, -1, new DialogInterface.OnClickListener() {
=======
>>>>>>> ad900fdcde1bc27497fb4bca964c29f55f93731b:src/com/ninetwozero/battlelog/dialog/ListDialogFragment.java

        builder.setSingleChoiceItems(personaName, -1, new SingleChoiceListener());
        return builder.create();</pre></td>
                        </tr>

                    </tbody>
                </table>

                <table id="tableSolution" class="table table-hover table-mc-light-blue">
                    <thead>
                        <tr>
                            <th>Solution content</th>
                            
                        </tr>
                    </thead>
                    <tbody>

<tr>
                            <td data-title="SolutionContent"><pre>        mPersonaId = personaId().clone();
        mPersonaName = personaName().clone();
        builder.setNegativeButton("Cancel", this);
        builder.setSingleChoiceItems(mPersonaName, -1, new SingleChoiceListener());
        return builder.create();</pre></td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
<div class="table-responsive-vertical shadow-z-1" style="width: 17.5%; float: right; position: relative;">
        
            <table id="tableFileName" class="table table-hover table-mc-light-blue">
                <thead>
                    <tr>
                        <th>File</th>                            
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td data-title="FileName">ListDialogFragment.java</td>
                    </tr>
                </tbody>
            </table>
            <table id="tableDeveloperDecision" class="table table-hover table-mc-light-blue">
                <thead>
                    <tr>
                        <th>Developer's decision</th>                            
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td data-title="DeveloperDecision">Manual</td>
                    </tr>
                </tbody>
            </table>

            <table id="tableKindConflict" class="table table-hover table-mc-light-blue">
                <thead>
                    <tr>
                        <th>Kind of conflict</th>                            
                    </tr>
                </thead>
                <tbody>

                    <tr>
                        <td data-title="KindConflict">Method invocation</td>
                    </tr>

                </tbody>
            </table>
        </div>
            <div class="table-responsive-vertical shadow-z-1">
                <table id="table" class="table table-hover table-mc-light-blue">
                    <thead>
                        <tr>
                            <th>Chunk</th>
                        </tr>
                    </thead>

                </table>
        <div>
<div class="table-responsive-vertical shadow-z-1" style="width: 80%; float: left; position: relative;">
                <!-- Table starts here -->
                <table id="tableConflict" class="table table-hover table-mc-light-blue">
                    <thead>
                        <tr>
                            <th>Conflicting content</th>
                            
                        </tr>
                    </thead>
                    <tbody>

                        <tr>
                            <td data-title="ConflictingContent"><pre>    }

    private long[] personaId() {
<<<<<<< HEAD:src/com/ninetwozero/battlelog/dialog/ProfilePersonaListDialog.java
        long[] id = new long[mProfileData.getNumPersonas()];
        for (int i = 0; i < mProfileData.getNumPersonas(); i++) {
            id[i] = mProfileData.getPersona(i).getId();
=======
        long[] id = new long[personaData.length];
        for (int i = 0; i < personaData.length; i++) {
            id[i] = personaData[i].getId();
>>>>>>> ad900fdcde1bc27497fb4bca964c29f55f93731b:src/com/ninetwozero/battlelog/dialog/ListDialogFragment.java
        }
        return id;
    }</pre></td>
                        </tr>

                    </tbody>
                </table>

                <table id="tableSolution" class="table table-hover table-mc-light-blue">
                    <thead>
                        <tr>
                            <th>Solution content</th>
                            
                        </tr>
                    </thead>
                    <tbody>

<tr>
                            <td data-title="SolutionContent"><pre>    }

    private long[] personaId() {
        long[] id = new long[mPersonaData.length];
        for (int i = 0; i < mPersonaData.length; i++) {
            id[i] = mPersonaData[i].getId();
        }
        return id;
    }</pre></td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
<div class="table-responsive-vertical shadow-z-1" style="width: 17.5%; float: right; position: relative;">
        
            <table id="tableFileName" class="table table-hover table-mc-light-blue">
                <thead>
                    <tr>
                        <th>File</th>                            
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td data-title="FileName">ListDialogFragment.java</td>
                    </tr>
                </tbody>
            </table>
            <table id="tableDeveloperDecision" class="table table-hover table-mc-light-blue">
                <thead>
                    <tr>
                        <th>Developer's decision</th>                            
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td data-title="DeveloperDecision">Manual</td>
                    </tr>
                </tbody>
            </table>

            <table id="tableKindConflict" class="table table-hover table-mc-light-blue">
                <thead>
                    <tr>
                        <th>Kind of conflict</th>                            
                    </tr>
                </thead>
                <tbody>

                    <tr>
                        <td data-title="KindConflict">Array access</td>
                    </tr>

                    <tr>
                        <td data-title="KindConflict"> For statement</td>
                    </tr>

                    <tr>
                        <td data-title="KindConflict"> Method invocation</td>
                    </tr>

                    <tr>
                        <td data-title="KindConflict"> Variable</td>
                    </tr>

                </tbody>
            </table>
        </div>
            <div class="table-responsive-vertical shadow-z-1">
                <table id="table" class="table table-hover table-mc-light-blue">
                    <thead>
                        <tr>
                            <th>Chunk</th>
                        </tr>
                    </thead>

                </table>
        <div>
<div class="table-responsive-vertical shadow-z-1" style="width: 80%; float: left; position: relative;">
                <!-- Table starts here -->
                <table id="tableConflict" class="table table-hover table-mc-light-blue">
                    <thead>
                        <tr>
                            <th>Conflicting content</th>
                            
                        </tr>
                    </thead>
                    <tbody>

                        <tr>
                            <td data-title="ConflictingContent"><pre>
    private String[] personaName() {
        List<String> name = new ArrayList<String>();
<<<<<<< HEAD:src/com/ninetwozero/battlelog/dialog/ProfilePersonaListDialog.java
        for (int i = 0; i < mProfileData.getNumPersonas(); i++) {
            name.add(mProfileData.getPersona(i).getName());
        }
        return name.toArray(new String[mProfileData.getNumPersonas()]);
=======
        for (int i = 0; i < personaData.length; i++) {
            name.add(personaData[i].getName() + personaData[i].resolvePlatformId());
        }
        return name.toArray(new String[personaData.length]);
>>>>>>> ad900fdcde1bc27497fb4bca964c29f55f93731b:src/com/ninetwozero/battlelog/dialog/ListDialogFragment.java
    }

    private void updateSharedPreference(int item) {</pre></td>
                        </tr>

                    </tbody>
                </table>

                <table id="tableSolution" class="table table-hover table-mc-light-blue">
                    <thead>
                        <tr>
                            <th>Solution content</th>
                            
                        </tr>
                    </thead>
                    <tbody>

<tr>
                            <td data-title="SolutionContent"><pre>
    private String[] personaName() {
        List<String> name = new ArrayList<String>();
        for (int i = 0; i < mPersonaData.length; i++) {
            name.add(mPersonaData[i].getName());
        }
        return name.toArray(new String[mPersonaData.length]);
    }

    private void updateSharedPreference(int item) {</pre></td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
<div class="table-responsive-vertical shadow-z-1" style="width: 17.5%; float: right; position: relative;">
        
            <table id="tableFileName" class="table table-hover table-mc-light-blue">
                <thead>
                    <tr>
                        <th>File</th>                            
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td data-title="FileName">ListDialogFragment.java</td>
                    </tr>
                </tbody>
            </table>
            <table id="tableDeveloperDecision" class="table table-hover table-mc-light-blue">
                <thead>
                    <tr>
                        <th>Developer's decision</th>                            
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td data-title="DeveloperDecision">Manual</td>
                    </tr>
                </tbody>
            </table>

            <table id="tableKindConflict" class="table table-hover table-mc-light-blue">
                <thead>
                    <tr>
                        <th>Kind of conflict</th>                            
                    </tr>
                </thead>
                <tbody>

                    <tr>
                        <td data-title="KindConflict">For statement</td>
                    </tr>

                    <tr>
                        <td data-title="KindConflict"> Method invocation</td>
                    </tr>

                    <tr>
                        <td data-title="KindConflict"> Return statement</td>
                    </tr>

                </tbody>
            </table>
        </div>
            </div>
        </div>
        
        <!-- Última versão JavaScript compilada e minificada -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" ></script>
        <script type="text/javascript" src="script.js"></script>
    </body>
</html>