<html>    <head>        <title>Projects information</title>        <meta charset="UTF-8">        <meta name="viewport" content="width=device-width, initial-scale=1.0">        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">    </head>    <body><h2> <a href = "../../../index.html"> Projects </a> >> <a href = "../zk.html"> zk</a> >>83babe881ebc93caa5d965f84272746464e254e6</h2>
        <div id="demo">
            <div class="table-responsive-vertical shadow-z-1">
                <table id="table" class="table table-hover table-mc-light-blue">
                    <thead>
                        <tr>
                            <th>Chunk</th>
                        </tr>
                    </thead>

                </table>
        <div>
<div class="table-responsive-vertical shadow-z-1" style="width: 80%; float: left; position: relative;">
                <!-- Table starts here -->
                <table id="tableConflict" class="table table-hover table-mc-light-blue">
                    <thead>
                        <tr>
                            <th>Conflicting content</th>
                            
                        </tr>
                    </thead>
                    <tbody>

                        <tr>
                            <td data-title="ConflictingContent"><pre><<<<<<< HEAD
/* WrongValuesException.java

{{IS_NOTE
	Purpose:
		
	Description:
		
	History:
		Oct 16, 2008 10:33:27 AM , Created by jumperchen
}}IS_NOTE

Copyright (C) 2008 Potix Corporation. All Rights Reserved.

{{IS_RIGHT
	This program is distributed under GPL Version 3.0 in the hope that
	it will be useful, but WITHOUT ANY WARRANTY.
}}IS_RIGHT
*/
package org.zkoss.zk.ui;

/** 
 * Denotes the value passed to a setter (aka., mutator) of a component
 * is wrong for a group components.
 * @author jumperchen
 * @since 3.6.0
 */
public class WrongValuesException extends OperationException {
	private WrongValueException[] _wrongValues;
	public WrongValuesException(WrongValueException[] wrongValues) {
		_wrongValues = wrongValues;
	}
	
	/** Returns all the exceptions, or null.
	 */
	public WrongValueException[] getWrongValueExceptions() {
		return _wrongValues;
	}
}
=======
/* WrongValuesException.java

{{IS_NOTE
	Purpose:
		
	Description:
		
	History:
		Oct 16, 2008 10:33:27 AM , Created by jumperchen
}}IS_NOTE

Copyright (C) 2008 Potix Corporation. All Rights Reserved.

{{IS_RIGHT
	This program is distributed under GPL Version 2.0 in the hope that
	it will be useful, but WITHOUT ANY WARRANTY.
}}IS_RIGHT
*/
package org.zkoss.zk.ui;

/** 
 * Denotes an exception that is an aggregation of multiple {@link WrongValueException}.
 *
 * @author jumperchen
 * @since 3.6.0
 */
public class WrongValuesException extends OperationException {
	private final WrongValueException[] _wves;
	/** Constructs a multiple wrong value exception.
	 * @param wrongValueExs an array of {@link WrongValueException}
	 * @exception IllegalArgumentException if wrongValueExs is null or empty
	 */
	public WrongValuesException(WrongValueException[] wrongValueExs) {
		if (wrongValueExs == null || wrongValueExs.length == 0)
			throw new IllegalArgumentException();
		_wves = wrongValueExs;
	}
	
	/** Returns all the exceptions (never null).
	 */
	public WrongValueException[] getWrongValueExceptions() {
		return _wves;
	}
}
>>>>>>> 08bb78383e20ef8a77496adee8204004e969193d</pre></td>
                        </tr>

                    </tbody>
                </table>

                <table id="tableSolution" class="table table-hover table-mc-light-blue">
                    <thead>
                        <tr>
                            <th>Solution content</th>
                            
                        </tr>
                    </thead>
                    <tbody>

<tr>
                            <td data-title="SolutionContent"><pre>/* WrongValuesException.java

{{IS_NOTE
	Purpose:
		
	Description:
		
	History:
		Oct 16, 2008 10:33:27 AM , Created by jumperchen
}}IS_NOTE

Copyright (C) 2008 Potix Corporation. All Rights Reserved.

{{IS_RIGHT
	This program is distributed under GPL Version 2.0 in the hope that
	it will be useful, but WITHOUT ANY WARRANTY.
}}IS_RIGHT
*/
package org.zkoss.zk.ui;

/** 
 * Denotes an exception that is an aggregation of multiple {@link WrongValueException}.
 *
 * @author jumperchen
 * @since 3.6.0
 */
public class WrongValuesException extends OperationException {
	private final WrongValueException[] _wves;
	/** Constructs a multiple wrong value exception.
	 * @param wrongValueExs an array of {@link WrongValueException}
	 * @exception IllegalArgumentException if wrongValueExs is null or empty
	 */
	public WrongValuesException(WrongValueException[] wrongValueExs) {
		if (wrongValueExs == null || wrongValueExs.length == 0)
			throw new IllegalArgumentException();
		_wves = wrongValueExs;
	}
	
	/** Returns all the exceptions (never null).
	 */
	public WrongValueException[] getWrongValueExceptions() {
		return _wves;
	}
}</pre></td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
<div class="table-responsive-vertical shadow-z-1" style="width: 17.5%; float: right; position: relative;">
        
            <table id="tableFileName" class="table table-hover table-mc-light-blue">
                <thead>
                    <tr>
                        <th>File</th>                            
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td data-title="FileName">WrongValuesException.java</td>
                    </tr>
                </tbody>
            </table>
            <table id="tableDeveloperDecision" class="table table-hover table-mc-light-blue">
                <thead>
                    <tr>
                        <th>Developer's decision</th>                            
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td data-title="DeveloperDecision">Version 2</td>
                    </tr>
                </tbody>
            </table>

            <table id="tableKindConflict" class="table table-hover table-mc-light-blue">
                <thead>
                    <tr>
                        <th>Kind of conflict</th>                            
                    </tr>
                </thead>
                <tbody>

                    <tr>
                        <td data-title="KindConflict">Class declaration</td>
                    </tr>

                    <tr>
                        <td data-title="KindConflict"> Comment</td>
                    </tr>

                    <tr>
                        <td data-title="KindConflict"> Package declaration</td>
                    </tr>

                </tbody>
            </table>
        </div>
            </div>
        </div>
        
        <!-- Última versão JavaScript compilada e minificada -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" ></script>
        <script type="text/javascript" src="script.js"></script>
    </body>
</html>