<html>    <head>        <title>Projects information</title>        <meta charset="UTF-8">        <meta name="viewport" content="width=device-width, initial-scale=1.0">        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">    </head>    <body><h2> <a href = "../../../index.html"> Projects </a> >> <a href = "../osce.html"> osce</a> >>4de7fcbc407ed98ad7a4ea0bd8e8e33b0b22867e</h2>
        <div id="demo">
            <div class="table-responsive-vertical shadow-z-1">
                <table id="table" class="table table-hover table-mc-light-blue">
                    <thead>
                        <tr>
                            <th>Chunk</th>
                        </tr>
                    </thead>

                </table>
        <div>
<div class="table-responsive-vertical shadow-z-1" style="width: 80%; float: left; position: relative;">
                <!-- Table starts here -->
                <table id="tableConflict" class="table table-hover table-mc-light-blue">
                    <thead>
                        <tr>
                            <th>Conflicting content</th>
                            
                        </tr>
                    </thead>
                    <tbody>

                        <tr>
                            <td data-title="ConflictingContent"><pre>	public void init() {
		
 */
<<<<<<< HEAD

/**
 * 
package ch.unibas.medizin.osce.client.a_nonroo.client.ui.examination;

import java.util.HashMap;
import java.util.HashSet;
import java.util.Map;
import java.util.Set;

import ch.unibas.medizin.osce.shared.i18n.OsceConstants;
import ch.unibas.medizin.osce.client.managed.request.OsceDayProxy;
import ch.unibas.medizin.osce.client.managed.request.OsceProxy;
import ch.unibas.medizin.osce.client.style.widgets.IconButton;
import ch.unibas.medizin.osce.shared.OsceStatus;

import com.allen_sauer.gwt.log.client.Log;
import com.google.gwt.core.client.GWT;
import com.google.gwt.event.dom.client.ClickEvent;
import com.google.gwt.i18n.client.DateTimeFormat;
import com.google.gwt.uibinder.client.UiBinder;
import com.google.gwt.uibinder.client.UiField;
import com.google.gwt.uibinder.client.UiHandler;
import com.google.gwt.user.client.ui.Composite;
import com.google.gwt.user.client.ui.Label;
import com.google.gwt.user.client.ui.TextBox;
import com.google.gwt.user.client.ui.VerticalPanel;
import com.google.gwt.user.client.ui.Widget;
import com.google.gwt.user.datepicker.client.DateBox;
import com.google.gwt.user.datepicker.client.DateBox.Format;

/**
 * @author dk
 *
 */
public class OsceDayViewImpl extends Composite implements OsceDayView {

	private static OsceDayViewUiBinder uiBinder = GWT
			.create(OsceDayViewUiBinder.class);

	interface OsceDayViewUiBinder extends UiBinder<Widget, OsceDayViewImpl> {
	}

	private Delegate delegate;

	protected Set<String> paths = new HashSet<String>();

	private Presenter presenter;
	
	private final OsceConstants constants = GWT.create(OsceConstants.class);
	
	private OsceProxy osceProxy;
	private OsceDayProxy osceDayProxy;
	
	private boolean insertflag =true;
	
	public void setInsertFlag(boolean insertFlag){
		this.insertflag=insertFlag;
	}
	
	public boolean getInsertFlag(){
		return this.insertflag;
	}
	
	public void setOsceDayProxy(OsceDayProxy osceday){
		this.osceDayProxy=osceday;
	}
	public OsceDayProxy getOsceDayProxy (){
		return this.osceDayProxy;
	}
	@UiField
	VerticalPanel dayContentVerticalPanel;

	@UiField
	Label dayLabel;
	
	@UiField
	Label presentsLabel;
	
	@UiField
	Label dateLabel;
	
	@UiField
	public DateBox dateTextBox;
	
	@UiField
	Label startTimeLable;
	
	@UiField
	public TextBox startTimeTextBox;
	
	@UiField
	Label endTimeLable;
	
	@UiField
	public TextBox endTimeTextBox;
	
	@UiField
	Label calculationsLabel;
	
	@UiField
	Label lunchBreakLabel;
	
	@UiField
	Label lbEndTimeLabel;
	
	@UiField
	Label studentsLabel;
	
	@UiField
	IconButton saveOsceDayValue;
	
	@UiHandler("saveOsceDayValue")
	public void saveOsceDayValueClicked(ClickEvent event){
		Log.info("OsceDay Save Button Clicked");
		delegate.saveOsceDayValue(osceDayProxy,insertflag);
	}
	/**
	 * Because this class has a default constructor, it can
	 * be used as a binder template. In other words, it can be used in other
	 * *.ui.xml files as follows:
	 * <ui:UiBinder xmlns:ui="urn:ui:com.google.gwt.uibinder"
	 *   xmlns:g="urn:import:**user's package**">
	 *  <g:**UserClassName**>Hello!</g:**UserClassName>
	 * </ui:UiBinder>
	 * Note that depending on the widget that is used, it may be necessary to
	 * implement HasHTML instead of HasText.
	 */
	
		public OsceDayViewImpl() {
		initWidget(uiBinder.createAndBindUi(this));
		setLabels();
		//init();
	}

	public OsceDayViewImpl(OsceProxy osceProxy) {
		this.osceProxy=osceProxy;
		initWidget(uiBinder.createAndBindUi(this));
		setLabels();
		
		//init();
	}
	public String[] getPaths() {
		return paths.toArray(new String[paths.size()]);
	}

		// TODO implement this!
		Log.info("OsceDay init()");
		
		
			if(osceDayProxy != null){
				insertflag=false;
				System.out.println("Formated Date is :"+DateTimeFormat.getFormat("HH:mm").format(osceDayProxy.getTimeStart()));
				
				
				dateTextBox.setFormat(new DateBox.DefaultFormat(DateTimeFormat.getFormat("MMM dd, yyyy")));
				dateTextBox.setValue(osceDayProxy.getOsceDate());
				Log.info("Formatted Start Time is :" +DateTimeFormat.getFormat("HH:mm").format(osceDayProxy.getTimeStart()).substring(0,5));
				startTimeTextBox.setValue(DateTimeFormat.getFormat("HH:mm").format(osceDayProxy.getTimeStart()).substring(0,5));
				endTimeTextBox.setValue(DateTimeFormat.getFormat("HH:mm").format(osceDayProxy.getTimeEnd()).substring(0,5));
			 }
		
		if(osceProxy != null){
			if(osceProxy.getOsceStatus()==OsceStatus.OSCE_GENRATED){
			dateTextBox.setEnabled(false);
			}
		}
		
	}
	
	// Highlight onViolation
	public Map<String, Widget> osceDayMap;
	// E Highlight onViolation
	
	public void setLabels()
	{
		dayLabel.setText(constants.day());
		presentsLabel.setText(constants.presents());
		dateLabel.setText(constants.date());
		startTimeLable.setText(constants.starttime());
		endTimeLable.setText(constants.endtime());
		calculationsLabel.setText(constants.calculation());
		lunchBreakLabel.setText(constants.lunchbreak());
		lbEndTimeLabel.setText(constants.lbendtime());
		studentsLabel.setText(constants.student());
		saveOsceDayValue.setText(constants.save());

		// Highlight onViolation
			osceDayMap=new HashMap<String, Widget>();
			osceDayMap.put("osceDate", dateTextBox);
			osceDayMap.put("timeStart", startTimeTextBox);
			osceDayMap.put("timeEnd", endTimeTextBox);
		// E Highlight onViolation
		
	}

	@Override
	public void setDelegate(Delegate delegate) {
		this.delegate = delegate;
	}

	@Override
	public void setPresenter(Presenter presenter) {
		this.presenter = presenter;
	}
	
		
	
}
=======

/**
 * 
 */
package ch.unibas.medizin.osce.client.a_nonroo.client.ui.examination;

import java.util.HashMap;
import java.util.HashSet;
import java.util.Map;
import java.util.Set;

import ch.unibas.medizin.osce.client.managed.request.OsceDayProxy;
import ch.unibas.medizin.osce.client.managed.request.OsceProxy;
import ch.unibas.medizin.osce.client.style.widgets.IconButton;
import ch.unibas.medizin.osce.shared.OsceStatus;
import ch.unibas.medizin.osce.shared.i18n.OsceConstants;

import com.allen_sauer.gwt.log.client.Log;
import com.google.gwt.core.client.GWT;
import com.google.gwt.event.dom.client.ClickEvent;
import com.google.gwt.i18n.client.DateTimeFormat;
import com.google.gwt.uibinder.client.UiBinder;
import com.google.gwt.uibinder.client.UiField;
import com.google.gwt.uibinder.client.UiHandler;
import com.google.gwt.user.client.ui.Composite;
import com.google.gwt.user.client.ui.Label;
import com.google.gwt.user.client.ui.TextBox;
import com.google.gwt.user.client.ui.VerticalPanel;
import com.google.gwt.user.client.ui.Widget;
import com.google.gwt.user.datepicker.client.DateBox;

/**
 * @author dk
 *
 */
public class OsceDayViewImpl extends Composite implements OsceDayView {

	private static OsceDayViewUiBinder uiBinder = GWT
			.create(OsceDayViewUiBinder.class);

	interface OsceDayViewUiBinder extends UiBinder<Widget, OsceDayViewImpl> {
	}

	private Delegate delegate;

	protected Set<String> paths = new HashSet<String>();

	private Presenter presenter;
	
	private final OsceConstants constants = GWT.create(OsceConstants.class);
	
	private OsceProxy osceProxy;
	private OsceDayProxy osceDayProxy;
	
	private boolean insertflag =true;
	
	public void setInsertFlag(boolean insertFlag){
		this.insertflag=insertFlag;
	}
	
	public boolean getInsertFlag(){
		return this.insertflag;
	}
	
	public void setOsceDayProxy(OsceDayProxy osceday){
		this.osceDayProxy=osceday;
	}
	public OsceDayProxy getOsceDayProxy (){
		return this.osceDayProxy;
	}
	@UiField
	VerticalPanel dayContentVerticalPanel;

	@UiField
	Label dayLabel;
	
	@UiField
	Label presentsLabel;
	
	@UiField
	Label dateLabel;
	
	@UiField
	public DateBox dateTextBox;
	
	@UiField
	Label startTimeLable;
	
	@UiField
	public TextBox startTimeTextBox;
	
	@UiField
	Label endTimeLable;
	
	@UiField
	public TextBox endTimeTextBox;
	
	@UiField
	Label calculationsLabel;
	
	@UiField
	Label lunchBreakLabel;
	
	// Module 5 bug Report Change
	@UiField
	Label lunchBreakStartLabel;
	// E Module 5 bug Report Change
	
	
	@UiField
	Label lbEndTimeLabel;
	
	@UiField
	Label studentsLabel;
	
	@UiField
	IconButton saveOsceDayValue;
	
	@UiHandler("saveOsceDayValue")
	public void saveOsceDayValueClicked(ClickEvent event){
		Log.info("OsceDay Save Button Clicked");
		delegate.saveOsceDayValue(osceDayProxy,insertflag);
	}
	/**
	 * Because this class has a default constructor, it can
	 * be used as a binder template. In other words, it can be used in other
	 * *.ui.xml files as follows:
	 * <ui:UiBinder xmlns:ui="urn:ui:com.google.gwt.uibinder"
	 *   xmlns:g="urn:import:**user's package**">
	 *  <g:**UserClassName**>Hello!</g:**UserClassName>
	 * </ui:UiBinder>
	 * Note that depending on the widget that is used, it may be necessary to
	 * implement HasHTML instead of HasText.
	 */
	
		public OsceDayViewImpl() {
		initWidget(uiBinder.createAndBindUi(this));
		setLabels();
		//init();
	}

	public OsceDayViewImpl(OsceProxy osceProxy) {
		this.osceProxy=osceProxy;
		initWidget(uiBinder.createAndBindUi(this));
		setLabels();
		
		//init();
	}
	public String[] getPaths() {
		return paths.toArray(new String[paths.size()]);
	}

	public void init() {
		// TODO implement this!
		Log.info("OsceDay init()");
		
			if(osceDayProxy != null){
				insertflag=false;
				System.out.println("Formated Date is :"+DateTimeFormat.getFormat("HH:mm").format(osceDayProxy.getTimeStart()));
				
				
				dateTextBox.setFormat(new DateBox.DefaultFormat(DateTimeFormat.getFormat("MMM dd, yyyy")));
				dateTextBox.setValue(osceDayProxy.getOsceDate());
				Log.info("Formatted Start Time is :" +DateTimeFormat.getFormat("HH:mm").format(osceDayProxy.getTimeStart()).substring(0,5));
				startTimeTextBox.setValue(DateTimeFormat.getFormat("HH:mm").format(osceDayProxy.getTimeStart()).substring(0,5));
				endTimeTextBox.setValue(DateTimeFormat.getFormat("HH:mm").format(osceDayProxy.getTimeEnd()).substring(0,5));
			 }
		
		if(osceProxy != null){
			if(osceProxy.getOsceStatus()==OsceStatus.OSCE_GENRATED){
			dateTextBox.setEnabled(false);
			}
		}
		
	}
	
	// Highlight onViolation
	public Map<String, Widget> osceDayMap;
	// E Highlight onViolation
	
	public void setLabels()
	{
		dayLabel.setText(constants.day());
		presentsLabel.setText(constants.presents());
		dateLabel.setText(constants.date());
		startTimeLable.setText(constants.starttime());
		endTimeLable.setText(constants.endtime());
		calculationsLabel.setText(constants.calculation());
		lunchBreakLabel.setText(constants.lunchbreak());
		
		// Module 5 bug Report Change
		lunchBreakStartLabel.setText(constants.lunchBreakStart());
		// E Module 5 bug Report Change
		
		lbEndTimeLabel.setText(constants.lbendtime());
		studentsLabel.setText(constants.student());
		saveOsceDayValue.setText("Save");

		// Highlight onViolation
			osceDayMap=new HashMap<String, Widget>();
			osceDayMap.put("osceDate", dateTextBox);
			osceDayMap.put("timeStart", startTimeTextBox);
			osceDayMap.put("timeEnd", endTimeTextBox);
		// E Highlight onViolation
		
	}

	@Override
	public void setDelegate(Delegate delegate) {
		this.delegate = delegate;
	}

	@Override
	public void setPresenter(Presenter presenter) {
		this.presenter = presenter;
	}
	
		
	
}
>>>>>>> 5a126ebdc344561577e45756c0b1a06b8d632e9e</pre></td>
                        </tr>

                    </tbody>
                </table>

                <table id="tableSolution" class="table table-hover table-mc-light-blue">
                    <thead>
                        <tr>
                            <th>Solution content</th>
                            
                        </tr>
                    </thead>
                    <tbody>

<tr>
                            <td data-title="SolutionContent"><pre>package ch.unibas.medizin.osce.client.a_nonroo.client.ui.examination;

import java.util.HashMap;
import java.util.HashSet;
import java.util.Map;
import java.util.Set;

import ch.unibas.medizin.osce.client.managed.request.OsceDayProxy;
import ch.unibas.medizin.osce.client.managed.request.OsceProxy;
import ch.unibas.medizin.osce.client.style.widgets.IconButton;
import ch.unibas.medizin.osce.shared.OsceStatus;
import ch.unibas.medizin.osce.shared.i18n.OsceConstants;

import com.allen_sauer.gwt.log.client.Log;
import com.google.gwt.core.client.GWT;
import com.google.gwt.event.dom.client.ClickEvent;
import com.google.gwt.i18n.client.DateTimeFormat;
import com.google.gwt.uibinder.client.UiBinder;
import com.google.gwt.uibinder.client.UiField;
import com.google.gwt.uibinder.client.UiHandler;
import com.google.gwt.user.client.ui.Composite;
import com.google.gwt.user.client.ui.Label;
import com.google.gwt.user.client.ui.TextBox;
import com.google.gwt.user.client.ui.VerticalPanel;
import com.google.gwt.user.client.ui.Widget;
import com.google.gwt.user.datepicker.client.DateBox;

/**
 * @author dk
 *
 */
public class OsceDayViewImpl extends Composite implements OsceDayView {

	private static OsceDayViewUiBinder uiBinder = GWT
			.create(OsceDayViewUiBinder.class);

	interface OsceDayViewUiBinder extends UiBinder<Widget, OsceDayViewImpl> {
	}

	private Delegate delegate;

	protected Set<String> paths = new HashSet<String>();

	private Presenter presenter;
	
	private final OsceConstants constants = GWT.create(OsceConstants.class);
	
	private OsceProxy osceProxy;
	private OsceDayProxy osceDayProxy;
	
	private boolean insertflag =true;
	
	public void setInsertFlag(boolean insertFlag){
		this.insertflag=insertFlag;
	}
	
	public boolean getInsertFlag(){
		return this.insertflag;
	}
	
	public void setOsceDayProxy(OsceDayProxy osceday){
		this.osceDayProxy=osceday;
	}
	public OsceDayProxy getOsceDayProxy (){
		return this.osceDayProxy;
	}
	@UiField
	VerticalPanel dayContentVerticalPanel;

	@UiField
	Label dayLabel;
	
	@UiField
	Label presentsLabel;
	
	@UiField
	Label dateLabel;
	
	@UiField
	public DateBox dateTextBox;
	
	@UiField
	Label startTimeLable;
	
	@UiField
	public TextBox startTimeTextBox;
	
	@UiField
	Label endTimeLable;
	
	@UiField
	public TextBox endTimeTextBox;
	
	@UiField
	Label calculationsLabel;
	
	@UiField
	Label lunchBreakLabel;
	
	// Module 5 bug Report Change
	@UiField
	Label lunchBreakStartLabel;
	// E Module 5 bug Report Change
	
	
	@UiField
	Label lbEndTimeLabel;
	
	@UiField
	Label studentsLabel;
	
	@UiField
	IconButton saveOsceDayValue;
	
	@UiHandler("saveOsceDayValue")
	public void saveOsceDayValueClicked(ClickEvent event){
		Log.info("OsceDay Save Button Clicked");
		delegate.saveOsceDayValue(osceDayProxy,insertflag);
	}
	/**
	 * Because this class has a default constructor, it can
	 * be used as a binder template. In other words, it can be used in other
	 * *.ui.xml files as follows:
	 * <ui:UiBinder xmlns:ui="urn:ui:com.google.gwt.uibinder"
	 *   xmlns:g="urn:import:**user's package**">
	 *  <g:**UserClassName**>Hello!</g:**UserClassName>
	 * </ui:UiBinder>
	 * Note that depending on the widget that is used, it may be necessary to
	 * implement HasHTML instead of HasText.
	 */
	
		public OsceDayViewImpl() {
		initWidget(uiBinder.createAndBindUi(this));
		setLabels();
		//init();
	}

	public OsceDayViewImpl(OsceProxy osceProxy) {
		this.osceProxy=osceProxy;
		initWidget(uiBinder.createAndBindUi(this));
		setLabels();
		
		//init();
	}
	public String[] getPaths() {
		return paths.toArray(new String[paths.size()]);
	}

	public void init() {
		// TODO implement this!
		Log.info("OsceDay init()");
		
		
			if(osceDayProxy != null){
				insertflag=false;
				System.out.println("Formated Date is :"+DateTimeFormat.getFormat("HH:mm").format(osceDayProxy.getTimeStart()));
				
				
				dateTextBox.setFormat(new DateBox.DefaultFormat(DateTimeFormat.getFormat("MMM dd, yyyy")));
				dateTextBox.setValue(osceDayProxy.getOsceDate());
				Log.info("Formatted Start Time is :" +DateTimeFormat.getFormat("HH:mm").format(osceDayProxy.getTimeStart()).substring(0,5));
				startTimeTextBox.setValue(DateTimeFormat.getFormat("HH:mm").format(osceDayProxy.getTimeStart()).substring(0,5));
				endTimeTextBox.setValue(DateTimeFormat.getFormat("HH:mm").format(osceDayProxy.getTimeEnd()).substring(0,5));
			 }
		
		if(osceProxy != null){
			if(osceProxy.getOsceStatus()==OsceStatus.OSCE_GENRATED){
			dateTextBox.setEnabled(false);
			}
		}
		
	}
	
	// Highlight onViolation
	public Map<String, Widget> osceDayMap;
	// E Highlight onViolation
	
	public void setLabels()
	{
		dayLabel.setText(constants.day());
		presentsLabel.setText(constants.presents());
		dateLabel.setText(constants.date());
		startTimeLable.setText(constants.starttime());
		endTimeLable.setText(constants.endtime());
		calculationsLabel.setText(constants.calculation());
		lunchBreakLabel.setText(constants.lunchbreak());
		
		// Module 5 bug Report Change
		lunchBreakStartLabel.setText(constants.lunchBreakStart());
		// E Module 5 bug Report Change
		
		lbEndTimeLabel.setText(constants.lbendtime());
		studentsLabel.setText(constants.student());
		saveOsceDayValue.setText("Save");

		// Highlight onViolation
			osceDayMap=new HashMap<String, Widget>();
			osceDayMap.put("osceDate", dateTextBox);
			osceDayMap.put("timeStart", startTimeTextBox);
			osceDayMap.put("timeEnd", endTimeTextBox);
		// E Highlight onViolation
		
	}

	@Override
	public void setDelegate(Delegate delegate) {
		this.delegate = delegate;
	}

	@Override
	public void setPresenter(Presenter presenter) {
		this.presenter = presenter;
	}	
}</pre></td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
<div class="table-responsive-vertical shadow-z-1" style="width: 17.5%; float: right; position: relative;">
        
            <table id="tableFileName" class="table table-hover table-mc-light-blue">
                <thead>
                    <tr>
                        <th>File</th>                            
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td data-title="FileName">OsceDayViewImpl.java</td>
                    </tr>
                </tbody>
            </table>
            <table id="tableDeveloperDecision" class="table table-hover table-mc-light-blue">
                <thead>
                    <tr>
                        <th>Developer's decision</th>                            
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td data-title="DeveloperDecision">Combination</td>
                    </tr>
                </tbody>
            </table>

            <table id="tableKindConflict" class="table table-hover table-mc-light-blue">
                <thead>
                    <tr>
                        <th>Kind of conflict</th>                            
                    </tr>
                </thead>
                <tbody>

                    <tr>
                        <td data-title="KindConflict">Class declaration</td>
                    </tr>

                    <tr>
                        <td data-title="KindConflict"> Comment</td>
                    </tr>

                    <tr>
                        <td data-title="KindConflict"> Import</td>
                    </tr>

                    <tr>
                        <td data-title="KindConflict"> Package declaration</td>
                    </tr>

                </tbody>
            </table>
        </div>
            <div class="table-responsive-vertical shadow-z-1">
                <table id="table" class="table table-hover table-mc-light-blue">
                    <thead>
                        <tr>
                            <th>Chunk</th>
                        </tr>
                    </thead>

                </table>
        <div>
<div class="table-responsive-vertical shadow-z-1" style="width: 80%; float: left; position: relative;">
                <!-- Table starts here -->
                <table id="tableConflict" class="table table-hover table-mc-light-blue">
                    <thead>
                        <tr>
                            <th>Conflicting content</th>
                            
                        </tr>
                    </thead>
                    <tbody>

                        <tr>
                            <td data-title="ConflictingContent"><pre>



	public String user();
<<<<<<< HEAD
package ch.unibas.medizin.osce.shared.i18n;

import com.google.gwt.i18n.client.Constants;

/**
 * Generated by I18nterpreter
 */
public interface OsceConstants extends Constants {
	public String accepted();

	public String acceptedOSCE();

	public String acceptedTraining();

	public String active();

	public String add();

	public String addAllActive();

	public String addAnamnesisValue();

	public String addAnswer();

	public String addAuthor();

	public String addCheckListQuestion();

	public String addCheckListTopic();

	public String addClinic();

	public String addDiscipline();

	public String addDoctor();

	public String addItem();

	public String addKeyword();

	public String addLangSkill();

	public String addLanguage();

	public String addManually();

	public String addMaterial();

	public String addNationality();

	public String addOsce();

	public String addPatient();

	public String addProfession();

	public String addQuestion();

	public String addReviewer();

	public String addRole();

	public String addRoleFile();

	public String addRoleScriptTemplate();

	public String addRoleSubItem();

	public String addRoleTopic();

	public String addRoom();

	public String addSimpleSearchCriteria();

	public String addTitle();

	public String addTrait();

	public String addUser();

	public String administration();

	public String administrator();

	public String age();

	public String all();

	public String anamnesisCheckTitle();

	public String anamnesisForm();

	public String anamnesisValues();

	public String animationTime();

	public String answer();

	public String answered();

	public String answerGiven();

	public String answerPending();

	public String assignedRole();

	public String assignTo();

	public String author();

	public String autoAssign();

	public String autoAssignmentSuccess();

	public String autoSPFailure();

	public String autoSPSuccess();

	public String autoStudentFailure();

	public String autoStudentSuccess();

	public String avgOfSPPerPost();

	public String aviableRole();

	public String backupViewHeading();

	public String bank();

	public String bankAccount();

	public String basicData();

	public String basicFilter();

	public String bic();

	public String bindType();

	public String birthday();

	public String bmi();

	public String calculation();

	public String cancel();

	public String checkList();

	public String checkListItem();

	public String checklistTopic();

	public String circuit();

	public String city();

	public String classiTopic();

	public String clearAll();

	public String clinic();

	public String clinicalSpecialisation();

	public String clinics();

	public String close();

	public String closedButtonString();

	public String comment();

	public String comparison();

	public String complexity();

	public String confirmationWhenStatusIsChangingFormClosedToFix();

	public String contactInfo();

	public String country();

	public String createClinic();

	public String createDoctor();

	public String criterion();

	public String date();

	public String dateCreated();

	public String dateEdited();

	public String dateTime();

	public String dateTimeFormat();

	public String day();

	public String delete();

	public String deletedItemName();

	public String deleteOsceBluePrintPost();

	public String deletePatientInSemester();

	public String deleteTask();

	public String description();

	public String details();

	public String doctors();

	public String edit();

	public String editAnamnesisValue();

	public String editClinic();

	public String editDoctor();

	public String editMaterial();

	public String editOsce();

	public String editPatient();

	public String editRole();

	public String email();

	public String endtime();

	public String endtimedoc();

	public String enterAnswer();

	public String enterKeyword();

	public String enterPatient();

	public String enterQuestion();

	public String enterSortOrderWarn();

	public String error();

	public String examinationSchedule();

	public String examiner();

	public String examinerName();

	public String examinerNotNull();

	public String exams();

	public String export();

	public String exportBellSchedule();

	public String failure();

	public String female();

	public String field();

	public String fileDescription();

	public String fileDetail();

	public String filePath();

	public String filterTitle();

	public String fixedButtonString();

	public String from();

	public String furtherCriteria();

	public String gender();

	public String generalInformation();

	public String generate();

	public String googleMaps();

	public String handledConfidentially();
	public String height();

	public String homeRole();

	public String iban();

	public String imageUpload();

	public String importObjective();

	public String importQuestion();

	public String importstudent();

	public String importTopic();

	public String inActive();

	public String insideTitle();

	public String itemName();

	public String itemValue();

	public String keyword();

	public String keywords();

	public String language();

	public String languages();

	public String languageSkills();

	public String lbendtime();

	public String learning();

	public String learningObjectives();

	public String leavePageWarn();

	public String loading();

	public String location();

	public String log();

	public String logDetails();

	public String logout();

	public String longBreak();

	public String lunchbreak();

	public String lunchBreakStart();

	public String mainClassi();

	public String majorBtnLbl();

	public String majorLbl();

	public String male();

	public String manageOsces();

	public String maritalStatus();

	public String masterData();

	public String maxCircuits();

	public String maxStudents();

	public String messages();

	public String middleBreak();

	public String minorBtnLbl();

	public String minorLbl();

	public String mobile();

	public String name();

	public String nationalities();
	public String nationality();

	public String newRole();

	public String no();

	public String noMatter();

	public String noSelection();

	public String noTitle();

	public String numOfRooms();

	public String officeDetails();

	public String okBtn();

	public String onDeleteRoleAssignedToPatient();

	public String optionDetail();

	public String optionName();

	public String optionValue();

	public String order();

	public String osceBreak();

	public String osceDaySuccess();

	public String oscedoc();

	public String OSCESecurityChange();

	public String osceSequence();
	public String ownerName();

	public String patient();

	public String patientAlreadyAssigned();

	public String patientHas();

	public String patientInformation();

	public String patientIsNotAccepted();

	public String patientIsNotAvailable();

	public String patientNotAssigned();

	public String patientSpeaks();

	public String persons();

	public String pleaseSelectRole();

	public String plz();

	public String plzCity();

	public String possibleAnswers();

	public String post();

	public String postType();

	public String preName();

	public String presents();

	public String previousQuestion();

	public String previousRole();

	public String previousTitle();

	public String print();

	public String printFor();

	public String printIndividualSchedules();

	public String profession();

	public String professions();

	public String pull();

	public String question();

	public String questionInstruction();

	public String questionName();

	public String reallyDelete();

	public String reopenButtonString();

	public String resetFilters();

	public String responsibilities();

	public String reviewer();

	public String rich_text_item();

	public String role();

	public String roleAccess();

	public String roleAcronym();

	public String roleActive();

	public String roleAssignments();

	public String roleBaseItemName();

	public String roleComplexity();

	public String roleDetail();

	public String roleFile();

	public String roleItemName();

	public String roleName();

	public String roleParticipants();

	public String roles();

	public String roleScript();

	public String roleScriptTemplate();

	public String roleTopic();

	public String roleType();

	public String roomLength();

	public String roomMaterialName();

	public String roomMaterialNumber();

	public String roomMaterialPrice();

	public String roomMaterialPriceType();

	public String roomMaterials();

	public String roomMaterialType();

	public String roomMaterialUser();

	public String roomNumber();

	public String rooms();
	public String roomWidth();

	public String save();

	public String saveOrder();

	public String saveOsceBlueprint();

	public String scars();

	public String searchCriteria();

	public String searchField();

	public String searchFor();

	public String securityType();

	public String select();

	public String selectLanguage();

	public String selectRoleTemplate();

	public String semester();

	public String send();

	public String sendSummonings();

	public String shortBreak();

	public String showAnswered();

	public String showUnanswered();

	public String simPat();

	public String simpatChangeBreak();

	public String simPats();

	public String simpleSearchCriteriaName();

	public String simpleSearchCriteriaValue();

	public String simulationPatients();

	public String skillLevel();

	public String slotUntilChange();

	public String socialInsuranceNo();

	public String spAssignment();

	public String specification();

	public String spName();

	public String standardizedPatient();

	public String standardizedRole();

	public String starttime();

	public String starttimedoc();

	public String stationLength();

	public String street();

	public String student();

	public String studentAssignment();

	public String studentNotAssigned();

	public String students();

	public String studyYear();

	public String studyYears();

	public String success();

	public String surveyImport();

	public String table_item();

	public String tableSize();

	public String telephone();

	public String text();

	public String thisIsTheFirstQuestion();

	public String title();

	public String to();

	public String topicDescription();

	public String topicLbl();

	public String topicsAndSpec();

	public String TopicsAndSpecDetailsViewPopupXPosition();

	public String TopicsAndSpecDetailsViewPopupYPosition();

	public String TopicsAndSpecViewPopupXPosition();

	public String TopicsAndSpecViewPopupYPosition();

	public String traits();

	public String type();

	public String unSaveOrderWarn();

	public String updateOsce();


	public String value();

	public String version();

	public String warning();

	public String warningBreakIsAtEnd();

	public String weight();

	public String widthMin();

	public String widthSize();

	public String workPermission();

	public String yes();

}

=======
package ch.unibas.medizin.osce.shared.i18n;

// TODO: Whole Package has to be moved to shared!

import com.google.gwt.i18n.client.Constants;

public interface OsceConstants extends Constants {
	public String add();

	public String addAnamnesisValue();

	public String addAnswer();

	public String addClinic();

	public String addDoctor();

	public String addLangSkill();

	public String addLanguage();

	public String addNationality();

	public String addOsce();
	
	public String editOsce();
	
	public String addPatient();

	public String addProfession();

	public String addQuestion();

	public String addRoom();

	public String addTrait();

	public String addUser();

	public String administration();

	public String administrator();

	public String all();

	public String anamnesisForm();

	public String anamnesisValues();

	public String answer();

	public String answered();

	public String answerGiven();

	public String answerPending();

	public String author();

	public String bank();

	public String bankAccount();

	public String basicFilter();

	public String bic();

	public String bindType();

	public String birthday();

	public String bmi();

	public String cancel();
	
	public String send();
	
	public String pull();

	public String circuit();

	public String city();

	public String clinic();

	public String clinics();

	public String comparison();

	public String comment();

	public String complexity();

	public String contactInfo();

	public String country();

	public String createClinic();

	public String createDoctor();

	public String criterion();

	public String dateTime();

	public String dateTimeFormat();

	public String delete();

	public String description();

	public String details();

	public String doctors();

	public String edit();

	public String editAnamnesisValue();

	public String editClinic();

	public String editDoctor();

	public String editPatient();

	public String email();

	public String enterAnswer();

	public String enterQuestion();

	public String examinationSchedule();
	
	public String error();

	public String exams();

	public String export();

	public String exportBellSchedule();

	public String female();

	public String field();

	public String from();

	public String gender();

	public String generalInformation();

	public String googleMaps();
	
	public String handledConfidentially();

	public String height();

	public String iban();

	public String language();

	public String languages();

	public String languageSkills();

	public String location();

	public String log();

	public String logout();

	public String logDetails();

	public String male();

	public String maritalStatus();

	public String masterData();

	public String maxCircuits();

	public String maxStudents();
	
	public String messages();

	public String mobile();

	public String name();

	public String nationalities();

	public String nationality();

	public String no();

	public String noMatter();
	
	public String noSelection();

	public String officeDetails();

	public String osces();

	public String ownerName();

	public String patient();

	public String patientHas();

	public String patientSpeaks();

	public String persons();

	public String plz();

	public String plzCity();

	public String possibleAnswers();

	public String print();

	public String preName();

	public String printIndividualSchedules();

	// public String insideTitle();

	public String profession();

	public String professions();

	public String question();

	public String reallyDelete();

	public String responsibilities();

	public String resetFilters();

	public String reviewer();

	public String roleAssignments();

	// public String roles(); //By SPEC

	public String roomLength();

	public String roomNumber();

	public String rooms();

	public String roomWidth();

	public String save();

	public String scars();

	public String searchField();

	public String searchFor();

	public String selectLanguage();

	public String sendSummonings();

	public String showAnswered();

	public String showUnanswered();

	public String simPat();

	public String simulationPatients();

	public String socialInsuranceNo();

	public String specification();
	
	public String standardizedPatient();

	public String stationLength();

	public String street();

	public String students();

	public String studyYear();

	public String telephone();

	public String text();

	public String title();

	public String to();

	public String traits();

	public String type();

	public String user();

	public String value();

	public String weight();

	public String workPermission();

	public String filterTitle();

	public String yes();

	// by spec role management functionality[
	public String roles();

	public String topicsAndSpec();

	public String roleScriptTemplate();

	public String roomMaterials();

	public String role();

	public String roletopic();

	public String slotUntilChange();

	public String studyYears();

	public String clinicalSpecialisation();

	// By spec for popup position
	public String TopicsAndSpecViewPopupXPosition();

	public String TopicsAndSpecViewPopupYPosition();

	public String TopicsAndSpecDetailsViewPopupXPosition();

	public String TopicsAndSpecDetailsViewPopupYPosition();

	// By Spec Assignment L
	public String addMaterial();

	public String editMaterial();

	public String roomMaterialName();

	public String roomMaterialPrice();

	public String roomMaterialPriceType();

	public String roomMaterialPricePerPiece();

	public String roomMaterialPricePerDay();

	public String topic();

	public String aviableRole();

	public String keyword();

	public String itemName();

	public String roleName();

	public String checkListItem();

	public String itemValue();

	public String addRoleTopic();

	// by spec role management functionality]

	public String insideTitle();

	public String previousQuestion();

	public String previousTitle();

	public String noTitle();

	public String order();

	public String saveOrder();

	// Added By SPEC
	public String shortName();

	public String roleDetail();

	public String roleParticipants();

	public String learningObjectives();

	public String keywords();

	public String roleType();

	public String addRole();

	public String editRole();

	public String majorLbl();

	public String minorLbl();

	// Assignment:G
	public String number();

	public String forWho();

	// spec Assignment H

	public String addRoleFile();

	public String filePath();

	public String fileDescription();

	public String imageUpload();

	public String rich_text_item();

	public String table_item();

	// end Assignment H
	// Spec End

	// Spec Assignment F
	public String addSimpleSearchCriteria();

	public String simpleSearchCriteriaName();

	public String simpleSearchCriteriaValue();
	// End Assignbment F

	
 //Assignment E[
    
    public String addCheckListTopic();
    
    public String addCheckListQuestion();
    
    public String importTopic();
    
    public String importQuestion();
    
    public String okBtn();
    
    public String topicDescription();
    
    public String checklistTopic();
    
    public String optionName();
    
    public String optionValue();
    
    public String questionName();
    
    public String questionInstruction();
    
    public String checkList();
    //Assignment E]
    public String osceBreak();
    
    public String clearAll();
    

// 5C: SPEC START
    
    public String select();
    
    public String deleteOsceBluePrintPost();
    // 5C: SPEC END
   
    
// Assignment (Day) D
    
    public String day();
    public String presents();
    public String date();
    public String starttime();
    public String endtime();
    public String calculation();
    public String lunchbreak();
    public String lbendtime();
    public String student();
    public String generate();
	public String success();
	public String osceDaySuccess();

	// MODULE 3 : START
	public String loading();

	public String acceptedTraining();

	public String acceptedOSCE();

	public String assignedRole();

	public String surveyImport();

	public String autoAssign();

	public String addManually();

	public String accepted();

	public String assignTo();

	public String enterPatient();

	public String patientInformation();

	public String close();
	
	public String patientAlreadyAssigned();
	
	public String pleaseSelectRole();
	
	public String patientIsNotAccepted();
	// MODULE 3 : END

	public String updateOsce();
	
	public String warning();
	
	public String deleteTask();
	
	public String saveOsceBlueprint();
	
	// MODULE 6 START
	public String importstudent();
	// MODULE 6 END

	// Issue : 120
	public String fileDetail();

	public String printFor();

	public String basicData();

	public String roleScript();

	public String standardizedRole();

	public String optionDetail();

	public String roleBaseItemName();
	// Issue : 120
	
	//Module 7
	public String version();
	public String oscedoc();
	public String starttimedoc();
	public String endtimedoc();
	//moduel 7

        //issue 124
	public String tableSize();
	//issue 124

	//Module 3 : Task : B
	
	public String addAllActive();
	public String onDeleteRoleAssignedToPatient();
	public String deletePatientInSemester();
	public String active();
	public String inActive();
	public String patientIsNotAvailable();
	
	//Module 3 : Task : B	
	
	//Module 3 : Task : I	
	public String OSCESecurityChange();
	public String avgOfSPPerPost();
	public String securityType();
	
	//Module 3 : Task : I
	
	//learning objective
	public String importObjective();
	public String minorBtnLbl();
	public String majorBtnLbl();
	public String mainClassi();
	public String classiTopic();
	public String skillLevel();
	public String topicLbl();
	//learning objective
	
	//modul 3 changes {
	public String backupViewHeading();
	//modul 3 changes }
	
	//Module 8[
	public String shortBreak();
	
	public String middleBreak();
	
	public String numOfRooms();
	
	public String studentAssignment();
	
	public String spAssignment();
	
	public String examinerName();
	
	public String postType();
	
	public String spName();
	
	public String patientNotAssigned();
	
	public String studentNotAssigned();
	
	public String examinerNotNull();
	//Module 8]
	
	// Module 5 changes {
			public String warningBreakIsAtEnd(); 
			
			public String confirmationWhenStatusIsChangingFormClosedToFix();
	public String fixedButtonString();
	public String closedButtonString();
	public String reopenButtonString();
	
	// Module 5 changes }

	// Module10 Create plans
		public String examiner();
	// E Module10 Create plans
		
		public String simpatChangeBreak();
		
		public String longBreak();
		
		public String autoSPSuccess();
		
		public String autoAssignmentSuccess();
		public String animationTime();
	    public String widthSize();
	    public String widthMin();
		
	    public String autoStudentSuccess();
		
		public String autoStudentFailure();
		
		public String autoSPFailure();
		
		public String failure();
		
		// Module 5 bug Report Change
				public String post();
				public String lunchBreakStart();
				public String osceSequence(); 
			// E Module 5 bug Report Change
				
}
>>>>>>> 5a126ebdc344561577e45756c0b1a06b8d632e9e</pre></td>
                        </tr>

                    </tbody>
                </table>

                <table id="tableSolution" class="table table-hover table-mc-light-blue">
                    <thead>
                        <tr>
                            <th>Solution content</th>
                            
                        </tr>
                    </thead>
                    <tbody>

<tr>
                            <td data-title="SolutionContent"><pre>package ch.unibas.medizin.osce.shared.i18n;

import com.google.gwt.i18n.client.Constants;

/**
 * Generated by I18nterpreter
 */
public interface OsceConstants extends Constants {
	public String accepted();

	public String acceptedOSCE();

	public String acceptedTraining();

	public String active();

	public String add();

	public String addAllActive();

	public String addAnamnesisValue();

	public String addAnswer();

	public String addAuthor();

	public String addCheckListQuestion();

	public String addCheckListTopic();

	public String addClinic();

	public String addDiscipline();

	public String addDoctor();

	public String addItem();

	public String addKeyword();

	public String addLangSkill();

	public String addLanguage();

	public String addManually();

	public String addMaterial();

	public String addNationality();

	public String addOsce();

	public String addPatient();

	public String addProfession();

	public String addQuestion();

	public String addReviewer();

	public String addRole();

	public String addRoleFile();

	public String addRoleScriptTemplate();

	public String addRoleSubItem();

	public String addRoleTopic();

	public String addRoom();

	public String addSimpleSearchCriteria();

	public String addTitle();

	public String addTrait();

	public String addUser();

	public String administration();

	public String administrator();

	public String age();

	public String all();

	public String anamnesisCheckTitle();

	public String anamnesisForm();

	public String anamnesisValues();

	public String animationTime();

	public String answer();

	public String answered();

	public String answerGiven();

	public String answerPending();

	public String assignedRole();

	public String assignTo();

	public String author();

	public String autoAssign();

	public String autoAssignmentSuccess();

	public String autoSPFailure();

	public String autoSPSuccess();

	public String autoStudentFailure();

	public String autoStudentSuccess();

	public String avgOfSPPerPost();

	public String aviableRole();

	public String backupViewHeading();

	public String bank();

	public String bankAccount();

	public String basicData();

	public String basicFilter();

	public String bic();

	public String bindType();

	public String birthday();

	public String bmi();

	public String calculation();

	public String cancel();

	public String checkList();

	public String checkListItem();

	public String checklistTopic();

	public String circuit();

	public String city();

	public String classiTopic();

	public String clearAll();

	public String clinic();

	public String clinicalSpecialisation();

	public String clinics();

	public String close();

	public String closedButtonString();

	public String comment();

	public String comparison();

	public String complexity();

	public String confirmationWhenStatusIsChangingFormClosedToFix();

	public String contactInfo();

	public String country();

	public String createClinic();

	public String createDoctor();

	public String criterion();

	public String date();

	public String dateCreated();

	public String dateEdited();

	public String dateTime();

	public String dateTimeFormat();

	public String day();

	public String delete();

	public String deletedItemName();

	public String deleteOsceBluePrintPost();

	public String deletePatientInSemester();

	public String deleteTask();

	public String description();

	public String details();

	public String doctors();

	public String edit();

	public String editAnamnesisValue();

	public String editClinic();

	public String editDoctor();

	public String editMaterial();

	public String editOsce();

	public String editPatient();

	public String editRole();

	public String email();

	public String endtime();

	public String endtimedoc();

	public String enterAnswer();

	public String enterKeyword();

	public String enterPatient();

	public String enterQuestion();

	public String enterSortOrderWarn();

	public String error();

	public String examinationSchedule();

	public String examiner();

	public String examinerName();

	public String examinerNotNull();

	public String exams();

	public String export();

	public String exportBellSchedule();

	public String failure();

	public String female();

	public String field();

	public String fileDescription();

	public String fileDetail();

	public String filePath();

	public String filterTitle();

	public String fixedButtonString();

	public String from();

	public String furtherCriteria();

	public String gender();

	public String generalInformation();

	public String generate();

	public String googleMaps();

	public String handledConfidentially();

	public String height();

	public String homeRole();

	public String iban();

	public String imageUpload();

	public String importObjective();

	public String importQuestion();

	public String importstudent();

	public String importTopic();

	public String inActive();

	public String insideTitle();

	public String itemName();

	public String itemValue();

	public String keyword();

	public String keywords();

	public String language();

	public String languages();

	public String languageSkills();

	public String lbendtime();

	public String learning();

	public String learningObjectives();

	public String leavePageWarn();

	public String loading();

	public String location();

	public String log();

	public String logDetails();

	public String logout();

	public String longBreak();

	public String lunchbreak();

	public String lunchBreakStart();

	public String mainClassi();

	public String majorBtnLbl();

	public String majorLbl();

	public String male();

	public String manageOsces();

	public String maritalStatus();

	public String masterData();

	public String maxCircuits();

	public String maxStudents();

	public String messages();

	public String middleBreak();

	public String minorBtnLbl();

	public String minorLbl();

	public String mobile();

	public String name();

	public String nationalities();

	public String nationality();

	public String newRole();

	public String no();

	public String noMatter();

	public String noSelection();

	public String noTitle();

	public String numOfRooms();

	public String officeDetails();

	public String okBtn();

	public String onDeleteRoleAssignedToPatient();

	public String optionDetail();

	public String optionName();

	public String optionValue();

	public String order();

	public String osceBreak();

	public String osceDaySuccess();

	public String oscedoc();

	public String OSCESecurityChange();

	public String osceSequence();

	public String ownerName();

	public String patient();

	public String patientAlreadyAssigned();

	public String patientHas();

	public String patientInformation();

	public String patientIsNotAccepted();

	public String patientIsNotAvailable();

	public String patientNotAssigned();

	public String patientSpeaks();

	public String persons();

	public String pleaseSelectRole();

	public String plz();

	public String plzCity();

	public String possibleAnswers();

	public String post();

	public String postType();

	public String preName();

	public String presents();

	public String previousQuestion();

	public String previousRole();

	public String previousTitle();

	public String print();

	public String printFor();

	public String printIndividualSchedules();

	public String profession();

	public String professions();

	public String pull();

	public String question();

	public String questionInstruction();

	public String questionName();

	public String reallyDelete();

	public String reopenButtonString();

	public String resetFilters();

	public String responsibilities();

	public String reviewer();

	public String rich_text_item();

	public String role();

	public String roleAccess();

	public String roleAcronym();

	public String roleActive();

	public String roleAssignments();

	public String roleBaseItemName();

	public String roleComplexity();

	public String roleDetail();

	public String roleFile();

	public String roleItemName();

	public String roleName();

	public String roleParticipants();

	public String roles();

	public String roleScript();

	public String roleScriptTemplate();

	public String roleTopic();

	public String roleType();

	public String roomLength();

	public String roomMaterialName();

	public String roomMaterialNumber();

	public String roomMaterialPrice();

	public String roomMaterialPriceType();

	public String roomMaterials();

	public String roomMaterialType();

	public String roomMaterialUser();

	public String roomNumber();

	public String rooms();

	public String roomWidth();

	public String save();

	public String saveOrder();

	public String saveOsceBlueprint();

	public String scars();

	public String searchCriteria();

	public String searchField();

	public String searchFor();

	public String securityType();

	public String select();

	public String selectLanguage();

	public String selectRoleTemplate();

	public String semester();

	public String send();

	public String sendSummonings();

	public String shortBreak();

	public String showAnswered();

	public String showUnanswered();

	public String simPat();

	public String simpatChangeBreak();

	public String simPats();

	public String simpleSearchCriteriaName();

	public String simpleSearchCriteriaValue();

	public String simulationPatients();

	public String skillLevel();

	public String slotUntilChange();

	public String socialInsuranceNo();

	public String spAssignment();

	public String specification();

	public String spName();

	public String standardizedPatient();

	public String standardizedRole();

	public String starttime();

	public String starttimedoc();

	public String stationLength();

	public String street();

	public String student();

	public String studentAssignment();

	public String studentNotAssigned();

	public String students();

	public String studyYear();

	public String studyYears();

	public String success();

	public String surveyImport();

	public String table_item();

	public String tableSize();

	public String telephone();

	public String text();

	public String thisIsTheFirstQuestion();

	public String title();

	public String to();

	public String topicDescription();

	public String topicLbl();

	public String topicsAndSpec();

	public String TopicsAndSpecDetailsViewPopupXPosition();

	public String TopicsAndSpecDetailsViewPopupYPosition();

	public String TopicsAndSpecViewPopupXPosition();

	public String TopicsAndSpecViewPopupYPosition();

	public String traits();

	public String type();

	public String unSaveOrderWarn();

	public String updateOsce();

	public String user();

	public String value();

	public String version();

	public String warning();

	public String warningBreakIsAtEnd();

	public String weight();

	public String widthMin();

	public String widthSize();

	public String workPermission();

	public String yes();

}
</pre></td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
<div class="table-responsive-vertical shadow-z-1" style="width: 17.5%; float: right; position: relative;">
        
            <table id="tableFileName" class="table table-hover table-mc-light-blue">
                <thead>
                    <tr>
                        <th>File</th>                            
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td data-title="FileName">OsceConstants.java</td>
                    </tr>
                </tbody>
            </table>
            <table id="tableDeveloperDecision" class="table table-hover table-mc-light-blue">
                <thead>
                    <tr>
                        <th>Developer's decision</th>                            
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td data-title="DeveloperDecision">Version 1</td>
                    </tr>
                </tbody>
            </table>

            <table id="tableKindConflict" class="table table-hover table-mc-light-blue">
                <thead>
                    <tr>
                        <th>Kind of conflict</th>                            
                    </tr>
                </thead>
                <tbody>

                    <tr>
                        <td data-title="KindConflict">Comment</td>
                    </tr>

                    <tr>
                        <td data-title="KindConflict"> Import</td>
                    </tr>

                    <tr>
                        <td data-title="KindConflict"> Interface declaration</td>
                    </tr>

                    <tr>
                        <td data-title="KindConflict"> Method interface</td>
                    </tr>

                    <tr>
                        <td data-title="KindConflict"> Package declaration</td>
                    </tr>

                </tbody>
            </table>
        </div>
            <div class="table-responsive-vertical shadow-z-1">
                <table id="table" class="table table-hover table-mc-light-blue">
                    <thead>
                        <tr>
                            <th>Chunk</th>
                        </tr>
                    </thead>

                </table>
        <div>
<div class="table-responsive-vertical shadow-z-1" style="width: 80%; float: left; position: relative;">
                <!-- Table starts here -->
                <table id="tableConflict" class="table table-hover table-mc-light-blue">
                    <thead>
                        <tr>
                            <th>Conflicting content</th>
                            
                        </tr>
                    </thead>
                    <tbody>

                        <tr>
                            <td data-title="ConflictingContent"><pre>	public String LESS();
<<<<<<< HEAD
package ch.unibas.medizin.osce.shared.i18n;

import com.google.gwt.i18n.client.ConstantsWithLookup;

public interface OsceConstantsWithLookup extends ConstantsWithLookup {
	public String QUESTION_OPEN();
	public String QUESTION_YES_NO();
	public String QUESTION_MULT_S();
	public String QUESTION_MULT_M();
	public String QUESTION_TITLE();
	
	public String STUDENT();
	public String PATIENT();
	public String EXAMINER();
	
	public String AND();
	public String OR();
	
	public String EQUALS();
	public String NOT_EQUALS();
	public String MORE();
	public String ANAMNESIS_EQUALS();
	public String ANAMNESIS_NOT_EQUALS();
	public String ANAMNESIS_LESS();
	public String ANAMNESIS_MORE();
	public String NUMERIC_EQUALS();
	public String NUMERIC_NOT_EQUALS();
	public String NUMERIC_LESS();
	public String NUMERIC_MORE();
	public String LANGSKILL_EQUALS();
	public String LANGSKILL_NOT_EQUALS();
	public String LANGSKILL_LESS();
	public String LANGSKILL_MORE();
	public String NATIONALITY_EQUALS();
	public String NATIONALITY_NOT_EQUALS();
	public String NATIONALITY_LESS();
	public String NATIONALITY_MORE();
	public String SCAR_EQUALS();
	public String SCAR_NOT_EQUALS();
	public String SCAR_MORE();
	public String SCAR_LESS();
	
	public String MALE();
	public String FEMALE();
	
	public String A1();
	public String A2();
	public String B1();
	public String B2();
	public String C1();
	public String C2();
	public String NATIVE_SPEAKER();
	
	public String COMMENT();
	public String HEIGHT();
	public String WEIGHT();
	public String BMI();
	public String SCAR();
	public String LANGUAGE();
	public String ANAMNESIS();
	//By SPEC[
	public String NATIONALITY();
	public String PERPIECE();
	public String PERDAY();
	public String CONSUMABLE();
	public String EQUIPMENT();
	public String FORSIMPAT();

	
	//By SPEC]
	
	public String AUTHOR();
	public String REVIEWER();
	
	public String ASC();
	public String DESC();
	
//	public String SCAR();
	public String TATTOO();
	public String NOT_TO_EXAMINE();
	
	public String EDIT();
	public String DETAILS();
	public String CREATE();
	public String NEW();
	//Assginment G[
	public String DAY();	
	//]Assignment G
	
	public String SJ1();
	public String SJ2();
	public String SJ3();
	public String SJ4();
	public String SJ5();
	public String SJ6();
	
	public String B();
	public String C();
	public String L();
	
	public String UNMARRIED();
	public String MARRIED();
	public String CIVIL_UNION();
	public String DIVORCED();
	public String SEPARATED();
	public String WIDOWED();
	
	//From SPEC Start
	public String Simpat();
	public String Statist();
	public String Material();		
	
	public String rich_text_item();
	public String table_item();
	//From SPEC End
	
	

    public String notSetHostAddressException();
    public String connectHostAddressException();
    public String httpClientException();
    public String serializingException();
    
    public String patientNotExistException();
    
    public String syncStandardizedPatientException();
    public String syncNationalityException();
    public String syncProfessionException();
    public String syncDescriptionException();
    public String syncBankaccountException();
    public String syncAnamnesisFormException();
    public String syncAnamnesisCheckValuesException();
    
    
    public String exportSuccessful();
    public String serverReturndError();
    public String importSussessful();
    
 // G: SPEC START =
 	public String HS();
 	public String FS();
 	// G: SPEC END =
 	
 	//Osce Screen Status
 	
 		public String NEW_STATUS();
 		
 		public String BluePrint_Status();
 		public String Genrated_Status();
 		public String Fixed_Status();
 		public String Closed_Status();
 		
 // 5C: SPEC START =
 		
 		public String NORMAL();
 		public String BREAK();
 		public String ANAMNESIS_THERAPY();
 		public String PREPARATION();
 		
 // 5C: SPEC END
    public String err_DialogBoxTitle();
	public String err_DialogBoxCloseButton();
}
=======
package ch.unibas.medizin.osce.shared.i18n;

import com.google.gwt.i18n.client.ConstantsWithLookup;

public interface OsceConstantsWithLookup extends ConstantsWithLookup {
	public String QUESTION_OPEN();
	public String QUESTION_YES_NO();
	public String QUESTION_MULT_S();
	public String QUESTION_MULT_M();
	public String QUESTION_TITLE();
	
	public String STUDENT();
	public String PATIENT();
	public String EXAMINER();
	
	public String AND();
	public String OR();
	
	public String EQUALS();
	public String NOT_EQUALS();
	public String LESS();
	public String MORE();
	public String ANAMNESIS_EQUALS();
	public String ANAMNESIS_NOT_EQUALS();
	public String ANAMNESIS_LESS();
	public String ANAMNESIS_MORE();
	public String NUMERIC_EQUALS();
	public String NUMERIC_NOT_EQUALS();
	public String NUMERIC_LESS();
	public String NUMERIC_MORE();
	public String LANGSKILL_EQUALS();
	public String LANGSKILL_NOT_EQUALS();
	public String LANGSKILL_LESS();
	public String LANGSKILL_MORE();
	public String NATIONALITY_EQUALS();
	public String NATIONALITY_NOT_EQUALS();
	public String NATIONALITY_LESS();
	public String NATIONALITY_MORE();
	public String SCAR_EQUALS();
	public String SCAR_NOT_EQUALS();
	public String SCAR_MORE();
	public String SCAR_LESS();
	
	public String MALE();
	public String FEMALE();
	
	public String A1();
	public String A2();
	public String B1();
	public String B2();
	public String C1();
	public String C2();
	public String NATIVE_SPEAKER();
	
	public String COMMENT();
	public String HEIGHT();
	public String WEIGHT();
	public String BMI();
	public String SCAR();
	public String LANGUAGE();
	public String ANAMNESIS();
	//By SPEC[
	public String NATIONALITY();
	public String PERPIECE();
	public String PERDAY();
	public String CONSUMABLE();
	public String EQUIPMENT();
	public String FORSIMPAT();

	
	//By SPEC]
	
	public String AUTHOR();
	public String REVIEWER();
	
	public String ASC();
	public String DESC();
	
//	public String SCAR();
	public String TATTOO();
	public String NOT_TO_EXAMINE();
	
	public String EDIT();
	public String DETAILS();
	public String CREATE();
	public String NEW();
	//Assginment G[
	public String DAY();	
	//]Assignment G
	
	public String SJ1();
	public String SJ2();
	public String SJ3();
	public String SJ4();
	public String SJ5();
	public String SJ6();
	
	public String B();
	public String C();
	public String L();
	
	public String UNMARRIED();
	public String MARRIED();
	public String CIVIL_UNION();
	public String DIVORCED();
	public String SEPARATED();
	public String WIDOWED();
	
	//From SPEC Start
	public String Simpat();
	public String Statist();
	public String Material();		
	
	public String rich_text_item();
	public String table_item();
	//From SPEC End
	
	

    public String notSetHostAddressException();
    public String connectHostAddressException();
    public String httpClientException();
    public String serializingException();
    
    public String patientNotExistException();
    
    public String syncStandardizedPatientException();
    public String syncNationalityException();
    public String syncProfessionException();
    public String syncDescriptionException();
    public String syncBankaccountException();
    public String syncAnamnesisFormException();
    public String syncAnamnesisCheckValuesException();
    
    
    public String exportSuccessful();
    public String serverReturndError();
    public String importSussessful();
    
 // G: SPEC START =
 	public String HS();
 	public String FS();
 	// G: SPEC END =
 	
 	//Osce Screen Status
 	
 		public String NEW_STATUS();
 		
 		public String BluePrint_Status();
 		public String Genrated_Status();
 		public String Fixed_Status();
 		public String Closed_Status();
    
	public String SIMPLE();

	public String FEDERAL_EXAM();
	
	// Module 5 bug Report Change
		public String OSCE_SEQUENCES_A();
		public String OSCE_SEQUENCES_B();
		public String OSCE_SEQUENCES_C();
		public String OSCE_SEQUENCES_D();
		public String OSCE_SEQUENCES_E();
		
	// E Module 5 bug Report Change
}
>>>>>>> 5a126ebdc344561577e45756c0b1a06b8d632e9e</pre></td>
                        </tr>

                    </tbody>
                </table>

                <table id="tableSolution" class="table table-hover table-mc-light-blue">
                    <thead>
                        <tr>
                            <th>Solution content</th>
                            
                        </tr>
                    </thead>
                    <tbody>

<tr>
                            <td data-title="SolutionContent"><pre>package ch.unibas.medizin.osce.shared.i18n;

import com.google.gwt.i18n.client.ConstantsWithLookup;

/**
 * Generated by I18nterpreter
 */
public interface OsceConstantsWithLookup extends ConstantsWithLookup {
	public String A1();

	public String A2();

	public String ANAMNESIS();

	public String ANAMNESIS_EQUALS();

	public String ANAMNESIS_LESS();

	public String ANAMNESIS_MORE();

	public String ANAMNESIS_NOT_EQUALS();

	public String ANAMNESIS_THERAPY();

	public String AND();

	public String ASC();

	public String AUTHOR();

	public String B();

	public String B1();

	public String B2();

	public String BluePrint_Status();

	public String BMI();

	public String BREAK();

	public String C();

	public String C1();

	public String C2();

	public String CIVIL_UNION();

	public String Closed_Status();

	public String COMMENT();

	public String connectHostAddressException();

	public String CONSUMABLE();

	public String CREATE();

	public String DAY();

	public String DESC();

	public String DETAILS();

	public String DIVORCED();

	public String EDIT();

	public String EQUALS();

	public String EQUIPMENT();

	public String err_DialogBoxCloseButton();

	public String err_DialogBoxTitle();

	public String EXAMINER();

	public String exportSuccessful();

	public String FEDERAL_EXAM();

	public String FEMALE();

	public String Fixed_Status();

	public String FORSIMPAT();

	public String FS();

	public String Genrated_Status();

	public String HEIGHT();

	public String HS();

	public String httpClientException();

	public String importSussessful();

	public String L();

	public String LANGSKILL_EQUALS();

	public String LANGSKILL_LESS();

	public String LANGSKILL_MORE();

	public String LANGSKILL_NOT_EQUALS();

	public String LANGUAGE();

	public String LESS();

	public String MALE();

	public String MARRIED();

	public String Material();

	public String MORE();

	public String NATIONALITY();

	public String NATIONALITY_EQUALS();

	public String NATIONALITY_LESS();

	public String NATIONALITY_MORE();

	public String NATIONALITY_NOT_EQUALS();

	public String NATIVE_SPEAKER();

	public String NEW();

	public String NEW_STATUS();

	public String NORMAL();

	public String NOT_EQUALS();

	public String NOT_TO_EXAMINE();

	public String notSetHostAddressException();

	public String NUMERIC_EQUALS();

	public String NUMERIC_LESS();

	public String NUMERIC_MORE();

	public String NUMERIC_NOT_EQUALS();

	public String OR();

	public String OSCE_SEQUENCES_A();

	public String OSCE_SEQUENCES_B();

	public String OSCE_SEQUENCES_C();

	public String OSCE_SEQUENCES_D();

	public String OSCE_SEQUENCES_E();

	public String PATIENT();

	public String patientNotExistException();

	public String PERDAY();

	public String PERPIECE();

	public String PREPARATION();

	public String QUESTION_MULT_M();

	public String QUESTION_MULT_S();

	public String QUESTION_OPEN();

	public String QUESTION_TITLE();

	public String QUESTION_YES_NO();

	public String REVIEWER();

	public String rich_text_item();

	public String SCAR();

	public String SCAR_EQUALS();

	public String SCAR_LESS();

	public String SCAR_MORE();

	public String SCAR_NOT_EQUALS();

	public String SEPARATED();

	public String serializingException();

	public String serverReturndError();

	public String Simpat();

	public String SIMPLE();

	public String SJ1();

	public String SJ2();

	public String SJ3();

	public String SJ4();

	public String SJ5();

	public String SJ6();

	public String Statist();

	public String STUDENT();

	public String syncAnamnesisCheckValuesException();

	public String syncAnamnesisFormException();

	public String syncBankaccountException();

	public String syncDescriptionException();

	public String syncNationalityException();

	public String syncProfessionException();

	public String syncStandardizedPatientException();

	public String table_item();

	public String TATTOO();

	public String UNMARRIED();

	public String WEIGHT();

	public String WIDOWED();

}
</pre></td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
<div class="table-responsive-vertical shadow-z-1" style="width: 17.5%; float: right; position: relative;">
        
            <table id="tableFileName" class="table table-hover table-mc-light-blue">
                <thead>
                    <tr>
                        <th>File</th>                            
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td data-title="FileName">OsceConstantsWithLookup.java</td>
                    </tr>
                </tbody>
            </table>
            <table id="tableDeveloperDecision" class="table table-hover table-mc-light-blue">
                <thead>
                    <tr>
                        <th>Developer's decision</th>                            
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td data-title="DeveloperDecision">Manual</td>
                    </tr>
                </tbody>
            </table>

            <table id="tableKindConflict" class="table table-hover table-mc-light-blue">
                <thead>
                    <tr>
                        <th>Kind of conflict</th>                            
                    </tr>
                </thead>
                <tbody>

                    <tr>
                        <td data-title="KindConflict">Import</td>
                    </tr>

                    <tr>
                        <td data-title="KindConflict"> Interface declaration</td>
                    </tr>

                    <tr>
                        <td data-title="KindConflict"> Package declaration</td>
                    </tr>

                </tbody>
            </table>
        </div>
            </div>
        </div>
        
        <!-- Última versão JavaScript compilada e minificada -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" ></script>
        <script type="text/javascript" src="script.js"></script>
    </body>
</html>