<html>    <head>        <title>Projects information</title>        <meta charset="UTF-8">        <meta name="viewport" content="width=device-width, initial-scale=1.0">        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">    </head>    <body><h2> <a href = "../../../index.html"> Projects </a> >> <a href = "../javabuilders.html"> javabuilders</a> >>7ae59e10ec3709491238cf8f2056b7a99683edbd</h2>
        <div id="demo">
            <div class="table-responsive-vertical shadow-z-1">
                <table id="table" class="table table-hover table-mc-light-blue">
                    <thead>
                        <tr>
                            <th>Chunk</th>
                        </tr>
                    </thead>

                </table>
        <div>
<div class="table-responsive-vertical shadow-z-1" style="width: 80%; float: left; position: relative;">
                <!-- Table starts here -->
                <table id="tableConflict" class="table table-hover table-mc-light-blue">
                    <thead>
                        <tr>
                            <th>Conflicting content</th>
                            
                        </tr>
                    </thead>
                    <tbody>

                        <tr>
                            <td data-title="ConflictingContent"><pre>		}
 
	}
<<<<<<< HEAD

=======
	
	/**
	 * Ensure background dialog works regardless of YAML extension
	 * @throws IOException 
	 * @throws BuildException 
	 */
	@Test
	public void issue114_supportYamlExtensionAndBackgroundDialog() throws BuildException, IOException {
		BuildResult r = new SwingYamlBuilder("JFrame:") {{
			___("- Action(name=ablageSearchAction, text=search.text, onAction=hello, enabled=true)");
			___("- JPanel(name=ablageButtons):");
			_____("- JButton(name=ablageSearchButton, action=ablageSearchAction)");
		}}.build(this);
		BackgroundDialog dialog = new BackgroundDialog(new BackgroundEvent(this,this,true,  r), r);
		
		//change extension and ensure it still works
		String ext = SwingJavaBuilder.getConfig().getYamlExtension();
		try {
			SwingJavaBuilder.getConfig().setYamlExtension(".something");
			BackgroundDialog dialog2 = new BackgroundDialog(new BackgroundEvent(this,this,true,  r), r);
		} finally {
			SwingJavaBuilder.getConfig().setYamlExtension(ext);
		}
	}
	
	@Test
	public void issue118_multipleEmbeddedStringWithSameValue() {
		BuildResult r = new SwingYamlBuilder("JPanel:") {{
			___("- MigLayout: |\n            \"miles\" \"miles\"");
		}}.build(this);
		
		assertNotNull(r.get("lblMiles"));
		assertEquals(JLabel.class,r.get("lblMiles").getClass());
		assertEquals(JLabel.class,r.get("lblMiles2").getClass());
	}
	
	@Test
	public void issue115_defaultValuesForEmbeddedStrings() {
		try {
			//set a default value for JLabel
			SwingJavaBuilder.getConfig().forType(JLabel.class).defaultValue("font", "Monospace 14pt bold");
			
			BuildResult r = new SwingYamlBuilder("JPanel:") {{
				___("- MigLayout: |\n            \"miles\" ");
			}}.build(this);
			
			assertNotNull(r.entrySet().toString(),r.get("lblMiles"));
			assertEquals(JLabel.class,r.get("lblMiles").getClass());

			JLabel label = (JLabel) r.get("lblMiles");
			assertEquals("Monospace",label.getFont().getName());
			assertEquals(14,label.getFont().getSize());
			assertEquals(true,label.getFont().isBold());
			assertEquals(false,label.getFont().isItalic());
			assertEquals(false,label.getFont().isPlain());
			
		} finally {
			SwingJavaBuilder.getConfig().forType(JLabel.class).defaultValue("font", null);
		}
	}
	
	@Test
	public void issue125_absoluteBuildFileLocation() {
		Issue125 issue = new Issue125();
		assertNotNull("Components were not build correctly", issue.someButton);
		
	}
	
>>>>>>> b54b0a42afbf3799b85ffdd731393ac2dfa3d74f
	//internal test method
	private void hello() {}
</pre></td>
                        </tr>

                    </tbody>
                </table>

                <table id="tableSolution" class="table table-hover table-mc-light-blue">
                    <thead>
                        <tr>
                            <th>Solution content</th>
                            
                        </tr>
                    </thead>
                    <tbody>

<tr>
                            <td data-title="SolutionContent"><pre>		}
 
	}
	
	/**
	 * Ensure background dialog works regardless of YAML extension
	 * @throws IOException 
	 * @throws BuildException 
	 */
	@Test
	public void issue114_supportYamlExtensionAndBackgroundDialog() throws BuildException, IOException {
		BuildResult r = new SwingYamlBuilder("JFrame:") {{
			___("- Action(name=ablageSearchAction, text=search.text, onAction=hello, enabled=true)");
			___("- JPanel(name=ablageButtons):");
			_____("- JButton(name=ablageSearchButton, action=ablageSearchAction)");
		}}.build(this);
		BackgroundDialog dialog = new BackgroundDialog(new BackgroundEvent(this,this,true,  r), r);
		
		//change extension and ensure it still works
		String ext = SwingJavaBuilder.getConfig().getYamlExtension();
		try {
			SwingJavaBuilder.getConfig().setYamlExtension(".something");
			BackgroundDialog dialog2 = new BackgroundDialog(new BackgroundEvent(this,this,true,  r), r);
		} finally {
			SwingJavaBuilder.getConfig().setYamlExtension(ext);
		}
	}
	
	@Test
	public void issue118_multipleEmbeddedStringWithSameValue() {
		BuildResult r = new SwingYamlBuilder("JPanel:") {{
			___("- MigLayout: |\n            \"miles\" \"miles\"");
		}}.build(this);
		
		assertNotNull(r.get("lblMiles"));
		assertEquals(JLabel.class,r.get("lblMiles").getClass());
		assertEquals(JLabel.class,r.get("lblMiles2").getClass());
	}
	
	@Test
	public void issue115_defaultValuesForEmbeddedStrings() {
		try {
			//set a default value for JLabel
			SwingJavaBuilder.getConfig().forType(JLabel.class).defaultValue("font", "Monospace 14pt bold");
			
			BuildResult r = new SwingYamlBuilder("JPanel:") {{
				___("- MigLayout: |\n            \"miles\" ");
			}}.build(this);
			
			assertNotNull(r.entrySet().toString(),r.get("lblMiles"));
			assertEquals(JLabel.class,r.get("lblMiles").getClass());

			JLabel label = (JLabel) r.get("lblMiles");
			assertEquals("Monospace",label.getFont().getName());
			assertEquals(14,label.getFont().getSize());
			assertEquals(true,label.getFont().isBold());
			assertEquals(false,label.getFont().isItalic());
			assertEquals(false,label.getFont().isPlain());
			
		} finally {
			SwingJavaBuilder.getConfig().forType(JLabel.class).defaultValue("font", null);
		}
	}
	
	@Test
	public void issue125_absoluteBuildFileLocation() {
		Issue125 issue = new Issue125();
		assertNotNull("Components were not build correctly", issue.someButton);
		
	}
	
	//internal test method
	private void hello() {}
</pre></td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
<div class="table-responsive-vertical shadow-z-1" style="width: 17.5%; float: right; position: relative;">
        
            <table id="tableFileName" class="table table-hover table-mc-light-blue">
                <thead>
                    <tr>
                        <th>File</th>                            
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td data-title="FileName">IssuesTest.java</td>
                    </tr>
                </tbody>
            </table>
            <table id="tableDeveloperDecision" class="table table-hover table-mc-light-blue">
                <thead>
                    <tr>
                        <th>Developer's decision</th>                            
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td data-title="DeveloperDecision">Version 2</td>
                    </tr>
                </tbody>
            </table>

            <table id="tableKindConflict" class="table table-hover table-mc-light-blue">
                <thead>
                    <tr>
                        <th>Kind of conflict</th>                            
                    </tr>
                </thead>
                <tbody>

                    <tr>
                        <td data-title="KindConflict">Annotation</td>
                    </tr>

                    <tr>
                        <td data-title="KindConflict"> Comment</td>
                    </tr>

                    <tr>
                        <td data-title="KindConflict"> Method declaration</td>
                    </tr>

                </tbody>
            </table>
        </div>
            </div>
        </div>
        
        <!-- Última versão JavaScript compilada e minificada -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" ></script>
        <script type="text/javascript" src="script.js"></script>
    </body>
</html>