<html>    <head>        <title>Projects information</title>        <meta charset="UTF-8">        <meta name="viewport" content="width=device-width, initial-scale=1.0">        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">    </head>    <body><h2> <a href = "../../../index.html"> Projects </a> >> <a href = "../Custom-Salem.html"> Custom-Salem</a> >>28193704879029c5c82132db77bc909d85a4a145</h2>
        <div id="demo">
            <div class="table-responsive-vertical shadow-z-1">
                <table id="table" class="table table-hover table-mc-light-blue">
                    <thead>
                        <tr>
                            <th>Chunk</th>
                        </tr>
                    </thead>

                </table>
        <div>
<div class="table-responsive-vertical shadow-z-1" style="width: 80%; float: left; position: relative;">
                <!-- Table starts here -->
                <table id="tableConflict" class="table table-hover table-mc-light-blue">
                    <thead>
                        <tr>
                            <th>Conflicting content</th>
                            
                        </tr>
                    </thead>
                    <tbody>

                        <tr>
                            <td data-title="ConflictingContent"><pre>    }
    
    public BufferedImage longtip() {
<<<<<<< HEAD
	String text = String.format("Salt: %.2f, Mercury: %.2f, Sulphur: %.2f, Lead: %.2f\nPurity: %.2f", salt, merc, sulf, lead, purity);
	return RichText.stdf.render(text).img;
=======
	StringBuilder buf = new StringBuilder();
	for(int i = 0; i < 4; i++) {
	    if(i > 0)
		buf.append(", ");
	    buf.append(String.format("%s: $col[%s]{%.2f}", names[i], tcolors[i], a[i] / 100.0));
	}
	buf.append(String.format(" (%d%% pure)", (int)(purity() * 100)));
	return(RichText.render(buf.toString(), 0).img);
>>>>>>> 3187c8c7b603df3d655e9aa985bfe7506231ea03
    }
    
    public BufferedImage smallmeter() {</pre></td>
                        </tr>

                    </tbody>
                </table>

                <table id="tableSolution" class="table table-hover table-mc-light-blue">
                    <thead>
                        <tr>
                            <th>Solution content</th>
                            
                        </tr>
                    </thead>
                    <tbody>

<tr>
                            <td data-title="SolutionContent"><pre>    }
    
    public BufferedImage longtip() {
	StringBuilder buf = new StringBuilder();
	for(int i = 0; i < 4; i++) {
	    if(i > 0)
		buf.append(", ");
	    buf.append(String.format("%s: $col[%s]{%.2f}", names[i], tcolors[i], a[i] / 100.0));
	}
	buf.append(String.format(" (%d%% pure)", (int)(purity() * 100)));
	return(RichText.render(buf.toString(), 0).img);
    }
    
    public BufferedImage smallmeter() {</pre></td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
<div class="table-responsive-vertical shadow-z-1" style="width: 17.5%; float: right; position: relative;">
        
            <table id="tableFileName" class="table table-hover table-mc-light-blue">
                <thead>
                    <tr>
                        <th>File</th>                            
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td data-title="FileName">Alchemy.java</td>
                    </tr>
                </tbody>
            </table>
            <table id="tableDeveloperDecision" class="table table-hover table-mc-light-blue">
                <thead>
                    <tr>
                        <th>Developer's decision</th>                            
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td data-title="DeveloperDecision">Version 2</td>
                    </tr>
                </tbody>
            </table>

            <table id="tableKindConflict" class="table table-hover table-mc-light-blue">
                <thead>
                    <tr>
                        <th>Kind of conflict</th>                            
                    </tr>
                </thead>
                <tbody>

                    <tr>
                        <td data-title="KindConflict">For statement</td>
                    </tr>

                    <tr>
                        <td data-title="KindConflict"> Method invocation</td>
                    </tr>

                    <tr>
                        <td data-title="KindConflict"> Return statement</td>
                    </tr>

                    <tr>
                        <td data-title="KindConflict"> Variable</td>
                    </tr>

                </tbody>
            </table>
        </div>
            <div class="table-responsive-vertical shadow-z-1">
                <table id="table" class="table table-hover table-mc-light-blue">
                    <thead>
                        <tr>
                            <th>Chunk</th>
                        </tr>
                    </thead>

                </table>
        <div>
<div class="table-responsive-vertical shadow-z-1" style="width: 80%; float: left; position: relative;">
                <!-- Table starts here -->
                <table id="tableConflict" class="table table-hover table-mc-light-blue">
                    <thead>
                        <tr>
                            <th>Conflicting content</th>
                            
                        </tr>
                    </thead>
                    <tbody>

                        <tr>
                            <td data-title="ConflictingContent"><pre>		if(insp != null) {
		    for(int i = 0; i < insp.attrs.length; i++) {
			if(insp.attrs[i].equals(nm)) {
<<<<<<< HEAD
			    int w = ((expsz.x - 2) * (insp.exp[i]+sexp)) / (attr.comp * 100);
			    if(w >= expsz.x - 2) {
				w = expsz.x - 2;
				g.chcolor(GAIN_FULL);
			    } else {
				g.chcolor(GAIN_SMALL);
			    }
=======
			    int w = Math.min(((expsz.x - 2) * insp.exp[i]) / (attr.comp * 100),
					     expsz.x - 2);
			    if(insp.exp[i] > (attr.comp * 100))
				g.chcolor(255, 255, 0, 255);
			    else
				g.chcolor(255, 192, 0, 255);
>>>>>>> 3187c8c7b603df3d655e9aa985bfe7506231ea03
			    g.frect(expc.add(1, 1), new Coord(w, (expsz.y / 2)));
			    break;
			}</pre></td>
                        </tr>

                    </tbody>
                </table>

                <table id="tableSolution" class="table table-hover table-mc-light-blue">
                    <thead>
                        <tr>
                            <th>Solution content</th>
                            
                        </tr>
                    </thead>
                    <tbody>

<tr>
                            <td data-title="SolutionContent"><pre>		if(insp != null) {
		    for(int i = 0; i < insp.attrs.length; i++) {
			if(insp.attrs[i].equals(nm)) {
			    int w = Math.min(((expsz.x - 2) * insp.exp[i]) / (attr.comp * 100),
					     expsz.x - 2);
			    if(insp.exp[i] > (attr.comp * 100))
				g.chcolor(GAIN_FULL);
			    else
				g.chcolor(GAIN_SMALL);
			    g.frect(expc.add(1, 1), new Coord(w, (expsz.y / 2)));
			    break;
			}</pre></td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
<div class="table-responsive-vertical shadow-z-1" style="width: 17.5%; float: right; position: relative;">
        
            <table id="tableFileName" class="table table-hover table-mc-light-blue">
                <thead>
                    <tr>
                        <th>File</th>                            
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td data-title="FileName">CharWnd.java</td>
                    </tr>
                </tbody>
            </table>
            <table id="tableDeveloperDecision" class="table table-hover table-mc-light-blue">
                <thead>
                    <tr>
                        <th>Developer's decision</th>                            
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td data-title="DeveloperDecision">Combination</td>
                    </tr>
                </tbody>
            </table>

            <table id="tableKindConflict" class="table table-hover table-mc-light-blue">
                <thead>
                    <tr>
                        <th>Kind of conflict</th>                            
                    </tr>
                </thead>
                <tbody>

                    <tr>
                        <td data-title="KindConflict">Array access</td>
                    </tr>

                    <tr>
                        <td data-title="KindConflict"> Attribute</td>
                    </tr>

                    <tr>
                        <td data-title="KindConflict"> If statement</td>
                    </tr>

                    <tr>
                        <td data-title="KindConflict"> Method invocation</td>
                    </tr>

                    <tr>
                        <td data-title="KindConflict"> Variable</td>
                    </tr>

                </tbody>
            </table>
        </div>
            <div class="table-responsive-vertical shadow-z-1">
                <table id="table" class="table table-hover table-mc-light-blue">
                    <thead>
                        <tr>
                            <th>Chunk</th>
                        </tr>
                    </thead>

                </table>
        <div>
<div class="table-responsive-vertical shadow-z-1" style="width: 80%; float: left; position: relative;">
                <!-- Table starts here -->
                <table id="tableConflict" class="table table-hover table-mc-light-blue">
                    <thead>
                        <tr>
                            <th>Conflicting content</th>
                            
                        </tr>
                    </thead>
                    <tbody>

                        <tr>
                            <td data-title="ConflictingContent"><pre>		Skill sk = nsk.skills[nsk.sel];
		for(int i = 0; i < sk.costa.length; i++) {
		    if(sk.costa[i].equals(nm)) {
<<<<<<< HEAD
			int w = ((expsz.x - 2) * sk.costv[i]) / (attr.comp * 100);
			if(w > expsz.x - 2) {
			    w = expsz.x - 2;
			    g.chcolor(REQ_NOT_ENOUGH);
			} else {
			    g.chcolor(REQ_ENOUGH);
			}
=======
			int w = Math.min(((expsz.x - 2) * sk.costv[i]) / (attr.comp * 100),
					 expsz.x - 2);
			if(sk.costv[i] > (attr.comp * 100))
			    g.chcolor(255, 0, 0, 255);
			else
			    g.chcolor(128, 0, 0, 255);
>>>>>>> 3187c8c7b603df3d655e9aa985bfe7506231ea03
			g.frect(expc.add(1, expsz.y / 2), new Coord(w, (expsz.y / 2)));
			break;
		    }</pre></td>
                        </tr>

                    </tbody>
                </table>

                <table id="tableSolution" class="table table-hover table-mc-light-blue">
                    <thead>
                        <tr>
                            <th>Solution content</th>
                            
                        </tr>
                    </thead>
                    <tbody>

<tr>
                            <td data-title="SolutionContent"><pre>		Skill sk = nsk.skills[nsk.sel];
		for(int i = 0; i < sk.costa.length; i++) {
		    if(sk.costa[i].equals(nm)) {
			int w = Math.min(((expsz.x - 2) * sk.costv[i]) / (attr.comp * 100),
					 expsz.x - 2);
			if(sk.costv[i] > (attr.comp * 100))
			    g.chcolor(REQ_NOT_ENOUGH);
			else
			    g.chcolor(REQ_ENOUGH);
			g.frect(expc.add(1, expsz.y / 2), new Coord(w, (expsz.y / 2)));
			break;
		    }</pre></td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
<div class="table-responsive-vertical shadow-z-1" style="width: 17.5%; float: right; position: relative;">
        
            <table id="tableFileName" class="table table-hover table-mc-light-blue">
                <thead>
                    <tr>
                        <th>File</th>                            
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td data-title="FileName">CharWnd.java</td>
                    </tr>
                </tbody>
            </table>
            <table id="tableDeveloperDecision" class="table table-hover table-mc-light-blue">
                <thead>
                    <tr>
                        <th>Developer's decision</th>                            
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td data-title="DeveloperDecision">Combination</td>
                    </tr>
                </tbody>
            </table>

            <table id="tableKindConflict" class="table table-hover table-mc-light-blue">
                <thead>
                    <tr>
                        <th>Kind of conflict</th>                            
                    </tr>
                </thead>
                <tbody>

                    <tr>
                        <td data-title="KindConflict">Array access</td>
                    </tr>

                    <tr>
                        <td data-title="KindConflict"> Attribute</td>
                    </tr>

                    <tr>
                        <td data-title="KindConflict"> If statement</td>
                    </tr>

                    <tr>
                        <td data-title="KindConflict"> Method invocation</td>
                    </tr>

                    <tr>
                        <td data-title="KindConflict"> Variable</td>
                    </tr>

                </tbody>
            </table>
        </div>
            <div class="table-responsive-vertical shadow-z-1">
                <table id="table" class="table table-hover table-mc-light-blue">
                    <thead>
                        <tr>
                            <th>Chunk</th>
                        </tr>
                    </thead>

                </table>
        <div>
<div class="table-responsive-vertical shadow-z-1" style="width: 80%; float: left; position: relative;">
                <!-- Table starts here -->
                <table id="tableConflict" class="table table-hover table-mc-light-blue">
                    <thead>
                        <tr>
                            <th>Conflicting content</th>
                            
                        </tr>
                    </thead>
                    <tbody>

                        <tr>
                            <td data-title="ConflictingContent"><pre>		    ski.setsk(sk);
		}
	    };
<<<<<<< HEAD
	new Label(new Coord(250, 170), container, "Available:");
	this.nsk = new SkillList(new Coord(250, 185), new Coord(170, 120), container) {
=======
	new Label(new Coord(250, 170), this, "Available:");
	this.nsk = new SkillList(new Coord(250, 185), new Coord(170, 120), this) {
		protected void drawsk(GOut g, Skill sk, Coord c) {
		    int astate = sk.afforded();
		    if(astate == 3)
			g.chcolor(255, 128, 128, 255);
		    else if(astate == 2)
			g.chcolor(255, 192, 128, 255);
		    else if(astate == 1)
			g.chcolor(255, 255, 128, 255);
		    super.drawsk(g, sk, c);
		    g.chcolor();
		}
		
>>>>>>> 3187c8c7b603df3d655e9aa985bfe7506231ea03
		protected void changed(Skill sk) {
		    if(sk != null)
			csk.unsel();</pre></td>
                        </tr>

                    </tbody>
                </table>

                <table id="tableSolution" class="table table-hover table-mc-light-blue">
                    <thead>
                        <tr>
                            <th>Solution content</th>
                            
                        </tr>
                    </thead>
                    <tbody>

<tr>
                            <td data-title="SolutionContent"><pre>		    ski.setsk(sk);
		}
	    };
	new Label(new Coord(250, 170), container, "Available:");
	this.nsk = new SkillList(new Coord(250, 185), new Coord(170, 120), container) {
		protected void drawsk(GOut g, Skill sk, Coord c) {
		    int astate = sk.afforded();
		    if(astate == 3)
			g.chcolor(255, 128, 128, 255);
		    else if(astate == 2)
			g.chcolor(255, 192, 128, 255);
		    else if(astate == 1)
			g.chcolor(255, 255, 128, 255);
		    super.drawsk(g, sk, c);
		    g.chcolor();
		}
		
		protected void changed(Skill sk) {
		    if(sk != null)
			csk.unsel();</pre></td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
<div class="table-responsive-vertical shadow-z-1" style="width: 17.5%; float: right; position: relative;">
        
            <table id="tableFileName" class="table table-hover table-mc-light-blue">
                <thead>
                    <tr>
                        <th>File</th>                            
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td data-title="FileName">CharWnd.java</td>
                    </tr>
                </tbody>
            </table>
            <table id="tableDeveloperDecision" class="table table-hover table-mc-light-blue">
                <thead>
                    <tr>
                        <th>Developer's decision</th>                            
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td data-title="DeveloperDecision">Combination</td>
                    </tr>
                </tbody>
            </table>

            <table id="tableKindConflict" class="table table-hover table-mc-light-blue">
                <thead>
                    <tr>
                        <th>Kind of conflict</th>                            
                    </tr>
                </thead>
                <tbody>

                    <tr>
                        <td data-title="KindConflict">Attribute</td>
                    </tr>

                    <tr>
                        <td data-title="KindConflict"> Method invocation</td>
                    </tr>

                </tbody>
            </table>
        </div>
            <div class="table-responsive-vertical shadow-z-1">
                <table id="table" class="table table-hover table-mc-light-blue">
                    <thead>
                        <tr>
                            <th>Chunk</th>
                        </tr>
                    </thead>

                </table>
        <div>
<div class="table-responsive-vertical shadow-z-1" style="width: 80%; float: left; position: relative;">
                <!-- Table starts here -->
                <table id="tableConflict" class="table table-hover table-mc-light-blue">
                    <thead>
                        <tr>
                            <th>Conflicting content</th>
                            
                        </tr>
                    </thead>
                    <tbody>

                        <tr>
                            <td data-title="ConflictingContent"><pre>	this.ski = new SkillInfo(new Coord(430, 30), new Coord(190, 275), container);
    }
    
<<<<<<< HEAD
    protected void toggle() {
	container.visible = !container.visible;
	resize(container.visible?SZ_FULL:SZ_SHORT);
	btntoggle.change(container.visible?"<<":">>");
    }

=======
    private void decsklist(Collection<Skill> buf, Object[] args, int a) {
	while(a < args.length) {
	    String nm = (String)args[a++];
	    Indir<Resource> res = ui.sess.getres((Integer)args[a++]);
	    int n;
	    for(n = 0; !((String)args[a + (n * 2)]).equals(""); n++);
	    String[] costa = new String[n];
	    int[] costv = new int[n];
	    for(int i = 0; i < n; i++) {
		costa[i] = (String)args[a + (i * 2)];
		costv[i] = (Integer)args[a + (i * 2) + 1];
	    }
	    a += (n * 2) + 1;
	    buf.add(new Skill(nm, res, costa, costv));
	}
    }
    
    private Collection<Skill> acccsk, accnsk;
>>>>>>> 3187c8c7b603df3d655e9aa985bfe7506231ea03
    public void uimsg(String msg, Object... args) {
	if(msg == "exp") {
	    for(int i = 0; i < args.length; i += 4) {</pre></td>
                        </tr>

                    </tbody>
                </table>

                <table id="tableSolution" class="table table-hover table-mc-light-blue">
                    <thead>
                        <tr>
                            <th>Solution content</th>
                            
                        </tr>
                    </thead>
                    <tbody>

<tr>
                            <td data-title="SolutionContent"><pre>	this.ski = new SkillInfo(new Coord(430, 30), new Coord(190, 275), container);
    }
    
    protected void toggle() {
	container.visible = !container.visible;
	resize(container.visible?SZ_FULL:SZ_SHORT);
	btntoggle.change(container.visible?"<<":">>");
    }

    private void decsklist(Collection<Skill> buf, Object[] args, int a) {
	while(a < args.length) {
	    String nm = (String)args[a++];
	    Indir<Resource> res = ui.sess.getres((Integer)args[a++]);
	    int n;
	    for(n = 0; !((String)args[a + (n * 2)]).equals(""); n++);
	    String[] costa = new String[n];
	    int[] costv = new int[n];
	    for(int i = 0; i < n; i++) {
		costa[i] = (String)args[a + (i * 2)];
		costv[i] = (Integer)args[a + (i * 2) + 1];
	    }
	    a += (n * 2) + 1;
	    buf.add(new Skill(nm, res, costa, costv));
	}
    }
    
    private Collection<Skill> acccsk, accnsk;
    public void uimsg(String msg, Object... args) {
	if(msg == "exp") {
	    for(int i = 0; i < args.length; i += 4) {</pre></td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
<div class="table-responsive-vertical shadow-z-1" style="width: 17.5%; float: right; position: relative;">
        
            <table id="tableFileName" class="table table-hover table-mc-light-blue">
                <thead>
                    <tr>
                        <th>File</th>                            
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td data-title="FileName">CharWnd.java</td>
                    </tr>
                </tbody>
            </table>
            <table id="tableDeveloperDecision" class="table table-hover table-mc-light-blue">
                <thead>
                    <tr>
                        <th>Developer's decision</th>                            
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td data-title="DeveloperDecision">Concatenation</td>
                    </tr>
                </tbody>
            </table>

            <table id="tableKindConflict" class="table table-hover table-mc-light-blue">
                <thead>
                    <tr>
                        <th>Kind of conflict</th>                            
                    </tr>
                </thead>
                <tbody>

                    <tr>
                        <td data-title="KindConflict">Attribute</td>
                    </tr>

                    <tr>
                        <td data-title="KindConflict"> Method declaration</td>
                    </tr>

                </tbody>
            </table>
        </div>
            <div class="table-responsive-vertical shadow-z-1">
                <table id="table" class="table table-hover table-mc-light-blue">
                    <thead>
                        <tr>
                            <th>Chunk</th>
                        </tr>
                    </thead>

                </table>
        <div>
<div class="table-responsive-vertical shadow-z-1" style="width: 80%; float: left; position: relative;">
                <!-- Table starts here -->
                <table id="tableConflict" class="table table-hover table-mc-light-blue">
                    <thead>
                        <tr>
                            <th>Conflicting content</th>
                            
                        </tr>
                    </thead>
                    <tbody>

                        <tr>
                            <td data-title="ConflictingContent"><pre>	gl.glBegin(GL.GL_TRIANGLES);
	for(int i = 0; i < num * 3; i++) {
	    int idx = indb.get(i);
<<<<<<< HEAD
	    int o = idx * 3;
	    gl.glNormal3f(vert.nrmb.get(o), vert.nrmb.get(o + 1), vert.nrmb.get(o + 2));
	   if(vert.texb != null) {
		int u = idx * 2;
		gl.glTexCoord2f(vert.texb.get(u), vert.texb.get(u + 1));
	    }
	    gl.glVertex3f(vert.posb.get(o), vert.posb.get(o + 1), vert.posb.get(o + 2));
=======
	    for(int o = 0; o < n; o++)
		data[o].set(g, idx);
	    vbuf.set(g, idx);
>>>>>>> 3187c8c7b603df3d655e9aa985bfe7506231ea03
	}
	gl.glEnd();
    }</pre></td>
                        </tr>

                    </tbody>
                </table>

                <table id="tableSolution" class="table table-hover table-mc-light-blue">
                    <thead>
                        <tr>
                            <th>Solution content</th>
                            
                        </tr>
                    </thead>
                    <tbody>

<tr>
                            <td data-title="SolutionContent"><pre>	gl.glBegin(GL.GL_TRIANGLES);
	for(int i = 0; i < num * 3; i++) {
	    int idx = indb.get(i);
	    for(int o = 0; o < n; o++)
		data[o].set(g, idx);
	    vbuf.set(g, idx);
	}
	gl.glEnd();
    }</pre></td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
<div class="table-responsive-vertical shadow-z-1" style="width: 17.5%; float: right; position: relative;">
        
            <table id="tableFileName" class="table table-hover table-mc-light-blue">
                <thead>
                    <tr>
                        <th>File</th>                            
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td data-title="FileName">FastMesh.java</td>
                    </tr>
                </tbody>
            </table>
            <table id="tableDeveloperDecision" class="table table-hover table-mc-light-blue">
                <thead>
                    <tr>
                        <th>Developer's decision</th>                            
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td data-title="DeveloperDecision">Version 2</td>
                    </tr>
                </tbody>
            </table>

            <table id="tableKindConflict" class="table table-hover table-mc-light-blue">
                <thead>
                    <tr>
                        <th>Kind of conflict</th>                            
                    </tr>
                </thead>
                <tbody>

                    <tr>
                        <td data-title="KindConflict">For statement</td>
                    </tr>

                    <tr>
                        <td data-title="KindConflict"> If statement</td>
                    </tr>

                    <tr>
                        <td data-title="KindConflict"> Method invocation</td>
                    </tr>

                    <tr>
                        <td data-title="KindConflict"> Variable</td>
                    </tr>

                </tbody>
            </table>
        </div>
            <div class="table-responsive-vertical shadow-z-1">
                <table id="table" class="table table-hover table-mc-light-blue">
                    <thead>
                        <tr>
                            <th>Chunk</th>
                        </tr>
                    </thead>

                </table>
        <div>
<div class="table-responsive-vertical shadow-z-1" style="width: 80%; float: left; position: relative;">
                <!-- Table starts here -->
                <table id="tableConflict" class="table table-hover table-mc-light-blue">
                    <thead>
                        <tr>
                            <th>Conflicting content</th>
                            
                        </tr>
                    </thead>
                    <tbody>

                        <tr>
                            <td data-title="ConflictingContent"><pre>import java.util.Comparator;
import java.util.List;

<<<<<<< HEAD
public class GItem extends AWidget {
    public static volatile long infoUpdated = 0;
    
=======
public class GItem extends AWidget implements ItemInfo.ResOwner {
>>>>>>> 3187c8c7b603df3d655e9aa985bfe7506231ea03
    public Indir<Resource> res;
    public int meter = 0;
    public int num = -1;</pre></td>
                        </tr>

                    </tbody>
                </table>

                <table id="tableSolution" class="table table-hover table-mc-light-blue">
                    <thead>
                        <tr>
                            <th>Solution content</th>
                            
                        </tr>
                    </thead>
                    <tbody>

<tr>
                            <td data-title="SolutionContent"><pre>import java.util.List;

public class GItem extends AWidget implements ItemInfo.ResOwner {
    public static volatile long infoUpdated;
    public Indir<Resource> res;
    public int meter = 0;
    public int num = -1;</pre></td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
<div class="table-responsive-vertical shadow-z-1" style="width: 17.5%; float: right; position: relative;">
        
            <table id="tableFileName" class="table table-hover table-mc-light-blue">
                <thead>
                    <tr>
                        <th>File</th>                            
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td data-title="FileName">GItem.java</td>
                    </tr>
                </tbody>
            </table>
            <table id="tableDeveloperDecision" class="table table-hover table-mc-light-blue">
                <thead>
                    <tr>
                        <th>Developer's decision</th>                            
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td data-title="DeveloperDecision">Manual</td>
                    </tr>
                </tbody>
            </table>

            <table id="tableKindConflict" class="table table-hover table-mc-light-blue">
                <thead>
                    <tr>
                        <th>Kind of conflict</th>                            
                    </tr>
                </thead>
                <tbody>

                    <tr>
                        <td data-title="KindConflict">Attribute</td>
                    </tr>

                    <tr>
                        <td data-title="KindConflict"> Class signature</td>
                    </tr>

                </tbody>
            </table>
        </div>
            <div class="table-responsive-vertical shadow-z-1">
                <table id="table" class="table table-hover table-mc-light-blue">
                    <thead>
                        <tr>
                            <th>Chunk</th>
                        </tr>
                    </thead>

                </table>
        <div>
<div class="table-responsive-vertical shadow-z-1" style="width: 80%; float: left; position: relative;">
                <!-- Table starts here -->
                <table id="tableConflict" class="table table-hover table-mc-light-blue">
                    <thead>
                        <tr>
                            <th>Conflicting content</th>
                            
                        </tr>
                    </thead>
                    <tbody>

                        <tr>
                            <td data-title="ConflictingContent"><pre>    public Glob glob() {
	return(ui.sess.glob);
    }
<<<<<<< HEAD
    
    public String resname(){
	Resource r = res.get();
	if(r != null){
	    return r.name;
	}
	return "";
    }
    
    public List<Info> info() {
	if(info == null) {
	    info = buildinfo(rawinfo);
	}
=======

    public List<ItemInfo> info() {
	if(info == null)
	    info = ItemInfo.buildinfo(this, rawinfo);
>>>>>>> 3187c8c7b603df3d655e9aa985bfe7506231ea03
	return(info);
    }
    </pre></td>
                        </tr>

                    </tbody>
                </table>

                <table id="tableSolution" class="table table-hover table-mc-light-blue">
                    <thead>
                        <tr>
                            <th>Solution content</th>
                            
                        </tr>
                    </thead>
                    <tbody>

<tr>
                            <td data-title="SolutionContent"><pre>    public Glob glob() {
	return(ui.sess.glob);
    }

    public List<ItemInfo> info() {
	if(info == null)
	    info = ItemInfo.buildinfo(this, rawinfo);
	return(info);
    }
    </pre></td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
<div class="table-responsive-vertical shadow-z-1" style="width: 17.5%; float: right; position: relative;">
        
            <table id="tableFileName" class="table table-hover table-mc-light-blue">
                <thead>
                    <tr>
                        <th>File</th>                            
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td data-title="FileName">GItem.java</td>
                    </tr>
                </tbody>
            </table>
            <table id="tableDeveloperDecision" class="table table-hover table-mc-light-blue">
                <thead>
                    <tr>
                        <th>Developer's decision</th>                            
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td data-title="DeveloperDecision">Version 2</td>
                    </tr>
                </tbody>
            </table>

            <table id="tableKindConflict" class="table table-hover table-mc-light-blue">
                <thead>
                    <tr>
                        <th>Kind of conflict</th>                            
                    </tr>
                </thead>
                <tbody>

                    <tr>
                        <td data-title="KindConflict">If statement</td>
                    </tr>

                    <tr>
                        <td data-title="KindConflict"> Method declaration</td>
                    </tr>

                    <tr>
                        <td data-title="KindConflict"> Method signature</td>
                    </tr>

                </tbody>
            </table>
        </div>
            <div class="table-responsive-vertical shadow-z-1">
                <table id="table" class="table table-hover table-mc-light-blue">
                    <thead>
                        <tr>
                            <th>Chunk</th>
                        </tr>
                    </thead>

                </table>
        <div>
<div class="table-responsive-vertical shadow-z-1" style="width: 80%; float: left; position: relative;">
                <!-- Table starts here -->
                <table id="tableConflict" class="table table-hover table-mc-light-blue">
                    <thead>
                        <tr>
                            <th>Conflicting content</th>
                            
                        </tr>
                    </thead>
                    <tbody>

                        <tr>
                            <td data-title="ConflictingContent"><pre>import java.awt.RenderingHints;
import java.io.*;
import java.nio.*;
<<<<<<< HEAD
import java.text.SimpleDateFormat;
=======
import java.lang.reflect.*;
>>>>>>> 3187c8c7b603df3d655e9aa985bfe7506231ea03
import java.util.prefs.*;
import java.util.*;
import java.awt.Graphics;</pre></td>
                        </tr>

                    </tbody>
                </table>

                <table id="tableSolution" class="table table-hover table-mc-light-blue">
                    <thead>
                        <tr>
                            <th>Solution content</th>
                            
                        </tr>
                    </thead>
                    <tbody>

<tr>
                            <td data-title="SolutionContent"><pre>import java.awt.RenderingHints;
import java.io.*;
import java.nio.*;
import java.text.SimpleDateFormat;
import java.lang.reflect.*;
import java.util.prefs.*;
import java.util.*;
import java.awt.Graphics;</pre></td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
<div class="table-responsive-vertical shadow-z-1" style="width: 17.5%; float: right; position: relative;">
        
            <table id="tableFileName" class="table table-hover table-mc-light-blue">
                <thead>
                    <tr>
                        <th>File</th>                            
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td data-title="FileName">Utils.java</td>
                    </tr>
                </tbody>
            </table>
            <table id="tableDeveloperDecision" class="table table-hover table-mc-light-blue">
                <thead>
                    <tr>
                        <th>Developer's decision</th>                            
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td data-title="DeveloperDecision">Concatenation</td>
                    </tr>
                </tbody>
            </table>

            <table id="tableKindConflict" class="table table-hover table-mc-light-blue">
                <thead>
                    <tr>
                        <th>Kind of conflict</th>                            
                    </tr>
                </thead>
                <tbody>

                    <tr>
                        <td data-title="KindConflict">Import</td>
                    </tr>

                </tbody>
            </table>
        </div>
            <div class="table-responsive-vertical shadow-z-1">
                <table id="table" class="table table-hover table-mc-light-blue">
                    <thead>
                        <tr>
                            <th>Chunk</th>
                        </tr>
                    </thead>

                </table>
        <div>
<div class="table-responsive-vertical shadow-z-1" style="width: 80%; float: left; position: relative;">
                <!-- Table starts here -->
                <table id="tableConflict" class="table table-hover table-mc-light-blue">
                    <thead>
                        <tr>
                            <th>Conflicting content</th>
                            
                        </tr>
                    </thead>
                    <tbody>

                        <tr>
                            <td data-title="ConflictingContent"><pre>
import java.awt.Color;
import java.awt.image.BufferedImage;
<<<<<<< HEAD
import java.util.List;
=======
import java.util.*;
import static haven.ItemInfo.find;
>>>>>>> 3187c8c7b603df3d655e9aa985bfe7506231ea03

public class WItem extends Widget implements DTarget {
    public static final Resource missing = Resource.load("gfx/invobjs/missing");</pre></td>
                        </tr>

                    </tbody>
                </table>

                <table id="tableSolution" class="table table-hover table-mc-light-blue">
                    <thead>
                        <tr>
                            <th>Solution content</th>
                            
                        </tr>
                    </thead>
                    <tbody>

<tr>
                            <td data-title="SolutionContent"><pre>import java.awt.Color;
import java.awt.image.BufferedImage;
import java.util.List;
import java.util.*;
import static haven.ItemInfo.find;

public class WItem extends Widget implements DTarget {
    public static final Resource missing = Resource.load("gfx/invobjs/missing");</pre></td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
<div class="table-responsive-vertical shadow-z-1" style="width: 17.5%; float: right; position: relative;">
        
            <table id="tableFileName" class="table table-hover table-mc-light-blue">
                <thead>
                    <tr>
                        <th>File</th>                            
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td data-title="FileName">WItem.java</td>
                    </tr>
                </tbody>
            </table>
            <table id="tableDeveloperDecision" class="table table-hover table-mc-light-blue">
                <thead>
                    <tr>
                        <th>Developer's decision</th>                            
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td data-title="DeveloperDecision">Concatenation</td>
                    </tr>
                </tbody>
            </table>

            <table id="tableKindConflict" class="table table-hover table-mc-light-blue">
                <thead>
                    <tr>
                        <th>Kind of conflict</th>                            
                    </tr>
                </thead>
                <tbody>

                    <tr>
                        <td data-title="KindConflict">Import</td>
                    </tr>

                </tbody>
            </table>
        </div>
            </div>
        </div>
        
        <!-- Última versão JavaScript compilada e minificada -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" ></script>
        <script type="text/javascript" src="script.js"></script>
    </body>
</html>