<html>    <head>        <title>Projects information</title>        <meta charset="UTF-8">        <meta name="viewport" content="width=device-width, initial-scale=1.0">        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">    </head>    <body><h2> <a href = "../../../index.html"> Projects </a> >> <a href = "../errai.html"> errai</a> >>e82e6d7b0b7f3e64e27688dcb011e5a8b7e10637</h2>
        <div id="demo">
            <div class="table-responsive-vertical shadow-z-1">
                <table id="table" class="table table-hover table-mc-light-blue">
                    <thead>
                        <tr>
                            <th>Chunk</th>
                        </tr>
                    </thead>

                </table>
        <div>
<div class="table-responsive-vertical shadow-z-1" style="width: 80%; float: left; position: relative;">
                <!-- Table starts here -->
                <table id="tableConflict" class="table table-hover table-mc-light-blue">
                    <thead>
                        <tr>
                            <th>Conflicting content</th>
                            
                        </tr>
                    </thead>
                    <tbody>

                        <tr>
                            <td data-title="ConflictingContent"><pre> * @author Christian Sadilek <csadilek@redhat.com>
 */
public class GenUtil {
<<<<<<< HEAD
    @SuppressWarnings("serial")
    private static final Map<MetaClass, MetaClass> primitiveWrappers = new HashMap<MetaClass, MetaClass>() {
        {
            put(MetaClassFactory.get(boolean.class), MetaClassFactory.get(Boolean.class));
            put(MetaClassFactory.get(byte.class), MetaClassFactory.get(Byte.class));
            put(MetaClassFactory.get(char.class), MetaClassFactory.get(Character.class));
            put(MetaClassFactory.get(double.class), MetaClassFactory.get(Double.class));
            put(MetaClassFactory.get(float.class), MetaClassFactory.get(Float.class));
            put(MetaClassFactory.get(int.class), MetaClassFactory.get(Integer.class));
            put(MetaClassFactory.get(long.class), MetaClassFactory.get(Long.class));
            put(MetaClassFactory.get(short.class), MetaClassFactory.get(Short.class));
        }
    };
=======
    private static final Map<MetaClass, MetaClass> primitiveWrappers = new HashMap<MetaClass, MetaClass>() {{
        put(MetaClassFactory.get(boolean.class), MetaClassFactory.get(Boolean.class));
        put(MetaClassFactory.get(byte.class), MetaClassFactory.get(Byte.class));
        put(MetaClassFactory.get(char.class), MetaClassFactory.get(Character.class));
        put(MetaClassFactory.get(double.class), MetaClassFactory.get(Double.class));
        put(MetaClassFactory.get(float.class), MetaClassFactory.get(Float.class));
        put(MetaClassFactory.get(int.class), MetaClassFactory.get(Integer.class));
        put(MetaClassFactory.get(long.class), MetaClassFactory.get(Long.class));
        put(MetaClassFactory.get(short.class), MetaClassFactory.get(Short.class));
    }};
>>>>>>> 1ee28970beab6e03e1d8de079c22a3d5341c5a40

    public static Statement[] generateCallParameters(Context context, Object... parameters) {
        Statement[] statements = new Statement[parameters.length];</pre></td>
                        </tr>

                    </tbody>
                </table>

                <table id="tableSolution" class="table table-hover table-mc-light-blue">
                    <thead>
                        <tr>
                            <th>Solution content</th>
                            
                        </tr>
                    </thead>
                    <tbody>

<tr>
                            <td data-title="SolutionContent"><pre> * @author Christian Sadilek <csadilek@redhat.com>
 */
public class GenUtil {
    @SuppressWarnings("serial")
    private static final Map<MetaClass, MetaClass> primitiveWrappers = new HashMap<MetaClass, MetaClass>() {
        {
            put(MetaClassFactory.get(boolean.class), MetaClassFactory.get(Boolean.class));
            put(MetaClassFactory.get(byte.class), MetaClassFactory.get(Byte.class));
            put(MetaClassFactory.get(char.class), MetaClassFactory.get(Character.class));
            put(MetaClassFactory.get(double.class), MetaClassFactory.get(Double.class));
            put(MetaClassFactory.get(float.class), MetaClassFactory.get(Float.class));
            put(MetaClassFactory.get(int.class), MetaClassFactory.get(Integer.class));
            put(MetaClassFactory.get(long.class), MetaClassFactory.get(Long.class));
            put(MetaClassFactory.get(short.class), MetaClassFactory.get(Short.class));
        }
    };

    public static Statement[] generateCallParameters(Context context, Object... parameters) {
        Statement[] statements = new Statement[parameters.length];</pre></td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
<div class="table-responsive-vertical shadow-z-1" style="width: 17.5%; float: right; position: relative;">
        
            <table id="tableFileName" class="table table-hover table-mc-light-blue">
                <thead>
                    <tr>
                        <th>File</th>                            
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td data-title="FileName">GenUtil.java</td>
                    </tr>
                </tbody>
            </table>
            <table id="tableDeveloperDecision" class="table table-hover table-mc-light-blue">
                <thead>
                    <tr>
                        <th>Developer's decision</th>                            
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td data-title="DeveloperDecision">Version 1</td>
                    </tr>
                </tbody>
            </table>

            <table id="tableKindConflict" class="table table-hover table-mc-light-blue">
                <thead>
                    <tr>
                        <th>Kind of conflict</th>                            
                    </tr>
                </thead>
                <tbody>

                    <tr>
                        <td data-title="KindConflict">Annotation</td>
                    </tr>

                    <tr>
                        <td data-title="KindConflict"> Attribute</td>
                    </tr>

                    <tr>
                        <td data-title="KindConflict"> Method invocation</td>
                    </tr>

                </tbody>
            </table>
        </div>
            <div class="table-responsive-vertical shadow-z-1">
                <table id="table" class="table table-hover table-mc-light-blue">
                    <thead>
                        <tr>
                            <th>Chunk</th>
                        </tr>
                    </thead>

                </table>
        <div>
<div class="table-responsive-vertical shadow-z-1" style="width: 80%; float: left; position: relative;">
                <!-- Table starts here -->
                <table id="tableConflict" class="table table-hover table-mc-light-blue">
                    <thead>
                        <tr>
                            <th>Conflicting content</th>
                            
                        </tr>
                    </thead>
                    <tbody>

                        <tr>
                            <td data-title="ConflictingContent"><pre>        try {
            from = primitiveToWrapperType(from);
            to = primitiveToWrapperType(to);
<<<<<<< HEAD
=======

            Class<?> fromCls = Class.forName(from.getFullyQualifedName(), false,
                    Thread.currentThread().getContextClassLoader());
>>>>>>> 1ee28970beab6e03e1d8de079c22a3d5341c5a40

            Class<?> fromCls = Class.forName(from.getFullyQualifedName(), false, Thread.currentThread()
                    .getContextClassLoader());</pre></td>
                        </tr>

                    </tbody>
                </table>

                <table id="tableSolution" class="table table-hover table-mc-light-blue">
                    <thead>
                        <tr>
                            <th>Solution content</th>
                            
                        </tr>
                    </thead>
                    <tbody>

<tr>
                            <td data-title="SolutionContent"><pre>        try {
            from = primitiveToWrapperType(from);
            to = primitiveToWrapperType(to);

            Class<?> fromCls = Class.forName(from.getFullyQualifedName(), false, Thread.currentThread()
                    .getContextClassLoader());</pre></td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
<div class="table-responsive-vertical shadow-z-1" style="width: 17.5%; float: right; position: relative;">
        
            <table id="tableFileName" class="table table-hover table-mc-light-blue">
                <thead>
                    <tr>
                        <th>File</th>                            
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td data-title="FileName">GenUtil.java</td>
                    </tr>
                </tbody>
            </table>
            <table id="tableDeveloperDecision" class="table table-hover table-mc-light-blue">
                <thead>
                    <tr>
                        <th>Developer's decision</th>                            
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td data-title="DeveloperDecision">Version 1</td>
                    </tr>
                </tbody>
            </table>

            <table id="tableKindConflict" class="table table-hover table-mc-light-blue">
                <thead>
                    <tr>
                        <th>Kind of conflict</th>                            
                    </tr>
                </thead>
                <tbody>

                    <tr>
                        <td data-title="KindConflict">Method invocation</td>
                    </tr>

                    <tr>
                        <td data-title="KindConflict"> Variable</td>
                    </tr>

                </tbody>
            </table>
        </div>
            <div class="table-responsive-vertical shadow-z-1">
                <table id="table" class="table table-hover table-mc-light-blue">
                    <thead>
                        <tr>
                            <th>Chunk</th>
                        </tr>
                    </thead>

                </table>
        <div>
<div class="table-responsive-vertical shadow-z-1" style="width: 80%; float: left; position: relative;">
                <!-- Table starts here -->
                <table id="tableConflict" class="table table-hover table-mc-light-blue">
                    <thead>
                        <tr>
                            <th>Conflicting content</th>
                            
                        </tr>
                    </thead>
                    <tbody>

                        <tr>
                            <td data-title="ConflictingContent"><pre>    public static Statement convert(Context context, Object input, MetaClass targetType) {
        try {
            if (input instanceof Statement) {
<<<<<<< HEAD
                if (input instanceof VariableReference
                        && (((VariableReference) input).getValue() instanceof LiteralValue)) {
                    input = ((LiteralValue<?>) ((VariableReference) input).getValue()).getValue();
                } else {
                    assertAssignableTypes(((Statement) input).getType(), targetType);
                    return (Statement) input;
=======
                if (((Statement) input).getType() == null) {
                    input = generate(context, input);
>>>>>>> 1ee28970beab6e03e1d8de079c22a3d5341c5a40
                }
            }
</pre></td>
                        </tr>

                    </tbody>
                </table>

                <table id="tableSolution" class="table table-hover table-mc-light-blue">
                    <thead>
                        <tr>
                            <th>Solution content</th>
                            
                        </tr>
                    </thead>
                    <tbody>

<tr>
                            <td data-title="SolutionContent"><pre>    public static Statement convert(Context context, Object input, MetaClass targetType) {
        try {
            if (input instanceof Statement) {
                if (input instanceof VariableReference
                        && (((VariableReference) input).getValue() instanceof LiteralValue)) {
                    input = ((LiteralValue<?>) ((VariableReference) input).getValue()).getValue();
                } else {
                    assertAssignableTypes(((Statement) input).getType(), targetType);
                    return (Statement) input;
                }
            }
</pre></td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
<div class="table-responsive-vertical shadow-z-1" style="width: 17.5%; float: right; position: relative;">
        
            <table id="tableFileName" class="table table-hover table-mc-light-blue">
                <thead>
                    <tr>
                        <th>File</th>                            
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td data-title="FileName">GenUtil.java</td>
                    </tr>
                </tbody>
            </table>
            <table id="tableDeveloperDecision" class="table table-hover table-mc-light-blue">
                <thead>
                    <tr>
                        <th>Developer's decision</th>                            
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td data-title="DeveloperDecision">Version 1</td>
                    </tr>
                </tbody>
            </table>

            <table id="tableKindConflict" class="table table-hover table-mc-light-blue">
                <thead>
                    <tr>
                        <th>Kind of conflict</th>                            
                    </tr>
                </thead>
                <tbody>

                    <tr>
                        <td data-title="KindConflict">Cast expression</td>
                    </tr>

                    <tr>
                        <td data-title="KindConflict"> If statement</td>
                    </tr>

                    <tr>
                        <td data-title="KindConflict"> Method invocation</td>
                    </tr>

                    <tr>
                        <td data-title="KindConflict"> Return statement</td>
                    </tr>

                    <tr>
                        <td data-title="KindConflict"> Variable</td>
                    </tr>

                </tbody>
            </table>
        </div>
            </div>
        </div>
        
        <!-- Última versão JavaScript compilada e minificada -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" ></script>
        <script type="text/javascript" src="script.js"></script>
    </body>
</html>