<html>    <head>        <title>Projects information</title>        <meta charset="UTF-8">        <meta name="viewport" content="width=device-width, initial-scale=1.0">        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">    </head>    <body><h2> <a href = "../../../index.html"> Projects </a> >> <a href = "../rodl.html"> rodl</a> >>e709512e342822c41eca9114f769dac417a197e2</h2>
        <div id="demo">
            <div class="table-responsive-vertical shadow-z-1">
                <table id="table" class="table table-hover table-mc-light-blue">
                    <thead>
                        <tr>
                            <th>Chunk</th>
                        </tr>
                    </thead>

                </table>
        <div>
<div class="table-responsive-vertical shadow-z-1" style="width: 80%; float: left; position: relative;">
                <!-- Table starts here -->
                <table id="tableConflict" class="table table-hover table-mc-light-blue">
                    <thead>
                        <tr>
                            <th>Conflicting content</th>
                            
                        </tr>
                    </thead>
                    <tbody>

                        <tr>
                            <td data-title="ConflictingContent"><pre>    /** See ROSR API. */
    public static final String AO_ANNOTATES_RESOURCE_HEADER = "http://purl.org/ao/annotatesResource";

<<<<<<< HEAD
=======
    /** See ROSR API. */
    public static final Resource ORE_PROXY_CLASS = ModelFactory.createDefaultModel().createResource(
        "http://www.openarchives.org/ore/terms/Proxy");

    /** See ROSR API. */
    public static final Property ORE_PROXY_FOR_PROPERTY = ModelFactory.createDefaultModel().createProperty(
        "http://www.openarchives.org/ore/terms/proxyFor");

    /** ro:AggregatedAnnotation. */
    public static final Resource RO_AGGREGATED_ANNOTATION_CLASS = ModelFactory.createDefaultModel().createResource(
        "http://purl.org/wf4ever/ro#AggregatedAnnotation");

    /** ao:annotatesResource. */
    public static final Property AO_ANNOTATES_RESOURCE_PROPERTY = ModelFactory.createDefaultModel().createProperty(
        "http://purl.org/ao/annotatesResource");

    /** body. */
    public static final Property AO_BODY_PROPERTY = ModelFactory.createDefaultModel().createProperty(
        "http://purl.org/ao/body");
>>>>>>> dd67b6c3a35fa2f00041202e3a121433c93c8e33
}</pre></td>
                        </tr>

                    </tbody>
                </table>

                <table id="tableSolution" class="table table-hover table-mc-light-blue">
                    <thead>
                        <tr>
                            <th>Solution content</th>
                            
                        </tr>
                    </thead>
                    <tbody>

<tr>
                            <td data-title="SolutionContent"><pre>package pl.psnc.dl.wf4ever;

import java.util.regex.Pattern;

/**
 * RO model and HTTP request cycle constants. This class should be refactored.
 * 
 * @author piotrhol
 * 
 */
public final class Constants {

    /**
     * No instances allowed.
     */
    private Constants() {
        // nop
    }


    /** dLibra user request cycle key. */
    public static final String USER = "User";

    /** workspace in dLibra. */
    public static final String WORKSPACE_ID = "default";

    /** version in dLibra. */
    public static final String VERSION_ID = "v1";

    /** HTTP Slug header. */
    public static final String SLUG_HEADER = "Slug";

    /** See ROSR API. */
    public static final String AO_ANNOTATES_HEADER = "http://purl.org/ao/annotates";

    /** See ROSR API. */
    public static final String ORE_PROXY_FOR_HEADER = "http://www.openarchives.org/ore/terms/proxyFor";

    /** See ROSR API. */
    public static final String PROXY_MIME_TYPE = "application/vnd.wf4ever.proxy";

    /** See ROSR API. */
    public static final String ANNOTATION_MIME_TYPE = "application/vnd.wf4ever.annotation";

    /** See ROSR API. */
    public static final String ACCEPT_HEADER = "Accept";

    /** See ROSR API. */
    public static final String MANIFEST_PATH = ".ro/manifest.rdf";

    /** See ROSR API. */
    public static final String LINK_HEADER = "Link";

    /** See ROSR API. */
    public static final String LINK_HEADER_TEMPLATE = "<%s>; rel=\"%s\"";

    /** See ROSR API. */
    public static final Pattern AO_LINK_HEADER_PATTERN = Pattern
            .compile("\\s*<([^>]*)>\\s*;\\s*rel\\s*=\\s*\"http://purl.org/ao/annotatesResource\"");
}</pre></td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
<div class="table-responsive-vertical shadow-z-1" style="width: 17.5%; float: right; position: relative;">
        
            <table id="tableFileName" class="table table-hover table-mc-light-blue">
                <thead>
                    <tr>
                        <th>File</th>                            
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td data-title="FileName">Constants.java</td>
                    </tr>
                </tbody>
            </table>
            <table id="tableDeveloperDecision" class="table table-hover table-mc-light-blue">
                <thead>
                    <tr>
                        <th>Developer's decision</th>                            
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td data-title="DeveloperDecision">Manual</td>
                    </tr>
                </tbody>
            </table>

            <table id="tableKindConflict" class="table table-hover table-mc-light-blue">
                <thead>
                    <tr>
                        <th>Kind of conflict</th>                            
                    </tr>
                </thead>
                <tbody>

                    <tr>
                        <td data-title="KindConflict">Attribute</td>
                    </tr>

                    <tr>
                        <td data-title="KindConflict"> Comment</td>
                    </tr>

                    <tr>
                        <td data-title="KindConflict"> Method invocation</td>
                    </tr>

                </tbody>
            </table>
        </div>
            <div class="table-responsive-vertical shadow-z-1">
                <table id="table" class="table table-hover table-mc-light-blue">
                    <thead>
                        <tr>
                            <th>Chunk</th>
                        </tr>
                    </thead>

                </table>
        <div>
<div class="table-responsive-vertical shadow-z-1" style="width: 80%; float: left; position: relative;">
                <!-- Table starts here -->
                <table id="tableConflict" class="table table-hover table-mc-light-blue">
                    <thead>
                        <tr>
                            <th>Conflicting content</th>
                            
                        </tr>
                    </thead>
                    <tbody>

                        <tr>
                            <td data-title="ConflictingContent"><pre>    }

    }


<<<<<<< HEAD
	public AccessToken(String token, OAuthClient client, UserCredentials user)
	{
		super();
		this.token = token;
		this.client = client;
		this.user = user;
	}


	/**
	 * @return the token
	 */
	@Id
	@XmlElement
	public String getToken()
	{
		return token;
	}


	/**
	 * @param token
	 *            the token to set
	 */
	public void setToken(String token)
	{
		this.token = token;
	}


	/**
	 * @return the client
	 */
	@ManyToOne
	@JoinColumn(nullable = false)
	@XmlElement
	public OAuthClient getClient()
	{
		return client;
	}


	/**
	 * @param client
	 *            the client to set
	 */
	public void setClient(OAuthClient client)
	{
		this.client = client;
	}


	/**
	 * @return the user
	 */
	@ManyToOne
	//@Cascade(CascadeType.ALL) //cause an integrity error !!
	@JoinColumn(name = "userId", nullable = false)
	@XmlElement
	public UserCredentials getUser()
	{
		return user;
	}


	/**
	 * @param user
	 *            the user to set
	 */
	public void setUser(UserCredentials user)
	{
		this.user = user;
	}


	@Basic
	@XmlElement
	public Date getCreated()
	{
		return created;
	}


	public void setCreated(Date created)
	{
		this.created = created;
	}


	/**
	 * @return the lastUsed
	 */
	@Basic
	@XmlElement
	public Date getLastUsed()
	{
		return lastUsed;
	}

	/**
	 * @param lastUsed the lastUsed to set
	 */
	public void setLastUsed(Date lastUsed)
	{
		this.lastUsed = lastUsed;
	}
=======
    public void setLastUsed(Date lastUsed) {
        this.lastUsed = lastUsed;
>>>>>>> dd67b6c3a35fa2f00041202e3a121433c93c8e33

}</pre></td>
                        </tr>

                    </tbody>
                </table>

                <table id="tableSolution" class="table table-hover table-mc-light-blue">
                    <thead>
                        <tr>
                            <th>Solution content</th>
                            
                        </tr>
                    </thead>
                    <tbody>

<tr>
                            <td data-title="SolutionContent"><pre>
}
    }


    public void setLastUsed(Date lastUsed) {
        this.lastUsed = lastUsed;
    }</pre></td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
<div class="table-responsive-vertical shadow-z-1" style="width: 17.5%; float: right; position: relative;">
        
            <table id="tableFileName" class="table table-hover table-mc-light-blue">
                <thead>
                    <tr>
                        <th>File</th>                            
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td data-title="FileName">AccessToken.java</td>
                    </tr>
                </tbody>
            </table>
            <table id="tableDeveloperDecision" class="table table-hover table-mc-light-blue">
                <thead>
                    <tr>
                        <th>Developer's decision</th>                            
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td data-title="DeveloperDecision">Version 2</td>
                    </tr>
                </tbody>
            </table>

            <table id="tableKindConflict" class="table table-hover table-mc-light-blue">
                <thead>
                    <tr>
                        <th>Kind of conflict</th>                            
                    </tr>
                </thead>
                <tbody>

                    <tr>
                        <td data-title="KindConflict">Annotation</td>
                    </tr>

                    <tr>
                        <td data-title="KindConflict"> Comment</td>
                    </tr>

                    <tr>
                        <td data-title="KindConflict"> Method declaration</td>
                    </tr>

                </tbody>
            </table>
        </div>
            </div>
        </div>
        
        <!-- Última versão JavaScript compilada e minificada -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" ></script>
        <script type="text/javascript" src="script.js"></script>
    </body>
</html>