/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 9, 2015, 5:24:26 PM
    Author     : gleiph
*/

.table{
    width:95%; 
    border-collapse:collapse; 
    alignment-adjust: central;
    alignment-baseline: central;
    text-align: left;
    background: #BBBBBB;
}

.table>td{
        padding:7px; border:#4e95f4 1px solid;
}
.table>tbody>tr { 
    background: #AFAFAF;
}

.table>tbody>tr:hover { 
    background-color: #E5E5E5;
}

.div{
    overflow:auto; 
    width: 10%; 
    height: 70px;
}

.tableContent{
    font-size: 12px;
    font-family: monospace, sans-serif;
}

.title{
        font-size: 14px;
}

