<html>    <head>        <title>Projects information</title>        <meta charset="UTF-8">        <meta name="viewport" content="width=device-width, initial-scale=1.0">        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">    </head>    <body><h2> <a href = "../../../index.html"> Projects </a> >> <a href = "../osce.html"> osce</a> >>11a2a8e58ad6c7ad460a156f92f7fcee63c5917d</h2>
        <div id="demo">
            <div class="table-responsive-vertical shadow-z-1">
                <table id="table" class="table table-hover table-mc-light-blue">
                    <thead>
                        <tr>
                            <th>Chunk</th>
                        </tr>
                    </thead>

                </table>
        <div>
<div class="table-responsive-vertical shadow-z-1" style="width: 80%; float: left; position: relative;">
                <!-- Table starts here -->
                <table id="tableConflict" class="table table-hover table-mc-light-blue">
                    <thead>
                        <tr>
                            <th>Conflicting content</th>
                            
                        </tr>
                    </thead>
                    <tbody>

                        <tr>
                            <td data-title="ConflictingContent"><pre><<<<<<< HEAD
/**
 * 
 */
package ch.unibas.medizin.osce.client.a_nonroo.client;

import com.google.gwt.core.client.GWT;
import com.google.gwt.uibinder.client.UiBinder;
import com.google.gwt.uibinder.client.UiField;
import com.google.gwt.user.client.DOM;
import com.google.gwt.user.client.ui.Composite;
import com.google.gwt.user.client.ui.DockLayoutPanel;
import com.google.gwt.user.client.ui.NotificationMole;
import com.google.gwt.user.client.ui.SimplePanel;
import com.google.gwt.user.client.ui.VerticalPanel;
import com.google.gwt.user.client.ui.Widget;

/**
 * @author nikotsunami
 *
 */
public class OsMaShell extends Composite  {
	

	private static OsceShellUiBinder uiBinder = GWT
			.create(OsceShellUiBinder.class);

	interface OsceShellUiBinder extends UiBinder<Widget, OsMaShell> {
	}

	/**
	 * Because this class has a default constructor, it can
	 * be used as a binder template. In other words, it can be used in other
	 * *.ui.xml files as follows:
	 * <ui:UiBinder xmlns:ui="urn:ui:com.google.gwt.uibinder"
	 *   xmlns:g="urn:import:**user's package**">
	 *  <g:**UserClassName**>Hello!</g:**UserClassName>
	 * </ui:UiBinder>
	 * Note that depending on the widget that is used, it may be necessary to
	 * implement HasHTML instead of HasText.
	 */
	
//	@UiField
//	DockLayoutPanel dockPanel;
	
	@UiField
	VerticalPanel dockPanel;
	
	@UiField
	SimplePanel menuContainer;
	
	public OsMaShell() {
		initWidget(uiBinder.createAndBindUi(this));
		menuContainer.addStyleName("menuOpenContainer");
//		DOM.setElementAttribute(dockPanel.getElement(), "style", "position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px;");
	}

	
	
//	@UiField
//	SimplePanel details;
//	@UiField
//	DivElement error;
//	@UiField
//	LoginWidget loginWidget;
	@UiField
	SimplePanel master;
//	@UiField
//	NotificationMole mole;
	@UiField
	SimplePanel headerPanel;
	
	/**
	 * 
	 * @return panel with language selector, login/logout-button, breadcrumb navigation
	 */
	public SimplePanel getHeaderPanel() {
		return headerPanel;
	}
	
//	/**
//	 * @return the panel to hold the details
//	 */
//	public SimplePanel getDetailsPanel() {
//		return details;
//	}

//	/**
//	 * @return the login widget
//	 */
//	public LoginWidget getLoginWidget() {
//		return loginWidget;
//	}

	/**
	 * @return the panel to hold the master list
	 */
	public SimplePanel getMainPanel() {
		return master;
	}

//	/**
//	 * @return the notification mole for loading feedback
//	 */
//	public NotificationMole getMole() {
//		return mole;
//	}
	
	@UiField //(provided = true)
	SimplePanel mainNav;

	public void setNavigation(OsMaMainNav nav) {
		mainNav.add(nav);
		
	}

	public void setHeader(OsMaHeader header) {
		headerPanel.add(header);
	}
}
=======
/**
 * 
 */
package ch.unibas.medizin.osce.client.a_nonroo.client;

		return mole;
import com.google.gwt.core.client.GWT;
import com.google.gwt.uibinder.client.UiBinder;
import com.google.gwt.uibinder.client.UiField;
import com.google.gwt.user.client.DOM;
import com.google.gwt.user.client.Window;
import com.google.gwt.user.client.ui.Composite;
import com.google.gwt.user.client.ui.DockLayoutPanel;
import com.google.gwt.user.client.ui.NotificationMole;
import com.google.gwt.user.client.ui.ScrollPanel;
import com.google.gwt.user.client.ui.SimplePanel;
import com.google.gwt.user.client.ui.VerticalPanel;
import com.google.gwt.user.client.ui.Widget;

/**
 * @author nikotsunami
 *
 */
public class OsMaShell extends Composite  {
	

	private static OsceShellUiBinder uiBinder = GWT
			.create(OsceShellUiBinder.class);

	interface OsceShellUiBinder extends UiBinder<Widget, OsMaShell> {
	}

	/**
	 * Because this class has a default constructor, it can
	 * be used as a binder template. In other words, it can be used in other
	 * *.ui.xml files as follows:
	 * <ui:UiBinder xmlns:ui="urn:ui:com.google.gwt.uibinder"
	 *   xmlns:g="urn:import:**user's package**">
	 *  <g:**UserClassName**>Hello!</g:**UserClassName>
	 * </ui:UiBinder>
	 * Note that depending on the widget that is used, it may be necessary to
	 * implement HasHTML instead of HasText.
	 */
	
//	@UiField
//	DockLayoutPanel dockPanel;
	
	@UiField
	ScrollPanel scrollPanel;
	
	@UiField
	VerticalPanel dockPanel;
	
	@UiField
	SimplePanel menuContainer;
	
	public OsMaShell() {
		initWidget(uiBinder.createAndBindUi(this));
		int height = ResolutionSettings.getRightWidgetHeight();
		int width = ResolutionSettings.getRightWidgetWidth() - 50;
		menuContainer.addStyleName("menuOpenContainer");
		master.setHeight(height+"px");
		master.setWidth(width+"px");
		scrollPanel.setWidth((ResolutionSettings.getMainContainerWidth()+10)+"px");
		dockPanel.setWidth((ResolutionSettings.getMainContainerWidth()+10)+"px");
//		DOM.setElementAttribute(dockPanel.getElement(), "style", "position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px;");
	}

	
	
//	@UiField
//	SimplePanel details;
//	@UiField
//	DivElement error;
//	@UiField
//	LoginWidget loginWidget;
	@UiField
	SimplePanel master;
	@UiField
	NotificationMole mole;
	@UiField
	SimplePanel headerPanel;
	
	/**
	 * 
	 * @return panel with language selector, login/logout-button, breadcrumb navigation
	 */
	public SimplePanel getHeaderPanel() {
		return headerPanel;
	}
	
//	/**
//	 * @return the panel to hold the details
//	 */
//	public SimplePanel getDetailsPanel() {
//		return details;
//	}

//	/**
//	 * @return the login widget
//	 */
//	public LoginWidget getLoginWidget() {
//		return loginWidget;
//	}

	/**
	 * @return the panel to hold the master list
	 */
	public SimplePanel getMainPanel() {
		return master;
	}

	/**
	 * @return the notification mole for loading feedback
	 */
	public NotificationMole getMole() {
	}
	
	@UiField //(provided = true)
	SimplePanel mainNav;

	public void setNavigation(OsMaMainNav nav) {
		mainNav.add(nav);
		
	}

	public void setHeader(OsMaHeader header) {
		headerPanel.add(header);
	}
}
>>>>>>> 8c040cc074bab090d23aa6249d309f35237ab504</pre></td>
                        </tr>

                    </tbody>
                </table>

                <table id="tableSolution" class="table table-hover table-mc-light-blue">
                    <thead>
                        <tr>
                            <th>Solution content</th>
                            
                        </tr>
                    </thead>
                    <tbody>

<tr>
                            <td data-title="SolutionContent"><pre>/**
 * 
 */
package ch.unibas.medizin.osce.client.a_nonroo.client;

import com.google.gwt.core.client.GWT;
import com.google.gwt.uibinder.client.UiBinder;
import com.google.gwt.uibinder.client.UiField;
import com.google.gwt.user.client.DOM;
import com.google.gwt.user.client.Window;
import com.google.gwt.user.client.ui.Composite;
import com.google.gwt.user.client.ui.DockLayoutPanel;
//import com.google.gwt.user.client.ui.NotificationMole;
import com.google.gwt.user.client.ui.ScrollPanel;
import com.google.gwt.user.client.ui.SimplePanel;
import com.google.gwt.user.client.ui.VerticalPanel;
import com.google.gwt.user.client.ui.Widget;

/**
 * @author nikotsunami
 *
 */
public class OsMaShell extends Composite  {
	

	private static OsceShellUiBinder uiBinder = GWT
			.create(OsceShellUiBinder.class);

	interface OsceShellUiBinder extends UiBinder<Widget, OsMaShell> {
	}

	/**
	 * Because this class has a default constructor, it can
	 * be used as a binder template. In other words, it can be used in other
	 * *.ui.xml files as follows:
	 * <ui:UiBinder xmlns:ui="urn:ui:com.google.gwt.uibinder"
	 *   xmlns:g="urn:import:**user's package**">
	 *  <g:**UserClassName**>Hello!</g:**UserClassName>
	 * </ui:UiBinder>
	 * Note that depending on the widget that is used, it may be necessary to
	 * implement HasHTML instead of HasText.
	 */
	
//	@UiField
//	DockLayoutPanel dockPanel;
	
//	@UiField
//	ScrollPanel scrollPanel;
	
	@UiField
	VerticalPanel dockPanel;
	
	@UiField
	SimplePanel menuContainer;
	
	public OsMaShell() {
		initWidget(uiBinder.createAndBindUi(this));
		int height = ResolutionSettings.getRightWidgetHeight();
		int width = ResolutionSettings.getRightWidgetWidth() - 50;
		menuContainer.addStyleName("menuOpenContainer");
		master.setHeight(height+"px");
		master.setWidth(width+"px");
//		scrollPanel.setWidth((ResolutionSettings.getMainContainerWidth()+10)+"px");
		dockPanel.setWidth((ResolutionSettings.getMainContainerWidth()+10)+"px");
//		DOM.setElementAttribute(dockPanel.getElement(), "style", "position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px;");
	}

	
	
//	@UiField
//	SimplePanel details;
//	@UiField
//	DivElement error;
//	@UiField
//	LoginWidget loginWidget;
	@UiField
	SimplePanel master;
//	@UiField
//	NotificationMole mole;
	@UiField
	SimplePanel headerPanel;
	
	/**
	 * 
	 * @return panel with language selector, login/logout-button, breadcrumb navigation
	 */
	public SimplePanel getHeaderPanel() {
		return headerPanel;
	}
	
//	/**
//	 * @return the panel to hold the details
//	 */
//	public SimplePanel getDetailsPanel() {
//		return details;
//	}

//	/**
//	 * @return the login widget
//	 */
//	public LoginWidget getLoginWidget() {
//		return loginWidget;
//	}

	/**
	 * @return the panel to hold the master list
	 */
	public SimplePanel getMainPanel() {
		return master;
	}

	/**
	 * @return the notification mole for loading feedback
	 */
//	public NotificationMole getMole() {
//		return mole;
//	}
	
	@UiField //(provided = true)
	SimplePanel mainNav;

	public void setNavigation(OsMaMainNav nav) {
		mainNav.add(nav);
		
	}

	public void setHeader(OsMaHeader header) {
		headerPanel.add(header);
	}
}</pre></td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
<div class="table-responsive-vertical shadow-z-1" style="width: 17.5%; float: right; position: relative;">
        
            <table id="tableFileName" class="table table-hover table-mc-light-blue">
                <thead>
                    <tr>
                        <th>File</th>                            
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td data-title="FileName">OsMaShell.java</td>
                    </tr>
                </tbody>
            </table>
            <table id="tableDeveloperDecision" class="table table-hover table-mc-light-blue">
                <thead>
                    <tr>
                        <th>Developer's decision</th>                            
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td data-title="DeveloperDecision">Manual</td>
                    </tr>
                </tbody>
            </table>

            <table id="tableKindConflict" class="table table-hover table-mc-light-blue">
                <thead>
                    <tr>
                        <th>Kind of conflict</th>                            
                    </tr>
                </thead>
                <tbody>

                    <tr>
                        <td data-title="KindConflict">Class declaration</td>
                    </tr>

                    <tr>
                        <td data-title="KindConflict"> Comment</td>
                    </tr>

                    <tr>
                        <td data-title="KindConflict"> Import</td>
                    </tr>

                    <tr>
                        <td data-title="KindConflict"> Package declaration</td>
                    </tr>

                </tbody>
            </table>
        </div>
            <div class="table-responsive-vertical shadow-z-1">
                <table id="table" class="table table-hover table-mc-light-blue">
                    <thead>
                        <tr>
                            <th>Chunk</th>
                        </tr>
                    </thead>

                </table>
        <div>
<div class="table-responsive-vertical shadow-z-1" style="width: 80%; float: left; position: relative;">
                <!-- Table starts here -->
                <table id="tableConflict" class="table table-hover table-mc-light-blue">
                    <thead>
                        <tr>
                            <th>Conflicting content</th>
                            
                        </tr>
                    </thead>
                    <tbody>

                        <tr>
                            <td data-title="ConflictingContent"><pre>							
							Iterator<OsceDayProxy> osceDayIterator=((OsceProxy)response).getOsce_days().iterator();
							Log.info("number of Osce Day :" + ((OsceProxy)response).getOsce_days().size());
<<<<<<< HEAD
							while(osceDayIterator.hasNext()) {
=======
							//changes for osce day Label
							int dayvalue=1;
							//changes for osce day Label
							while(osceDayIterator.hasNext())
							{
>>>>>>> 8c040cc074bab090d23aa6249d309f35237ab504
								OsceDayProxy osceDayProxy=osceDayIterator.next();
								OsceGenerateSubView generateView=createGenerateView((OsceDayProxy)osceDayProxy);
								</pre></td>
                        </tr>

                    </tbody>
                </table>

                <table id="tableSolution" class="table table-hover table-mc-light-blue">
                    <thead>
                        <tr>
                            <th>Solution content</th>
                            
                        </tr>
                    </thead>
                    <tbody>

<tr>
                            <td data-title="SolutionContent"><pre>							
							Iterator<OsceDayProxy> osceDayIterator=((OsceProxy)response).getOsce_days().iterator();
							Log.info("number of Osce Day :" + ((OsceProxy)response).getOsce_days().size());
							//changes for osce day Label
							int dayvalue=1;
							//changes for osce day Label
							while(osceDayIterator.hasNext()) {
								OsceDayProxy osceDayProxy=osceDayIterator.next();
								OsceGenerateSubView generateView=createGenerateView((OsceDayProxy)osceDayProxy);
								</pre></td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
<div class="table-responsive-vertical shadow-z-1" style="width: 17.5%; float: right; position: relative;">
        
            <table id="tableFileName" class="table table-hover table-mc-light-blue">
                <thead>
                    <tr>
                        <th>File</th>                            
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td data-title="FileName">CircuitDetailsActivity.java</td>
                    </tr>
                </tbody>
            </table>
            <table id="tableDeveloperDecision" class="table table-hover table-mc-light-blue">
                <thead>
                    <tr>
                        <th>Developer's decision</th>                            
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td data-title="DeveloperDecision">Version 2</td>
                    </tr>
                </tbody>
            </table>

            <table id="tableKindConflict" class="table table-hover table-mc-light-blue">
                <thead>
                    <tr>
                        <th>Kind of conflict</th>                            
                    </tr>
                </thead>
                <tbody>

                    <tr>
                        <td data-title="KindConflict">Comment</td>
                    </tr>

                    <tr>
                        <td data-title="KindConflict"> Variable</td>
                    </tr>

                    <tr>
                        <td data-title="KindConflict"> While statement</td>
                    </tr>

                </tbody>
            </table>
        </div>
            <div class="table-responsive-vertical shadow-z-1">
                <table id="table" class="table table-hover table-mc-light-blue">
                    <thead>
                        <tr>
                            <th>Chunk</th>
                        </tr>
                    </thead>

                </table>
        <div>
<div class="table-responsive-vertical shadow-z-1" style="width: 80%; float: left; position: relative;">
                <!-- Table starts here -->
                <table id="tableConflict" class="table table-hover table-mc-light-blue">
                    <thead>
                        <tr>
                            <th>Conflicting content</th>
                            
                        </tr>
                    </thead>
                    <tbody>

                        <tr>
                            <td data-title="ConflictingContent"><pre>									sequenceOsceSubViewImpl.nameOfSequence.setText(((osceSeqProxy.getLabel()==null) 
											? constants.circuitUnnamedSequence() : osceSeqProxy.getLabel()));
										
<<<<<<< HEAD
									//Module 5 Bug Report Solution
									//sequenceOsceSubViewImpl.sequenceRotation.setText(osceSeqProxy.getNumberRotation()==null?"":osceSeqProxy.getNumberRotation().toString());
									sequenceOsceSubViewImpl.getSequenceRotationLable().setText(osceSeqProxy.getNumberRotation()==null?"":osceSeqProxy.getNumberRotation().toString());
									//E Module 5 Bug Report Solution

									// Module 5 bug Report Change
                                    //sequenceOsceSubViewImpl.sequenceRotation.setAcceptableValues(Arrays.asList(OsceSequences.values()));
									//sequenceOsceSubViewImpl.sequenceRotation.setValue(OsceSequences.OSCE_SEQUENCES_A);
									// E Module 5 bug Report Change
									
									sequenceOsceSubViewImpl.osceSequenceProxy=osceSeqProxy;
									sequenceOsceSubViewImpl.osceDayProxy=osceDayProxy;
=======
										//Module 5 Bug Report Solution
										//sequenceOsceSubViewImpl.sequenceRotation.setText(osceSeqProxy.getNumberRotation()==null?"":osceSeqProxy.getNumberRotation().toString());
										sequenceOsceSubViewImpl.getSequenceRotationLable().setText(osceSeqProxy.getNumberRotation()==null?"":osceSeqProxy.getNumberRotation().toString());
										//E Module 5 Bug Report Solution

										// Module 5 bug Report Change
                                                                                 //sequenceOsceSubViewImpl.sequenceRotation.setAcceptableValues(Arrays.asList(OsceSequences.values()));
										//sequenceOsceSubViewImpl.sequenceRotation.setValue(OsceSequences.OSCE_SEQUENCES_A);
										// E Module 5 bug Report Change
										
										sequenceOsceSubViewImpl.osceSequenceProxy=osceSeqProxy;
										sequenceOsceSubViewImpl.osceDayProxy=osceDayProxy;
										
										//spec issue sol
										sequenceOsceSubViewImpl1.add(sequenceOsceSubViewImpl);
										
										
>>>>>>> 8c040cc074bab090d23aa6249d309f35237ab504
									//	addClickHandler(sequenceOsceSubViewImpl);
									//sequenceOsceSubViewImpl.setStyleName(status.getOsceStatus(OsceStatus.OSCE_GENRATED));
									accordingHp.add(sequenceOsceSubViewImpl);</pre></td>
                        </tr>

                    </tbody>
                </table>

                <table id="tableSolution" class="table table-hover table-mc-light-blue">
                    <thead>
                        <tr>
                            <th>Solution content</th>
                            
                        </tr>
                    </thead>
                    <tbody>

<tr>
                            <td data-title="SolutionContent"><pre>									sequenceOsceSubViewImpl.nameOfSequence.setText(((osceSeqProxy.getLabel()==null) 
											? constants.circuitUnnamedSequence() : osceSeqProxy.getLabel()));
									
									//Module 5 Bug Report Solution
									//sequenceOsceSubViewImpl.sequenceRotation.setText(osceSeqProxy.getNumberRotation()==null?"":osceSeqProxy.getNumberRotation().toString());
									sequenceOsceSubViewImpl.getSequenceRotationLable().setText(osceSeqProxy.getNumberRotation()==null?"":osceSeqProxy.getNumberRotation().toString());
									//E Module 5 Bug Report Solution

									// Module 5 bug Report Change
                                                                        //sequenceOsceSubViewImpl.sequenceRotation.setAcceptableValues(Arrays.asList(OsceSequences.values()));
									//sequenceOsceSubViewImpl.sequenceRotation.setValue(OsceSequences.OSCE_SEQUENCES_A);
									// E Module 5 bug Report Change
								
									sequenceOsceSubViewImpl.osceSequenceProxy=osceSeqProxy;
									sequenceOsceSubViewImpl.osceDayProxy=osceDayProxy;
									
									//spec issue sol
									sequenceOsceSubViewImpl1.add(sequenceOsceSubViewImpl);
									
									
									//	addClickHandler(sequenceOsceSubViewImpl);
									//sequenceOsceSubViewImpl.setStyleName(status.getOsceStatus(OsceStatus.OSCE_GENRATED));
									accordingHp.add(sequenceOsceSubViewImpl);</pre></td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
<div class="table-responsive-vertical shadow-z-1" style="width: 17.5%; float: right; position: relative;">
        
            <table id="tableFileName" class="table table-hover table-mc-light-blue">
                <thead>
                    <tr>
                        <th>File</th>                            
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td data-title="FileName">CircuitDetailsActivity.java</td>
                    </tr>
                </tbody>
            </table>
            <table id="tableDeveloperDecision" class="table table-hover table-mc-light-blue">
                <thead>
                    <tr>
                        <th>Developer's decision</th>                            
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td data-title="DeveloperDecision">Version 2</td>
                    </tr>
                </tbody>
            </table>

            <table id="tableKindConflict" class="table table-hover table-mc-light-blue">
                <thead>
                    <tr>
                        <th>Kind of conflict</th>                            
                    </tr>
                </thead>
                <tbody>

                    <tr>
                        <td data-title="KindConflict">Attribute</td>
                    </tr>

                    <tr>
                        <td data-title="KindConflict"> Comment</td>
                    </tr>

                    <tr>
                        <td data-title="KindConflict"> Method invocation</td>
                    </tr>

                    <tr>
                        <td data-title="KindConflict"> Variable</td>
                    </tr>

                </tbody>
            </table>
        </div>
            <div class="table-responsive-vertical shadow-z-1">
                <table id="table" class="table table-hover table-mc-light-blue">
                    <thead>
                        <tr>
                            <th>Chunk</th>
                        </tr>
                    </thead>

                </table>
        <div>
<div class="table-responsive-vertical shadow-z-1" style="width: 80%; float: left; position: relative;">
                <!-- Table starts here -->
                <table id="tableConflict" class="table table-hover table-mc-light-blue">
                    <thead>
                        <tr>
                            <th>Conflicting content</th>
                            
                        </tr>
                    </thead>
                    <tbody>

                        <tr>
                            <td data-title="ConflictingContent"><pre>									accordingHp.setSpacing(20);
									generateView.getAccordianVP().insert(accordingHp, generateView.getAccordianVP().getWidgetCount());
									
<<<<<<< HEAD
									//Module 5 Bug Report Solution	
									/*ScrollPanel mainSP=new ScrollPanel(generateView.getAccordianVP());
									mainSP.setWidth("720px");*/
									//E Module 5 Bug Report Solution
=======
										//Module 5 Bug Report Solution	
										/*ScrollPanel mainSP=new ScrollPanel(generateView.getAccordianVP());
										mainSP.setWidth("720px");*/
										//E Module 5 Bug Report Solution
										
										
>>>>>>> 8c040cc074bab090d23aa6249d309f35237ab504
									
								}
								</pre></td>
                        </tr>

                    </tbody>
                </table>

                <table id="tableSolution" class="table table-hover table-mc-light-blue">
                    <thead>
                        <tr>
                            <th>Solution content</th>
                            
                        </tr>
                    </thead>
                    <tbody>

<tr>
                            <td data-title="SolutionContent"><pre>									accordingHp.setSpacing(20);
									generateView.getAccordianVP().insert(accordingHp, generateView.getAccordianVP().getWidgetCount());
									
									//Module 5 Bug Report Solution	
									/*ScrollPanel mainSP=new ScrollPanel(generateView.getAccordianVP());
									mainSP.setWidth("720px");*/
									//E Module 5 Bug Report Solution
								}
								</pre></td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
<div class="table-responsive-vertical shadow-z-1" style="width: 17.5%; float: right; position: relative;">
        
            <table id="tableFileName" class="table table-hover table-mc-light-blue">
                <thead>
                    <tr>
                        <th>File</th>                            
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td data-title="FileName">CircuitDetailsActivity.java</td>
                    </tr>
                </tbody>
            </table>
            <table id="tableDeveloperDecision" class="table table-hover table-mc-light-blue">
                <thead>
                    <tr>
                        <th>Developer's decision</th>                            
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td data-title="DeveloperDecision">Version 1</td>
                    </tr>
                </tbody>
            </table>

            <table id="tableKindConflict" class="table table-hover table-mc-light-blue">
                <thead>
                    <tr>
                        <th>Kind of conflict</th>                            
                    </tr>
                </thead>
                <tbody>

                    <tr>
                        <td data-title="KindConflict">Comment</td>
                    </tr>

                </tbody>
            </table>
        </div>
            <div class="table-responsive-vertical shadow-z-1">
                <table id="table" class="table table-hover table-mc-light-blue">
                    <thead>
                        <tr>
                            <th>Chunk</th>
                        </tr>
                    </thead>

                </table>
        <div>
<div class="table-responsive-vertical shadow-z-1" style="width: 80%; float: left; position: relative;">
                <!-- Table starts here -->
                <table id="tableConflict" class="table table-hover table-mc-light-blue">
                    <thead>
                        <tr>
                            <th>Conflicting content</th>
                            
                        </tr>
                    </thead>
                    <tbody>

                        <tr>
                            <td data-title="ConflictingContent"><pre>						if(osceDayViewImpl.dateTextBox.getValue()==null){
							// Module 5 bug Report Change
							//Window.alert("Data must not empty");
<<<<<<< HEAD
							MessageConfirmationDialogBox dateDialog=new MessageConfirmationDialogBox(constants.warning());
							dateDialog.showConfirmationDialog(constants.warningDateEmpty());
							// Module 5 bug Report Change		
=======
>>>>>>> 8c040cc074bab090d23aa6249d309f35237ab504
							
							return;
						}</pre></td>
                        </tr>

                    </tbody>
                </table>

                <table id="tableSolution" class="table table-hover table-mc-light-blue">
                    <thead>
                        <tr>
                            <th>Solution content</th>
                            
                        </tr>
                    </thead>
                    <tbody>

<tr>
                            <td data-title="SolutionContent"><pre>						if(osceDayViewImpl.dateTextBox.getValue()==null){
							// Module 5 bug Report Change
							//Window.alert("Data must not empty");
							//MessageConfirmationDialogBox dateDialog=new MessageConfirmationDialogBox(constants.warning());
							//dateDialog.showConfirmationDialog(constants.warningDateEmpty());
							// Module 5 bug Report Change		
							
							return;
						}</pre></td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
<div class="table-responsive-vertical shadow-z-1" style="width: 17.5%; float: right; position: relative;">
        
            <table id="tableFileName" class="table table-hover table-mc-light-blue">
                <thead>
                    <tr>
                        <th>File</th>                            
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td data-title="FileName">CircuitDetailsActivity.java</td>
                    </tr>
                </tbody>
            </table>
            <table id="tableDeveloperDecision" class="table table-hover table-mc-light-blue">
                <thead>
                    <tr>
                        <th>Developer's decision</th>                            
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td data-title="DeveloperDecision">Manual</td>
                    </tr>
                </tbody>
            </table>

            <table id="tableKindConflict" class="table table-hover table-mc-light-blue">
                <thead>
                    <tr>
                        <th>Kind of conflict</th>                            
                    </tr>
                </thead>
                <tbody>

                    <tr>
                        <td data-title="KindConflict">Comment</td>
                    </tr>

                    <tr>
                        <td data-title="KindConflict"> Method invocation</td>
                    </tr>

                    <tr>
                        <td data-title="KindConflict"> Variable</td>
                    </tr>

                </tbody>
            </table>
        </div>
            <div class="table-responsive-vertical shadow-z-1">
                <table id="table" class="table table-hover table-mc-light-blue">
                    <thead>
                        <tr>
                            <th>Chunk</th>
                        </tr>
                    </thead>

                </table>
        <div>
<div class="table-responsive-vertical shadow-z-1" style="width: 80%; float: left; position: relative;">
                <!-- Table starts here -->
                <table id="tableConflict" class="table table-hover table-mc-light-blue">
                    <thead>
                        <tr>
                            <th>Conflicting content</th>
                            
                        </tr>
                    </thead>
                    <tbody>

                        <tr>
                            <td data-title="ConflictingContent"><pre>					requests.oscePostRequest().findOscePost(oscePostSubViewImpl.getOscePostProxy().getId()).with("osceSequence").fire(new OSCEReceiver<OscePostProxy>() {

						@Override
<<<<<<< HEAD
						public void onSuccess(OscePostRoomProxy response) 
						{
							Log.info("Osce Post Room Proxy: " + response.getId());
							OscePostRoomRequest oscePostRoomRequest=requests.oscePostRoomRequest();
							response=oscePostRoomRequest.edit(response);
							response.setRoom(roomProxy);
							oscePostRoomRequest.persist().using(response).fire(new OSCEReceiver<Void>() {

								@Override
								public void onSuccess(Void response) 
								{
									Log.info("Success saveOscePostRoom ");
									MessageConfirmationDialogBox dialog=new MessageConfirmationDialogBox(constants.success());
									dialog.showConfirmationDialog(constants.confirmationRoomAssigned());
								}
							});
=======
						public void onSuccess(OscePostProxy oscePostResult) {
>>>>>>> 8c040cc074bab090d23aa6249d309f35237ab504
							
									requests.oscePostRoomRequestNonRoo().findOscePostRoomByRoom(oscePostResult.getOsceSequence().getId(),roomProxy.getId()).fire(new OSCEReceiver<Integer>() {
</pre></td>
                        </tr>

                    </tbody>
                </table>

                <table id="tableSolution" class="table table-hover table-mc-light-blue">
                    <thead>
                        <tr>
                            <th>Solution content</th>
                            
                        </tr>
                    </thead>
                    <tbody>

<tr>
                            <td data-title="SolutionContent"><pre>					requests.oscePostRequest().findOscePost(oscePostSubViewImpl.getOscePostProxy().getId()).with("osceSequence").fire(new OSCEReceiver<OscePostProxy>() {

						@Override
						public void onSuccess(OscePostProxy oscePostResult) {
							
									requests.oscePostRoomRequestNonRoo().findOscePostRoomByRoom(oscePostResult.getOsceSequence().getId(),roomProxy.getId()).fire(new OSCEReceiver<Integer>() {
</pre></td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
<div class="table-responsive-vertical shadow-z-1" style="width: 17.5%; float: right; position: relative;">
        
            <table id="tableFileName" class="table table-hover table-mc-light-blue">
                <thead>
                    <tr>
                        <th>File</th>                            
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td data-title="FileName">CircuitDetailsActivity.java</td>
                    </tr>
                </tbody>
            </table>
            <table id="tableDeveloperDecision" class="table table-hover table-mc-light-blue">
                <thead>
                    <tr>
                        <th>Developer's decision</th>                            
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td data-title="DeveloperDecision">Version 2</td>
                    </tr>
                </tbody>
            </table>

            <table id="tableKindConflict" class="table table-hover table-mc-light-blue">
                <thead>
                    <tr>
                        <th>Kind of conflict</th>                            
                    </tr>
                </thead>
                <tbody>

                    <tr>
                        <td data-title="KindConflict">Method invocation</td>
                    </tr>

                    <tr>
                        <td data-title="KindConflict"> Method signature</td>
                    </tr>

                    <tr>
                        <td data-title="KindConflict"> Variable</td>
                    </tr>

                </tbody>
            </table>
        </div>
            <div class="table-responsive-vertical shadow-z-1">
                <table id="table" class="table table-hover table-mc-light-blue">
                    <thead>
                        <tr>
                            <th>Chunk</th>
                        </tr>
                    </thead>

                </table>
        <div>
<div class="table-responsive-vertical shadow-z-1" style="width: 80%; float: left; position: relative;">
                <!-- Table starts here -->
                <table id="tableConflict" class="table table-hover table-mc-light-blue">
                    <thead>
                        <tr>
                            <th>Conflicting content</th>
                            
                        </tr>
                    </thead>
                    <tbody>

                        <tr>
                            <td data-title="ConflictingContent"><pre>
	public void init() {
		
<<<<<<< HEAD
		int marginLeft = (OsMaMainNav.getMenuStatus() == 0) ? 20 : 0;
		int navWidth = (OsMaMainNav.getMenuStatus() == 0) ? (225 - 180) : 225;
		int width = Window.getClientWidth() - navWidth - 20;
		int height = Window.getClientHeight() - 40;
		circuitTabPanel.setWidth("" + width + "px");
//		mainHTMLPanel.getElement().setAttribute("style", "margin-left: "+marginLeft+"px; width : "+width+"px;height : 900px;");
		mainHTMLPanel.getElement().setAttribute("style", "height: " + height + "position: absolute; left: " + navWidth + "px; top: 30px; right: 5px; bottom: 0px");
=======
		int marginLeft = ResolutionSettings.getRightWidgetMarginLeft();
		int width = ResolutionSettings.getRightWidgetWidth();
		int height = ResolutionSettings.getRightWidgetHeight();
		Log.info("height =============\\\\\\"+height);
		Log.info("width =============\\\\\\"+width);
		Log.info("DockMenuSettings.getRightWidgetWidth()  == = = =" + ResolutionSettings.getRightWidgetWidth());
		mainHTMLPanel.getElement().setAttribute("style", "margin-left: "+marginLeft+"px; width : "+width+"px;height : "+height+"px;");
		
		circuitTabPanel.setHeight(height+"px");
>>>>>>> 8c040cc074bab090d23aa6249d309f35237ab504
		
	}
</pre></td>
                        </tr>

                    </tbody>
                </table>

                <table id="tableSolution" class="table table-hover table-mc-light-blue">
                    <thead>
                        <tr>
                            <th>Solution content</th>
                            
                        </tr>
                    </thead>
                    <tbody>

<tr>
                            <td data-title="SolutionContent"><pre>
	public void init() {
		
//		int marginLeft = (OsMaMainNav.getMenuStatus() == 0) ? 20 : 0;
//		int navWidth = (OsMaMainNav.getMenuStatus() == 0) ? (225 - 180) : 225;
//		int width = Window.getClientWidth() - navWidth - 20;
//		int height = Window.getClientHeight() - 40;
//		circuitTabPanel.setWidth("" + width + "px");
//		mainHTMLPanel.getElement().setAttribute("style", "margin-left: "+marginLeft+"px; width : "+width+"px;height : 900px;");
//		mainHTMLPanel.getElement().setAttribute("style", "height: " + height + "position: absolute; left: " + navWidth + "px; top: 30px; right: 5px; bottom: 0px");
		int marginLeft = ResolutionSettings.getRightWidgetMarginLeft();
		int width = ResolutionSettings.getRightWidgetWidth();
		int height = ResolutionSettings.getRightWidgetHeight();
		Log.info("height =============\\\\\\"+height);
		Log.info("width =============\\\\\\"+width);
		Log.info("DockMenuSettings.getRightWidgetWidth()  == = = =" + ResolutionSettings.getRightWidgetWidth());
		mainHTMLPanel.getElement().setAttribute("style", "margin-left: "+marginLeft+"px; width : "+width+"px;height : "+height+"px;");
		
		circuitTabPanel.setHeight(height+"px");
	}
</pre></td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
<div class="table-responsive-vertical shadow-z-1" style="width: 17.5%; float: right; position: relative;">
        
            <table id="tableFileName" class="table table-hover table-mc-light-blue">
                <thead>
                    <tr>
                        <th>File</th>                            
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td data-title="FileName">CircuitViewImpl.java</td>
                    </tr>
                </tbody>
            </table>
            <table id="tableDeveloperDecision" class="table table-hover table-mc-light-blue">
                <thead>
                    <tr>
                        <th>Developer's decision</th>                            
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td data-title="DeveloperDecision">Manual</td>
                    </tr>
                </tbody>
            </table>

            <table id="tableKindConflict" class="table table-hover table-mc-light-blue">
                <thead>
                    <tr>
                        <th>Kind of conflict</th>                            
                    </tr>
                </thead>
                <tbody>

                    <tr>
                        <td data-title="KindConflict">Comment</td>
                    </tr>

                    <tr>
                        <td data-title="KindConflict"> Method invocation</td>
                    </tr>

                    <tr>
                        <td data-title="KindConflict"> Variable</td>
                    </tr>

                </tbody>
            </table>
        </div>
            <div class="table-responsive-vertical shadow-z-1">
                <table id="table" class="table table-hover table-mc-light-blue">
                    <thead>
                        <tr>
                            <th>Chunk</th>
                        </tr>
                    </thead>

                </table>
        <div>
<div class="table-responsive-vertical shadow-z-1" style="width: 80%; float: left; position: relative;">
                <!-- Table starts here -->
                <table id="tableConflict" class="table table-hover table-mc-light-blue">
                    <thead>
                        <tr>
                            <th>Conflicting content</th>
                            
                        </tr>
                    </thead>
                    <tbody>

                        <tr>
                            <td data-title="ConflictingContent"><pre>	
	public void setLabels()
	{
<<<<<<< HEAD
		dayLabel.setText(constants.circuitDay());
		presentsLabel.setText(constants.circuitTimes());
		
		dateLabel.setText(constants.circuitDate() + ":");
		startTimeLable.setText(constants.circuitStart() + ":");
		endTimeLable.setText(constants.circuitEnd() + ":");
		
		calculationsLabel.setText(constants.circuitCalculations());
		lunchBreakLabel.setText(constants.circuitLunchBreak());
		
		// Module 5 bug Report Change
		lunchBreakStartLabel.setText(constants.circuitLunchBreakStart());
		// E Module 5 bug Report Change
		
		lbEndTimeLabel.setText(constants.circuitEndTime());
		studentsLabel.setText(constants.students());
=======
		dayLabel.setText(constants.day());
		presentsLabel.setText(constants.presents());
		dateLabel.setText(constants.date());
		startTimeLable.setText(constants.starttime());
		endTimeLable.setText(constants.endtime());
		calculationsLabel.setText(constants.calculation());
		
		
		// Module 5 bug Report Change
		
		// E Module 5 bug Report Change
		
		/*bug report start*/
		dateContentLabel.setText(constants.date());
		lunchBreakStartLabel.setText(constants.starttime());
		lunchBreakEndTimeLabel.setText(constants.lbendtime());
		lunchBreakLabel.setText(constants.lunchbreak());
>>>>>>> 8c040cc074bab090d23aa6249d309f35237ab504
		saveOsceDayValue.setText(constants.save());
			btnShiftLunchBreakNext.setText(constants.shiftLunchBreakNext());
		btnShiftLunchBreakPrev.setText(constants.ShiftLunchBreakPrev());</pre></td>
                        </tr>

                    </tbody>
                </table>

                <table id="tableSolution" class="table table-hover table-mc-light-blue">
                    <thead>
                        <tr>
                            <th>Solution content</th>
                            
                        </tr>
                    </thead>
                    <tbody>

<tr>
                            <td data-title="SolutionContent"><pre>package ch.unibas.medizin.osce.client.a_nonroo.client.ui.examination;

import java.util.ArrayList;
import java.util.HashMap;
import java.util.HashSet;
import java.util.List;
import java.util.Map;
import java.util.Set;

import ch.unibas.medizin.osce.client.managed.request.OsceDayProxy;
import ch.unibas.medizin.osce.client.managed.request.OsceProxy;
import ch.unibas.medizin.osce.client.style.widgets.IconButton;
import ch.unibas.medizin.osce.shared.OsceStatus;
import ch.unibas.medizin.osce.shared.i18n.OsceConstants;

import com.allen_sauer.gwt.log.client.Log;
import com.google.gwt.core.client.GWT;
import com.google.gwt.event.dom.client.ClickEvent;
import com.google.gwt.i18n.client.DateTimeFormat;
import com.google.gwt.uibinder.client.UiBinder;
import com.google.gwt.uibinder.client.UiField;
import com.google.gwt.uibinder.client.UiHandler;
import com.google.gwt.user.client.ui.Composite;
import com.google.gwt.user.client.ui.HTMLPanel;
import com.google.gwt.user.client.ui.HorizontalPanel;
import com.google.gwt.user.client.ui.Label;
import com.google.gwt.user.client.ui.TextBox;
import com.google.gwt.user.client.ui.VerticalPanel;
import com.google.gwt.user.client.ui.Widget;
import com.google.gwt.user.datepicker.client.DateBox;

/**
 * @author dk
 *
 */
public class OsceDayViewImpl extends Composite implements OsceDayView {

	private static OsceDayViewUiBinder uiBinder = GWT
			.create(OsceDayViewUiBinder.class);

	interface OsceDayViewUiBinder extends UiBinder<Widget, OsceDayViewImpl> {
	}

	private Delegate delegate;

	protected Set<String> paths = new HashSet<String>();

	private Presenter presenter;
	
	private final OsceConstants constants = GWT.create(OsceConstants.class);
	
	private OsceProxy osceProxy;
	private OsceDayProxy osceDayProxy;
	
	private boolean insertflag =true;
	
	public void setInsertFlag(boolean insertFlag){
		this.insertflag=insertFlag;
	}
	
	public boolean getInsertFlag(){
		return this.insertflag;
	}
	
	public void setOsceDayProxy(OsceDayProxy osceday){
		this.osceDayProxy=osceday;
	}
	public OsceDayProxy getOsceDayProxy (){
		return this.osceDayProxy;
	}
	@UiField
	VerticalPanel dayContentVerticalPanel;

	
	
	@UiField
	Label dayLabel;
	
	@UiField
	Label presentsLabel;
	
	@UiField
	Label dateLabel;
	
	@UiField
	public DateBox dateTextBox;
	
	@UiField
	Label startTimeLable;
	
	@UiField
	public TextBox startTimeTextBox;
	
	@UiField
	Label endTimeLable;
	
	@UiField
	public TextBox endTimeTextBox;
	
	@UiField
	Label calculationsLabel;
	
	
	// E Module 5 bug Report Change
	
	/*bug solve start*/
	
	/*@UiField
	Label dateContentLabel;
	
	// Module 5 bug Report Change
	@UiField
	Label lunchBreakStartLabel;
	*/
	
	@UiField
	Label dateContentLabel;
	@UiField
	Label lunchBreakStartLabel;
	@UiField
	Label lunchBreakEndTimeLabel;
	@UiField
	Label lunchBreakLabel;
	
	
	@UiField
	Label dateContentValueLabel;
	@UiField
	Label lunchBreakStartValueLabel;
	@UiField
	Label lunchBreakEndTimeValueLabel;
	@UiField
	Label lunchBreakValueLabel;
	
	/*@UiField
	Label lunchBreakStartValueLabel;*/
	
	/*@UiField
	Label lbEndTimeLabel;
	
	@UiField
	Label studentsLabel;
	*/
	
	/*bug solve end*/
	
	
	@UiField
	IconButton saveOsceDayValue;
	
	//Module 5 Bug Report Solution
	@UiField
	IconButton btnSchedulePostpone;
	@UiField
	IconButton btnScheduleEarlier;
	@UiField
	HTMLPanel mainDayHP;
	@UiField
	HorizontalPanel scheduleHP;	
	@UiField
	VerticalPanel calculationVPanel;
	
	@UiField
	VerticalPanel innerCalculationVPanel;
	
	@UiField
	VerticalPanel presentsVerticlePanel;
	
	@UiField
	VerticalPanel saveVPanel;

	@UiField
	IconButton btnShiftLunchBreakPrev;
	
	@UiField
	IconButton btnShiftLunchBreakNext;
	
	@UiField
	HorizontalPanel lunchBreakHP;
	
	
	//E Module 5 Bug Report Solution
	
	//spec issue sol
	List<SequenceOsceSubViewImpl> sequenceOsceSubViewImplList = new ArrayList<SequenceOsceSubViewImpl>();
	
	@UiHandler("saveOsceDayValue")
	public void saveOsceDayValueClicked(ClickEvent event){
		Log.info("OsceDay Save Button Clicked");
		delegate.saveOsceDayValue(osceDayProxy,insertflag);
	}
	
	//Module 5 Bug Report Solution
	@UiHandler("btnSchedulePostpone")
	public void btnSchedulePostponeClicked(ClickEvent event)
	{
		Log.info("Schedule Postpone Clicked");
		delegate.schedulePostpone(osceDayProxy);
	}
	@UiHandler("btnScheduleEarlier")
	public void btnScheduleEarlierClicked(ClickEvent event)
	{
		Log.info("Schedule Earlier Clicked");
		delegate.scheduleEarlier(osceDayProxy);
	}	
	//E Module 5 Bug Report Solution
	
	/**
	 * Because this class has a default constructor, it can
	 * be used as a binder template. In other words, it can be used in other
	 * *.ui.xml files as follows:
	 * <ui:UiBinder xmlns:ui="urn:ui:com.google.gwt.uibinder"
	 *   xmlns:g="urn:import:**user's package**">
	 *  <g:**UserClassName**>Hello!</g:**UserClassName>
	 * </ui:UiBinder>
	 * Note that depending on the widget that is used, it may be necessary to
	 * implement HasHTML instead of HasText.
	 */
	
		public OsceDayViewImpl() {
		initWidget(uiBinder.createAndBindUi(this));
		setLabels();
		//init();
	}

	public OsceDayViewImpl(OsceProxy osceProxy) {
		this.osceProxy=osceProxy;
		initWidget(uiBinder.createAndBindUi(this));
		setLabels();
		
		//init();
	}
	public String[] getPaths() {
		return paths.toArray(new String[paths.size()]);
	}

	public void init() {
		// TODO implement this!
		Log.info("OsceDay init()");
		
		
			if(osceDayProxy != null){
				insertflag=false;
				System.out.println("Formated Date is :"+DateTimeFormat.getFormat("HH:mm").format(osceDayProxy.getTimeStart()));
				
				
				dateTextBox.setFormat(new DateBox.DefaultFormat(DateTimeFormat.getFormat("MMM dd, yyyy")));
				dateTextBox.setValue(osceDayProxy.getOsceDate());
				Log.info("Formatted Start Time is :" +DateTimeFormat.getFormat("HH:mm").format(osceDayProxy.getTimeStart()).substring(0,5));
				startTimeTextBox.setValue(DateTimeFormat.getFormat("HH:mm").format(osceDayProxy.getTimeStart()).substring(0,5));
				endTimeTextBox.setValue(DateTimeFormat.getFormat("HH:mm").format(osceDayProxy.getTimeEnd()).substring(0,5));
			 }
		
	{
		if(osceProxy != null){
			if(osceProxy.getOsceStatus()==OsceStatus.OSCE_GENRATED){
			dateTextBox.setEnabled(false);
			}
		}
		
	}
	
	// Highlight onViolation
	public Map<String, Widget> osceDayMap;
	// E Highlight onViolation
	
	public void setLabels()
	{
		dayLabel.setText(constants.circuitDay());
		presentsLabel.setText(constants.circuitTimes());
		
		dateLabel.setText(constants.circuitDate() + ":");
		startTimeLable.setText(constants.circuitStart() + ":");
		endTimeLable.setText(constants.circuitEnd() + ":");
		
		calculationsLabel.setText(constants.circuitCalculations());
		lunchBreakLabel.setText(constants.circuitLunchBreak());
		
		// Module 5 bug Report Change
		lunchBreakStartLabel.setText(constants.circuitLunchBreakStart());
		// E Module 5 bug Report Change
		
		//lbEndTimeLabel.setText(constants.circuitEndTime());
		//studentsLabel.setText(constants.students());
		
		dateContentLabel.setText(constants.circuitDate());
		saveOsceDayValue.setText(constants.save());
			btnShiftLunchBreakNext.setText(constants.shiftLunchBreakNext());
		btnShiftLunchBreakPrev.setText(constants.ShiftLunchBreakPrev());


		 ;
		/*bug report end*/
		
		// Highlight onViolation
			osceDayMap=new HashMap<String, Widget>();
			osceDayMap.put("osceDate", dateTextBox);
			osceDayMap.put("timeStart", startTimeTextBox);
			osceDayMap.put("timeEnd", endTimeTextBox);
		// E Highlight onViolation
		
	}

	@Override
	public void setDelegate(Delegate delegate) {
		this.delegate = delegate;
	}

	@Override
	public void setPresenter(Presenter presenter) {
		this.presenter = presenter;
	}	
	
	//Module 5 Bug Report Solution
	public IconButton getSaveOsceDayValueButton()
	{
		return this.saveOsceDayValue;
	}
	public IconButton getSchedulePostponenButton()
	{
		return this.btnSchedulePostpone;
	}
	public IconButton getScheduleEarlierButton()
	{
		return this.btnScheduleEarlier;
	}
	public Label getOsceDayLabel()
	{
		return this.dayLabel;
	}
	public HTMLPanel getMainDayHP()
	{
		return this.mainDayHP;
	}
	public HorizontalPanel getScheduleHP()
	{
		return this.scheduleHP;
	}
	public VerticalPanel getDayContentVerticalPanel()
	{
		return this.dayContentVerticalPanel;
	}
	public VerticalPanel getCalculationVerticalPanel()
	{
		return this.calculationVPanel;
	}
	
	//bus solve start
	public VerticalPanel getInnerCalculationVerticalPanel()
	{
		return this.innerCalculationVPanel;
	}
	
	public VerticalPanel getPresentsVerticlePanel()
	{
		return this.presentsVerticlePanel;
	}
	
	//bug solve end
	
	public VerticalPanel getSaveVerticlePanel()
	{
		return this.saveVPanel;
	}
	
	//bug report start
	public Label getLunchBreakStartValueLabel()
		return this.lunchBreakStartValueLabel;
	}
	
	public Label getDateContentValueLabel()
	{
		return this.dateContentValueLabel;
	}
	
	public Label getLunchBreakValueLabel()
	{
		return this.lunchBreakValueLabel;
	}
	
	public Label getLunchBreakEndTimeValueLabel()
	{
		return this.lunchBreakEndTimeValueLabel;
	}
	
	
	
	
	//bug report end
	//E Module 5 Bug Report Solution

	@UiHandler("btnShiftLunchBreakPrev")
	public void btnShiftLucnkBreakPrevClicked(ClickEvent event)
	{
		delegate.shiftLucnkBreakPrevClicked(this.osceDayProxy, this);
	}
	
	@UiHandler("btnShiftLunchBreakNext")
	public void btnShiftLucnkBreakNextClicked(ClickEvent event)
	{
		System.out.println("SPEC FROM PREVIOUS : " + osceDayProxy.getId());
		delegate.shiftLucnkBreakNextClicked(this.osceDayProxy, this);
	}

	public IconButton getBtnShiftLunchBreakPrev() {
		return btnShiftLunchBreakPrev;
	}

	public void setBtnShiftLunchBreakPrev(IconButton btnShiftLunchBreakPrev) {
		this.btnShiftLunchBreakPrev = btnShiftLunchBreakPrev;
	}

	public IconButton getBtnShiftLunchBreakNext() {
		return btnShiftLunchBreakNext;
	}

	public void setBtnShiftLunchBreakNext(IconButton btnShiftLunchBreakNext) {
		this.btnShiftLunchBreakNext = btnShiftLunchBreakNext;
	}
	
	//spec issue sol
	
	public List<SequenceOsceSubViewImpl> getSequenceOsceSubViewImplList() {
		return sequenceOsceSubViewImplList;
	}
	
	public void setSequenceOsceSubViewImplList(
			List<SequenceOsceSubViewImpl> sequenceOsceSubViewImplList) {
			this.sequenceOsceSubViewImplList = sequenceOsceSubViewImplList;
	}
	
}</pre></td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
<div class="table-responsive-vertical shadow-z-1" style="width: 17.5%; float: right; position: relative;">
        
            <table id="tableFileName" class="table table-hover table-mc-light-blue">
                <thead>
                    <tr>
                        <th>File</th>                            
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td data-title="FileName">OsceDayViewImpl.java</td>
                    </tr>
                </tbody>
            </table>
            <table id="tableDeveloperDecision" class="table table-hover table-mc-light-blue">
                <thead>
                    <tr>
                        <th>Developer's decision</th>                            
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td data-title="DeveloperDecision">Manual</td>
                    </tr>
                </tbody>
            </table>

            <table id="tableKindConflict" class="table table-hover table-mc-light-blue">
                <thead>
                    <tr>
                        <th>Kind of conflict</th>                            
                    </tr>
                </thead>
                <tbody>

                    <tr>
                        <td data-title="KindConflict">Comment</td>
                    </tr>

                    <tr>
                        <td data-title="KindConflict"> Method invocation</td>
                    </tr>

                </tbody>
            </table>
        </div>
            </div>
        </div>
        
        <!-- Última versão JavaScript compilada e minificada -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" ></script>
        <script type="text/javascript" src="script.js"></script>
    </body>
</html>