<html>    <head>        <title>Projects information</title>        <meta charset="UTF-8">        <meta name="viewport" content="width=device-width, initial-scale=1.0">        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">    </head>    <body><h2> <a href = "../../../index.html"> Projects </a> >> <a href = "../AbFab3D.html"> AbFab3D</a> >>2643740df91443c80a89f3e244045f6e201cb641</h2>
        <div id="demo">
            <div class="table-responsive-vertical shadow-z-1">
                <table id="table" class="table table-hover table-mc-light-blue">
                    <thead>
                        <tr>
                            <th>Chunk</th>
                        </tr>
                    </thead>

                </table>
        <div>
<div class="table-responsive-vertical shadow-z-1" style="width: 80%; float: left; position: relative;">
                <!-- Table starts here -->
                <table id="tableConflict" class="table table-hover table-mc-light-blue">
                    <thead>
                        <tr>
                            <th>Conflicting content</th>
                            
                        </tr>
                    </thead>
                    <tbody>

                        <tr>
                            <td data-title="ConflictingContent"><pre>        System.out.println("With ignored voxels on        : " + totalTime1);

    }
<<<<<<< HEAD


=======
    
    public void testPerformance() {
        int size = 300;
        int startIndex = 50;
        int endIndex = 250;

        Grid grid = new SliceGrid(size,size,size,0.001, 0.001, true);

        setX(grid, 0, 0, Grid.INTERIOR, (byte) 1, startIndex+1, endIndex-1);
        setX(grid, 0, 0, Grid.OUTSIDE, (byte) 1, 101, 109);
        
        grid.setData(startIndex,0,0, Grid.EXTERIOR, (byte) 1);
        grid.setData(endIndex,0,0, Grid.EXTERIOR, (byte) 1);
        grid.setData(100,0,0, Grid.EXTERIOR, (byte) 1);
        grid.setData(110,0,0, Grid.EXTERIOR, (byte) 1);

        // Set the paths
        int[][] directions = new int[][] {{-1,0,0}, {1,0,0}, {0,-1,0}, {0,1,0}};
        StraightPath[] paths = new StraightPath[directions.length];
        
        for (int i=0; i<directions.length; i++) {
        	paths[i] = new StraightPath(directions[i]);
        }
        
        //------------------------------------------------------------
        // Can move material one path at a time for all voxels
        //------------------------------------------------------------
        CanMoveMaterial queryOnePath;

        long stime = System.nanoTime();

        for (int j=0; j<paths.length; j++) {
            queryOnePath = new CanMoveMaterial((byte) 1, paths[j]);
            queryOnePath.execute(grid);
        }

        long totalTime1 = System.nanoTime() - stime;
        System.out.println("CanMoveMaterial        : " + totalTime1);
        
        //------------------------------------------------------------
        // Can move material all paths at a time for each voxels
        //------------------------------------------------------------
        stime = System.nanoTime();
        
        CanMoveMaterialAllPaths queryAllPaths = new CanMoveMaterialAllPaths((byte) 1, paths);
        queryAllPaths.execute(grid);
        
        totalTime1 = System.nanoTime() - stime;
        System.out.println("CanMoveMaterialAllPaths: " + totalTime1);
    }
    
>>>>>>> 1a89563a838f2037afd7d186d91dd7a6d4593cc2
    private boolean canMove(Grid grid, int[] dir, byte mat) {
        StraightPath path = new StraightPath(dir);
        CanMoveMaterial query = new CanMoveMaterial(mat, path);</pre></td>
                        </tr>

                    </tbody>
                </table>

                <table id="tableSolution" class="table table-hover table-mc-light-blue">
                    <thead>
                        <tr>
                            <th>Solution content</th>
                            
                        </tr>
                    </thead>
                    <tbody>

<tr>
                            <td data-title="SolutionContent"><pre>        System.out.println("With ignored voxels on        : " + totalTime1);

    }

    public void testPerformance() {
        int size = 300;
        int startIndex = 50;
        int endIndex = 250;

        Grid grid = new SliceGrid(size,size,size,0.001, 0.001, true);

        setX(grid, 0, 0, Grid.INTERIOR, (byte) 1, startIndex+1, endIndex-1);
        setX(grid, 0, 0, Grid.OUTSIDE, (byte) 1, 101, 109);

        grid.setData(startIndex,0,0, Grid.EXTERIOR, (byte) 1);
        grid.setData(endIndex,0,0, Grid.EXTERIOR, (byte) 1);
        grid.setData(100,0,0, Grid.EXTERIOR, (byte) 1);
        grid.setData(110,0,0, Grid.EXTERIOR, (byte) 1);

        // Set the paths
        int[][] directions = new int[][] {{-1,0,0}, {1,0,0}, {0,-1,0}, {0,1,0}};
        StraightPath[] paths = new StraightPath[directions.length];

        for (int i=0; i<directions.length; i++) {
            paths[i] = new StraightPath(directions[i]);
        }

        //------------------------------------------------------------
        // Can move material one path at a time for all voxels
        //------------------------------------------------------------
        CanMoveMaterial queryOnePath;

        long stime = System.nanoTime();

        for (int j=0; j<paths.length; j++) {
            queryOnePath = new CanMoveMaterial((byte) 1, paths[j]);
            queryOnePath.execute(grid);
        }

        long totalTime1 = System.nanoTime() - stime;
        System.out.println("CanMoveMaterial        : " + totalTime1);

        //------------------------------------------------------------
        // Can move material all paths at a time for each voxels
        //------------------------------------------------------------
        stime = System.nanoTime();

        CanMoveMaterialAllPaths queryAllPaths = new CanMoveMaterialAllPaths((byte) 1, paths);
        queryAllPaths.execute(grid);

        totalTime1 = System.nanoTime() - stime;
        System.out.println("CanMoveMaterialAllPaths: " + totalTime1);
    }

    private boolean canMove(Grid grid, int[] dir, byte mat) {
        StraightPath path = new StraightPath(dir);
        CanMoveMaterial query = new CanMoveMaterial(mat, path);</pre></td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
<div class="table-responsive-vertical shadow-z-1" style="width: 17.5%; float: right; position: relative;">
        
            <table id="tableFileName" class="table table-hover table-mc-light-blue">
                <thead>
                    <tr>
                        <th>File</th>                            
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td data-title="FileName">TestCanMoveMaterial.java</td>
                    </tr>
                </tbody>
            </table>
            <table id="tableDeveloperDecision" class="table table-hover table-mc-light-blue">
                <thead>
                    <tr>
                        <th>Developer's decision</th>                            
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td data-title="DeveloperDecision">Version 2</td>
                    </tr>
                </tbody>
            </table>

            <table id="tableKindConflict" class="table table-hover table-mc-light-blue">
                <thead>
                    <tr>
                        <th>Kind of conflict</th>                            
                    </tr>
                </thead>
                <tbody>

                    <tr>
                        <td data-title="KindConflict">Method declaration</td>
                    </tr>

                </tbody>
            </table>
        </div>
            </div>
        </div>
        
        <!-- Última versão JavaScript compilada e minificada -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" ></script>
        <script type="text/javascript" src="script.js"></script>
    </body>
</html>